<section>
  <h2>Kittya</h2>
<p>Kittya shares how fanfiction connected her to her home and culture, the complexities of navigating allocishet media and fanfic communities as a queer person, and how she values and resists gender normativity.</p>
<ul>
  <li><strong>Fandom:</strong> <em>The Legend of Korra</em></li>
  <li><strong>Fanfic Title:</strong> "Marching Ants"</li>
  <li><strong>Age range:</strong> between 18-25</li>
  <li><strong>Gender:</strong> cis woman</li>
  <li><strong>Pronouns:</strong> she/her</li>
  <li><strong>Race and Ethnicity:</strong> Black, Guyanese</li>
  <li><strong>Sexuaity:</strong> Pan Aro-Ace</li>
</ul>
<a class="button" href="{{ url_for('interview_kittya') }}">Interview Transcript</a>
<a class="button" href="https://archiveofourown.org/works/2833961/chapters/6358040">Fanfic</a>
</section>


<section>
<h2>Gillywulf</h2>
<p>Gillywulf shares how she sustained writing 400 vignettes based on audience prompts, how she navigated certain prompts and fanfic trends that made her uncomfortable, and why she values fluff in her writing.</p>
<ul>
  <li><strong>Fandom:</strong> <em>The Legend of Korra</em></li>
  <li><strong>Fanfic Title:</strong> "No Matter The Universe"</li>
  <li><strong>Age range:</strong> N/A</li>
  <li><strong>Gender:</strong> cis-woman</li>
  <li><strong>Pronouns:</strong> she/her</li>
  <li><strong>Race and Ethnicity:</strong> White, Jewish/American/Eastern European</li>
  <li><strong>Sexuaity:</strong> lesbian</li>
</ul>
<a class="button" href="{{ url_for('interview_gw') }}">Interview Transcript</a>
<a class="button" href="https://archiveofourown.org/works/2395991/chapters/5295806">Fanfic</a>
</section>

<section>
<h2>Aria</h2>
<p>Aria shares how she wrote her fic as she was learning about political, class, and queer theory; how these theories are embedded in her text and in fandoms more generally; and why she focused on Korra's trauma, disability, and her connection with Asami.</p>
<ul>
  <li><strong>Fandom:</strong> <em>The Legend of Korra</em></li>
  <li><strong>Fanfic Title:</strong> "Through Pain and Oppression"</li>
  <!--<li><strong>Age range:</strong>between 18-25 </li>
  <li><strong>Gender:</strong> Trans woman</li>
  <li><strong>Pronouns:</strong> she/her</li>
  <li><strong>Race and Ethnicity:</strong> White, American</li>
  <li><strong>Sexuaity:</strong> Bisexual</li>-->
</ul>
<a class="button" href="{{ url_for('interview_aria') }}">Interview Transcript</a>
<a class="button" href="https://archiveofourown.org/works/3583326/chapters/7900731">Fanfic</a>
</section>

<section>
<h2>Writegirl</h2>
<p>Writegirl shares how she wanted to emphasize characters' agency in her writing, her criticisms and excitement about both the show and books, and how she conducted research to better understand characters' psychology.</p>
<ul>
  <li><strong>Fandom:</strong> <em>Game of Thrones</em></li>
  <li><strong>Fanfic Title:</strong> "OtherWhen: Game of Thrones"</li>
  <li><strong>Age range:</strong> between 26-39</li>
  <li><strong>Gender:</strong> woman</li>
  <li><strong>Pronouns:</strong> she/her</li>
  <li><strong>Race and Ethnicity:</strong> mixed race, American</li>
  <li><strong>Sexuaity:</strong> demisexual</li>
</ul>
<a class="button" href="{{ url_for('interview_wg') }}">Interview Transcript</a>
<a class="button" href="https://archiveofourown.org/works/10423077/chapters/44457112">Fanfic</a>
</section>

<section>
<h2>Dialux</h2>
<p>Dialux shares why she decided to racebend characters and potential challenges around this genre, how she connected her culture and cultures near her, and how she incorporated supplementary materials to connect readers to the story.</p>
<ul>
  <li><strong>Fandom:</strong> <em>Game of Thrones</em></li>
  <li><strong>Fanfic Title:</strong> "and we can see the future and the dreams it's made of"</li>
  <!--<li><strong>Age range:</strong> between 26-39</li>
  <li><strong>Gender:</strong> cis woman</li>
  <li><strong>Pronouns:</strong> she/her </li>
  <li><strong>Race and Ethnicity:</strong> Asian, Indian</li>
  <li><strong>Sexuaity: straight</strong></li>-->
</ul>
<a class="button" href="{{ url_for('interview_dia') }}">Interview Transcript</a>
<a class="button" href="https://archiveofourown.org/works/15783822">Fanfic</a>
</section>

<section>
<h2>Valk</h2>
<p>Valk shares why they imagine characters' resisting gender normativity, their perspective on the heteronormative trends in the fandom, and how they explored wish fulfillment through their fic.</p>
<ul>
<li><strong>Fandom:</strong> <em>Game of Thrones</em></li>
<li><strong>Fanfic Title:</strong> "painting works of art</li>
<li><strong>Age range:</strong> between 26-39</li>
<li><strong>Gender:</strong> non-binary</li>
<li><strong>Pronouns:</strong> they/them</li>
<li><strong>Race and Ethnicity:</strong> White, Canadian</li>
<li><strong>Sexuaity:</strong> bisexual</li>
</ul>
<a class="button" href="{{ url_for('interview_valk') }}">Interview Transcript</a>
<a class="button" href="https://archiveofourown.org/works/1054037">Fanfic</a>
</section>
