<table id="interview-results">
    <tr>
       <th>Names</th>
       <th>Aria</th>
       <th>Dialux</th>
       <th>GillyWulf</th>
       <th>Kittya</th>
       <th>Valk</th>
       <th>WriteGirl</th>
       <th>Total</th>
    </tr>
    <tr>
       <th>Number of "Code" Lines</th>
       <td>0</td>
       <td>89</td>
       <td>75</td>
       <td>63</td>
       <td>61</td>
       <td>64</td>
       <td>352</td>
    </tr>
    <tr>
       <th>Number of "Power-Identity" Codes</th>
       <td>0</td>
       <td>30</td>
       <td>32</td>
       <td>46</td>
       <td>42</td>
       <td>23</td>
       <td>173</td>
    </tr>
    <tr>
       <th>Fan Commuunity - Politics</th>
       <td>0</td>
       <td>18</td>
       <td>18</td>
       <td>18</td>
       <td>20</td>
       <td>16</td>
       <td>90</td>
    </tr>
    <tr>
       <th>Fan Commuunity - Doxxing</th>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
    </tr>
    <tr>
       <th>Writing Agency - Reflection</th>
       <td>0</td>
       <td>16</td>
       <td>10</td>
       <td>6</td>
       <td>9</td>
       <td>10</td>
       <td>51</td>
    </tr>
    <tr>
       <th>Writing Agency - Audience</th>
       <td>0</td>
       <td>12</td>
       <td>9</td>
       <td>5</td>
       <td>1</td>
       <td>4</td>
       <td>31</td>
    </tr>
    <tr>
       <th>Writing Agency - Motivation</th>
       <td>0</td>
       <td>8</td>
       <td>14</td>
       <td>8</td>
       <td>6</td>
       <td>7</td>
       <td>43</td>
    </tr>
    <tr>
       <th>Writing Agency - Revising</th>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>1</td>
       <td>2</td>
       <td>3</td>
    </tr>
    <tr>
       <th>Writing Agency - Drafting</th>
       <td>0</td>
       <td>3</td>
       <td>0</td>
       <td>0</td>
       <td>5</td>
       <td>2</td>
       <td>10</td>
    </tr>
    <tr>
       <th>Writing Agency - Research</th>
       <td>0</td>
       <td>6</td>
       <td>1</td>
       <td>0</td>
       <td>1</td>
       <td>3</td>
       <td>11</td>
    </tr>
    <tr>
       <th>Writing Agency - Reception</th>
       <td>0</td>
       <td>4</td>
       <td>7</td>
       <td>0</td>
       <td>2</td>
       <td>9</td>
       <td>22</td>
    </tr>
    <tr>
       <th>Genre - Angst</th>
       <td>0</td>
       <td>3</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>1</td>
       <td>4</td>
    </tr>
    <tr>
       <th>Genre - Fluff</th>
       <td>0</td>
       <td>1</td>
       <td>5</td>
       <td>0</td>
       <td>0</td>
       <td>1</td>
       <td>7</td>
    </tr>
    <tr>
       <th>Genre - Vignette</th>
       <td>0</td>
       <td>0</td>
       <td>7</td>
       <td>0</td>
       <td>0</td>
       <td>2</td>
       <td>9</td>
    </tr>
    <tr>
       <th>Genre - Fix-It</th>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>2</td>
       <td>2</td>
    </tr>
    <tr>
       <th>Genre - Modern Setting</th>
       <td>0</td>
       <td>1</td>
       <td>0</td>
       <td>0</td>
       <td>7</td>
       <td>0</td>
       <td>8</td>
    </tr>
    <tr>
       <th>Genre - Identity Bending</th>
       <td>0</td>
       <td>3</td>
       <td>0</td>
       <td>0</td>
       <td>6</td>
       <td>0</td>
       <td>9</td>
    </tr>
    <tr>
       <th>Genre - Author's Note</th>
       <td>0</td>
       <td>5</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>0</td>
       <td>5</td>
    </tr>
    <tr>
       <th>Genre - Other</th>
       <td>0</td>
       <td>5</td>
       <td>4</td>
       <td>2</td>
       <td>3</td>
       <td>5</td>
       <td>19</td>
    </tr>
    <tr>
       <th>Uptake - Critical</th>
       <td>0</td>
       <td>0</td>
       <td>4</td>
       <td>3</td>
       <td>6</td>
       <td>4</td>
       <td>17</td>
    </tr>
    <tr>
       <th>Uptake - Canon-complicit</th>
       <td>0</td>
       <td>4</td>
       <td>11</td>
       <td>1</td>
       <td>3</td>
       <td>2</td>
       <td>21</td>
    </tr>
    <tr>
       <th>Uptake - Canon-resistant</th>
       <td>0</td>
       <td>5</td>
       <td>3</td>
       <td>0</td>
       <td>1</td>
       <td>7</td>
       <td>16</td>
    </tr>
    <tr>
       <th>Uptake - Implicit-explicit</th>
       <td>0</td>
       <td>2</td>
       <td>2</td>
       <td>4</td>
       <td>7</td>
       <td>3</td>
       <td>18</td>
    </tr>
    <tr>
       <th>Uptake - Fan Practices</th>
       <td>0</td>
       <td>5</td>
       <td>6</td>
       <td>1</td>
       <td>4</td>
       <td>5</td>
       <td>21</td>
    </tr>
    <tr>
       <th>Canon - Critique</th>
       <td>0</td>
       <td>6</td>
       <td>2</td>
       <td>7</td>
       <td>3</td>
       <td>9</td>
       <td>27</td>
    </tr>
    <tr>
       <th>Canon - Compliment</th>
       <td>0</td>
       <td>3</td>
       <td>7</td>
       <td>7</td>
       <td>6</td>
       <td>2</td>
       <td>25</td>
    </tr>
    <tr>
       <th>Canon - Relation</th>
       <td>0</td>
       <td>2</td>
       <td>4</td>
       <td>10</td>
       <td>0</td>
       <td>0</td>
       <td>16</td>
    </tr>
    <tr>
       <th>Power - LGBTQplus</th>
       <td>0</td>
       <td>1</td>
       <td>17</td>
       <td>6</td>
       <td>16</td>
       <td>0</td>
       <td>40</td>
    </tr>
    <tr>
       <th>Power - Homophobia/Transphobia</th>
       <td>0</td>
       <td>0</td>
       <td>2</td>
       <td>4</td>
       <td>4</td>
       <td>0</td>
       <td>10</td>
    </tr>
    <tr>
       <th>Power - Heteronormativty</th>
       <td>0</td>
       <td>2</td>
       <td>4</td>
       <td>6</td>
       <td>10</td>
       <td>1</td>
       <td>23</td>
    </tr>
    <tr>
       <th>Power - Racism</th>
       <td>0</td>
       <td>1</td>
       <td>1</td>
       <td>7</td>
       <td>0</td>
       <td>4</td>
       <td>13</td>
    </tr>
    <tr>
       <th>Power - Antiracism</th>
       <td>0</td>
       <td>0</td>
       <td>2</td>
       <td>3</td>
       <td>0</td>
       <td>5</td>
       <td>10</td>
    </tr>
    <tr>
       <th>Power - Sexism</th>
       <td>0</td>
       <td>2</td>
       <td>1</td>
       <td>2</td>
       <td>4</td>
       <td>1</td>
       <td>10</td>
    </tr>
    <tr>
       <th>Power - Feminism</th>
       <td>0</td>
       <td>7</td>
       <td>2</td>
       <td>6</td>
       <td>5</td>
       <td>6</td>
       <td>26</td>
    </tr>
    <tr>
       <th>Power - Class</th>
       <td>0</td>
       <td>0</td>
       <td>1</td>
       <td>0</td>
       <td>0</td>
       <td>3</td>
       <td>4</td>
    </tr>
    <tr>
       <th>Power - Disability</th>
       <td>0</td>
       <td>0</td>
       <td>2</td>
       <td>3</td>
       <td>2</td>
       <td>0</td>
       <td>7</td>
    </tr>
    <tr>
       <th>Power - Abelism</th>
       <td>0</td>
       <td>0</td>
       <td>1</td>
       <td>2</td>
       <td>1</td>
       <td>0</td>
       <td>4</td>
    </tr>
    <tr>
       <th>Power - Cultural Difference</th>
       <td>0</td>
       <td>16</td>
       <td>0</td>
       <td>9</td>
       <td>0</td>
       <td>0</td>
       <td>25</td>
    </tr>
    <tr>
       <th>Power - Other</th>
       <td>0</td>
       <td>3</td>
       <td>2</td>
       <td>5</td>
       <td>3</td>
       <td>5</td>
       <td>18</td>
    </tr>
 </table>
