<div class="topnav">
  <div>
    <a href="{{ url_for('home') }}" class="header"><img class="logo" src="{{url_for('static', filename='images/CFT_Logo.png')}}"  alt="Logo for the Critical Fan Toolkit. The letters CFT, written in silver, are surrounded by a silver hexagon.">
The Critical Fan Toolkit</a></div>

    {% if current_user.is_authenticated %}
    <a href="{{ url_for('logout') }}" class="butt">Logout</a>
    <a href="{{ url_for('dashboard') }}" class="butt">Dashboard</a>
    {% else %}
    <a href="{{ url_for('login') }}" class="butt">Login</a>
    <a href="{{ url_for('register') }}" class="butt">Register</a>
    {% endif %}
</div>

<div class="sidenav">
  <a href="{{ url_for('about') }}" class="side-button">About</a>
  <a href="{{ url_for('ffd_numbers') }}" class="side-button">Fandoms by Numbers</a>
  <a href="{{ url_for('interviews') }}" class="side-button">Interviews with Fans</a>
  <a href="{{ url_for('cf_analysis') }}" class="side-button">Critical Fan Analysis</a>
  <a href="{{ url_for('teaching') }}" class="side-button">Teaching Materials</a>

  <!-- DROPDOWN: ABOUT THIS DISS -->
  <button class="dropdown-btn">About this Dissertation +
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="{{ url_for('dis_framework') }}">Framework</a>
    <a href="{{ url_for('dis_lit_review') }}">Literature Review</a>
    <a href="{{ url_for('dis_methods') }}">Methods</a>
    <a href="{{ url_for('dis_computational_essays') }}">Computational Essays</a>
    <a href="{{ url_for('dis_about_cara') }}">About the Author</a>
    <a href="{{ url_for('dis_acknowledgements') }}">Acknowledgements</a>
  </div>

    <a href="{{ url_for('bibliography') }}" class="side-button">Bibliography</a>

</div>
