<div class="topnav">

  <button class="openbtn" onclick="openNav()">☰ Menu</button>
  <button class="openbtnGloss" onclick="openGlossNav()">☰ Glossary</button>

    <a href="{{ url_for('home') }}" class="header"><img class="logo" src="{{url_for('static', filename='images/Small-Shield_Blue.png')}}"  alt="A small version of the logo for the Critical Fan Toolkit. It depicts a shield with the letters 'cft' in the middle.">The Critical Fan Toolkit</a>

</div>



<div id="mySidebar" class="sidebar">
  <button onclick="closeNav()" class="closebtn">x</button>
  <center>
    <a href="{{ url_for('homepath_fan') }}" class="path-button">Fans</a>
    <a href="{{ url_for('dis_home') }}" class="path-button">Scholars</a>
    <a href="{{ url_for('homepath_teacher') }}" class="path-button">Teachers</a>
  <center>
  <a href="{{ url_for('about') }}" class="sidebutton">About</a>
  <a href="{{ url_for('ffd_numbers') }}" class="sidebutton">Fandoms by Numbers</a>
  <a href="{{ url_for('interviews') }}" class="sidebutton">Interviews with Fans</a>
  <a href="{{ url_for('bp_home') }}" class="sidebutton">Critical Fan Case Studies</a>
  <a href="{{ url_for('teaching') }}" class="sidebutton">Teaching Resources</a>
  <a href="{{ url_for('dis_home') }}" class="sidebutton">Disseration Materials</a>
  <a href="{{ url_for('bibliography') }}" class="sidebutton">Bibliography</a>
  <br>
<center>
<!-- <div class="signin-div">
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('logout') }}" class="engage">Logout</a>
    <a href="{{ url_for('dashboard') }}" class="engage">Dashboard</a>
    {% else %}
    <a href="{{ url_for('login') }}" class="engage">Login</a>
    <a href="{{ url_for('register') }}" class="engage">Register</a>
    {% endif %}
</div> -->
  <a class="feedback" href="https://docs.google.com/forms/d/e/1FAIpQLScwGqiubQVqV3IapQmGdz3oDcDZRntaXNqEAhNO7KVbrPP8iA/viewform">Give feedback</a>

<img height="150px" style="padding: 10px 10px 0px 0px" src="{{url_for('static', filename='images/Shield_Multicolor-Purple.png')}}" alt="This shows the larger logo for the Critical Fan Toolkit, which is an ornate shield that has the letters 'CFT' circled in the middle."/>

</center>
<div id="glossary" class="glossary"></div>

</div>
