{% extends 'layout.html' %}

{% block body %}

<h1>Fandoms by Numbers</h1>
<section><p><em>The Legend of Korra</em> (TLoK) and <em>Game of Thrones</em> (GoT) online fanfiction communities on <em>Archive of Our Own</em> are vastly different. These different slides offer glimpses into the different stories and ideologies each fandom offers.</p>

<p><a href="/fanfic_data/fandom_by_numbers_analysis">Read a more in-depth analysis of generalized patterns in the fandom here.</a></p>
</section>

<section>
  <a class="button" data-toggle="collapse" href="#TLoKexample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Click To Learn About the TLoK Fandom
      </a>

<div class="collapse" id="TLoKexample">
  <center>
  <div id="carousel1" class="carousel slide" data-ride="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block" src="{{url_for('static', filename='images/tlok-publishing-trends.png')}}" alt="A linegraph visualization of The Legend of Korra fanfiction publishing trends; the peak publishing months were around the end of 2014 and early 2015">
      <div class="carousel-caption">
          <h2><title>The Legend of Korra</title> Publishing Trends</h2>
          <p>Publishing activity in TLoK fluctuates often. The first spike of publishing activity is around June 2012, when TLoK first aired. Fans actually had content to work with then, which explains the uptick in publishing rates.</p>
          <p>The next spike in fan engagement is around February 2013. TLoK was originally supposed to be one season, which explains why there is no continuity in the narratives across all four season. However, season 2 did not air until late 2013, so the spike in February 2013 may be because the show was announced to come back, again stirring excitement within the fan community. When season 2 actually aired in late 2013, fans engagement barely rose; this may be because season 2 was widely unpopular in TLoK fandom.</p>

        </div>
    </div>

    <div class="carousel-item">
      <img class="d-block" src="{{url_for('static', filename='images/tlok-publishing-trends-season3-4.png')}}" alt="A zoomed in focus on TLoK fanfiction publishing trends from May 2014 to May 2015, when there were huge spikes in fan engagement due to the releases of Season 3 and Season 4; the month with the most amount of fan engagement is January 2015, the month right after Korra and Asami's romantic relationship is confirmed canon.">
      <div class="carousel-caption">
          <h2><title>The Legend of Korra</title> Seasons 3 and 4</h2>
          <p>TLoK seasons 3 and 4 brought another spike in fan engagement. Season 3 aired in June 2014, while Season 4 aired in October 2014.</p>
          <p>What made seasons 3 and 4 so special was the writers' choices to develop Korra and Asami's relationship. Towards the end of season 3, Korra survives a battle and is left traumatized both physically and emotionally. While helping Korra get ready for a celebration, Asami puts her hand on Korra's and says "I want you to know that I’m here for you, if you ever want to talk, or - anything." Fans began to read into this interaction, seeing a new possible romance budding between Korra and Asami</p>
          <p>Season 4–which aired from October to December 2013–continued a similar trajectory, dropping hints that Korra and Asami may see each other as more than friends. Fans picked up on this subtext, and the amount of fanfictions published spiked. Finally, at the end of Season 4 in December 2014, Korra and Asami's romance seemed to be confirmed canon. January 2015 brought the highest spike of fan engagements when almost 400 new fanfictions were written.</p>
        </div>
    </div>

    <div class="carousel-item">
      <img class="d-block" src="{{url_for('static', filename='images/tlok-relationship-categories.png')}}" alt="A bargraph visualization of trends romantic pairings such as F/F for female/female or M/M for male male in The Legend of Korra fanfics across publishing dates. In earlier seasons, Female/Male and General pairings were more popular, but in later seasons, Female/Female became much more popular.">
      <div class="carousel-caption">
          <h2><title>The Legend of Korra</title> Relationship Categories</h2>
          <p>Relationship categories show the general gender pairings represented in the fic. Season 1 begins with depicting only heterosexual relationships, so F/M (female/male) are the most popular relationship categories.</p>
          <p>However, as the seasons continue, especially around season 3, Korra and Mako's relationship falls apart, while Korra's relationship with Asami grows stronger. There is a huge uptick in F/F (female/female) relationship categories after Korra and Asami's relationship is confirmed canon, demonstrating the power this moment had over fans.</p>
          <p>The data is broken to three sections: fanfictions that were published before Korra/Asami's romantic relationship–and therefore that they are both bisexual–become canon, when their relationship is subtextual, and finally after they become canon.</p>
        </div>
    </div>

    <div class="carousel-item">
      <img class="d-block" src="{{url_for('static', filename='images/tlok-relationship-tags.png')}}" alt="A bargraph of some of the most popular relationship tags in TLoK fanfictions across time: Korra/Asami, Korra/Mako, Mako/Prince Wu/ Mako/Asami, and Korra/Tahno.">
      <div class="carousel-caption">
          <h2><title>The Legend of Korra</title> Popular Relationship Tags</h2>
          <p>While the previous graph demonstrated general trends in relationship categories according to gender, this visualization looks more in-depth at some of the most popular ships in TLoK fandom. These are not all the popular ships (for example, Varrick and Zhu Li is missing), but these have been chosen to demostrate changes in the fandom over time.</p>
          <p>In the earlier seasons (in the pre-Korrasami corpus), Korra and Mako are the most popular ship, as expected; they are the main couple in the show, after all. Even in later seasons, the Korra/Mako ship still appears. For example, in the post-Korrasami corpus, 121 fics publish with the Korra/Mako tag. Korra and Tahno (male) are another semi-popular ship; they were rivals in the show, and tension between may have capivated some of the fans.</p>
          <p>There are a few other semi-popular ships in the later seasons, particularly around season 4. Mako and Prince Wu (male) become more well-used as Mako acts as Wu's body guard. Korra and Kuvira (female) are another popular ship; similar to Korra and Tahno, Korra and Kuvira are rivals, but in the show Korra sees herself in Kuvira and empathizes with her pain. Fans pick up on this tension and explore their relationship further (jumping from only 5 fics who use the Korra/Kuvira tag to 63 fics.</p>
          <p>Finally, Korra and Asami's ship jumps in popularity around Season 3 and 4 (subtext-Korrasami corpus), demonstrating that fans were taking up the subtextual possibilities and reading into their interactions as potentially romantic. When the fans' readings were proven correct in the series finale, the amount of Korra/Asami fanfics skyrocketed (post-Korrasami corpus).</p>
        </div>
    </div>

    <div class="carousel-item">
      <img class="d-block" src="{{url_for('static', filename='images/tlok-additional-tags.png')}}" alt="A bargraph of some of the most popular additional tags across time, including fluff, romance, canon compliant, canon queer relationship, angst, femslash, and more. The bargraph shows the percetanges of these tags used compared to the rest of the tags in that corpus. ">
      <div class="carousel-caption">
          <h2><title>The Legend of Korra</title> Popular Additional Tags</h2>
          <p>Relationship tags are crucial for understanding a fandom, but so are the additional tags. Many of TLoK fanfiction additional tags stay the same across time. This visualization shows the percantage of a particular tag used in relation to the rest of the additional tags used in each corpus.</p>
          <p>For some of the most frequently used tags, like "fluff" and "angst," both tags that appear across fandoms, there are slight differences in their percentage of use across the three corpora.</p>
          <p>There is also a huge spike in "canon compliant" additional tags in the post-Korrasami corpus, which means the fanfic author is following the original text. This suggests again that fans were responding positively to the series finale and Korra and Asami's relationship.</p>
          <p>The additional tag "canon character of color" seemed to be used more frequently in the pre-Korrasami corpus, while it is less frequnt in the other two corpora. This may be because there was less of a need to mark up "canon character of color" as TLoK became more popular, thus normalizing a main character of color. Meanwhile, "canon queer relationship" as well as "canon queer character of color" (not dispalyed) appear in the post-Korrasami series finale.</p>
          </div>
          </div>

          <div class="carousel-item">
            <img class="d-block" src="{{url_for('static', filename='images/tlok-additional-tags-zoomed.png')}}" alt="A bargraph that looks at some of the most popular AO3 tags used in The Legend of Korra fanfics: smut, fluff, alternate universe, and angst.">
            <div class="carousel-caption">
              <h2>Popular <em>Archive of Our Own</em> Tags Used in TLoK Fanfics</h2>
              <p>The most glaring difference, though, is that fluff was used much less often in the earlier seasons than in the later seasons. In the post-Korrasami corpus, fluff became the most widely-used tag. Fluff indicates that the story is supposed to have a similar sensation to being "fluffy," in that it usually centers around warm-and-fuzzy feelings. Fluff is usually used in romantic stories to represent a cozy romance. Many of the fanfic writers may have used fluff as a response to the happy ending of TLoK–both happy in the sense that the show ended on a high note, but also happy in that a queer relationship was actually confirmed canon.</p>
              <p>The percentage of fanfics that used the additional tag "angst" also increases. Angst fics typically revolve around feelings of angst, including depression, anxiety, fear, and pain.
              <p>Romance is used fairly consistently, as romance is often a central focus in fanfiction. It is also often paired with other genre tags, such as angst and fluff. However, using the romance tag indicates to readers that the fic will heavily revolve around romance.</p>
              <p>Finally, smut is used less often in the post-Korrasami corpus as compared to the other corpora. Smut is an additional tag that implies written, explicit sex. Even though the number of fics skyrocketed in the post-Korrasami corpus and most of them revolved around Korra and Asami, smut was used less often, implying explicit sex was generally less of the authors' interest in writing their relationship and romance. While writing about sex, especially queer sex, is powerful, authors were more focused on the other aspects of relationships besides sex.</p>
                </div>
    </div>

  <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
</div>

</center>
</div>
</section>


<section>
  <a class="button" data-toggle="collapse" href="#GoTexample" role="button" aria-expanded="false" aria-controls="collapseExample">Click To Learn About the GoT Fandom</a>

<div class="collapse" id="GoTexample">
  <p><strong>More to come soon!</strong></p>
<!-- <center>
  <div id="carousel-2" class="carousel slide" data-ride="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block" src="{{url_for('static', filename='images/got-relationship-categories.png')}}" alt="First slide">
      <div class="carousel-caption">
          <h2>Caption Title</h2>
          <p>CAPTION</p>
        </div>
    </div>

    <div class="carousel-item">
      <img class="d-block" src="{{url_for('static', filename='images/got-relationship-categories.png')}}" alt="Second slide">
      <div class="carousel-caption">
        <h2>Caption Title</h2>
        <p>CAPTION</p>
        </div>
    </div>

  <a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
</div>

</center> -->
</section>


<!-- <p>For both TLoK and GoT, we can trace the changes in categories used across time according to different published dates. To read more about how the data was collected and organized, visit the <a href="/about_dissertation/methods">methods description of this project</a>. -->




{% endblock %}
