{% extends 'layout.html' %}

{% block body %}
<article>
<h1>Fandoms by Numbers</h1>
<p>Both <em>The Legend of Korra</em> (TLoK) and <em>Game of Thrones</em> (GoT) fanfics follow different patterns across time. This page demonstrates how fans respond to different canonical events in the show through the use of the fanfics metadata. By tracing patterns across time and comparing these patterns to canonical content being aired at that time, I discuss the mainstream fan practices and how these practices may or may not reflect critical fan practices. These choices reveal how fans resist or embrace values represented in the original shows.</p>
<p>By examining larger data trends in fanfiction, I encourage readers to begin thinking about why particular practices appeal to particular fandoms. For example, why do the GoT fanfics typically prioritize depicting female/male (F/M) romances, while TLoK fanfics more often use female/female (F/F)? One answer may be that these shows lend to these different types of romantic relationships. TLoK ends with Korra and Asami (both women characters) revealing their romantic feelings to the audience, while most GoT canonical romantic pairings are between men and women characters. Fans of these shows may be replicating the romantic values, from the types of romantic relationships represented to <em>how</em> those romantic relationships are represented, shown in the shows. </p>

<h2>Relationship Categories</h2>
<p>While not all fanfics focus around romantic stories, many do! Depictions of romance are important to focus on when discussing critical fan practices and how larger trends in these practices show how fans are resisting or embracing particular values. What do the categories that fanfic writers choose reveal about their particular values?</p>
<p>On Archive of Our Own, when fanfic writers post their stories, they choose several types of data and information to publicize their own. "Categories" are the categories for sexual pairings depicted in the fanfic. To read more about "categories" as well as other types of information fanfic writers choose when publishing their work, visit <a href="https://archiveofourown.org/faq/tutorial-posting-a-work-on-ao3?language_id=en#pwtcategory">AO3's tutorial on posting fanfics</a>. There are seven categories in total, of which fan writers may only pick <em>one</em>:
  <ul>
    <li><strong>F/F:</strong> female/female</li>
     <li><strong>F/M:</strong> female/male</li>
     <li><strong>M/M:</strong> male/male</li>
     <li><strong>Multi:</strong> multiple types of pairings</li>
     <li><strong>Gen:</strong> no romantic pairings represented</li>
       <li><strong>Other:</strong> other types of relationships that do not fit in the male/female binary</li>
    </ul>
</p>

<p>For both TLoK and GoT, we can trace the changes in categories used across time according to different published dates. To read more about how the data was collected and organized, visit the <a href="/about_dissertation/methods">methods description of this project</a>.

<h3><em>The Legend of Korra</em> Relationship Categories</h3>
<p>TLoK is a unique case to trace the shift in categories used in fanfics. TLoK in season 1 begins with depicting a hetero relationship between Korra (female character) and Mako (male character). However, as the seasons continue, especially around season 3, Korra and Mako's relationship falls apart, while Korra's relationship with Asami grows stronger.</p>

<p>These three graphs demonstrate the change over time in TLoK fanfics published according to the series airing dates timeline. "Korrasami" is the ship name for Korra and Asami. The "Before Korrasami" graph represents fanfics published from the beginning of the show being advertised to around July 2014, which was towards the end of season 3, when there seemed to be subtext implying Korra and Asami may be romantically interested in one another. The "Korrasami Subtext" represents fics published between August–November 2014, which are fics published after the third season and before the fourth season and the series finale aired. Finally, the "Post Korrasami" graph shows the fanics published from December 2014 and beyond, when the series finale aired on Nick.com</p>
<p>The graph demonstrates a massive shift in romantic categories from seasons 1 and 2 to seasons 3 and 4. The Before Korrasami graph shows that F/M was the highest category used, with Gen coming in a close second. Before Korrasami became a fan favorite ship, fanfiction writers were more focused around depictions of hetero relationships, whether those were Korra and Mako, Korra paired with another male character, or other hetero relationships.</p>
<p>The canonical show around season 3 began to care less about Korra and Mako's relationship, and focus more on Korra's individual journey. As she does, she also becomes closer with Asami. The Korrasami ship became much more popular as their friendship grew, and they spent more air time together. In the season 3 finale, Asami helps a traumatized–physically and emotionally–Korra get ready for a ceremony, and promises to help her any way she can. As the data demonstrates, fans began to care more about F/F realtionships during and after season 3, although F/M fanfics were still published almost as often.</p>
<p>The final graph, when Korrasami is confirmed canon in the show, demonstrates the impact of Korrasami being confirmed canon. There were almost 1400 fanfics published on December 2014 and beyond that use the F/F category, while there are only about 500 F/M fanfics published. The canon confirmation of Korrasami inspired the fan community, and the results are fairly clear: fans were thrilled with the depiction of two women characters romantically involved.</p>
<p>While these data trends reflect the canonical show, it is crucial to remember that fans do not only follow the canon. As the Before Korrasami graph shows, there were still fans who wrote about M/M and F/F relationships in their fanfics. Fans do not always embrace heteronormativity just because the original show or text does; in fact, fans will often resist the heteronormativity represented in the show to explore diverse and queer sexualities.</p>

<h3><em>Game of Thrones</em> Relationship Categories</h3>

<p><strong>More to come soon!</strong></p>

</article>

{% endblock %}
