{% extends 'layout.html' %}

{% block body %}

<article>
  <section><h1>About the Critical Fan Toolkit</h1>
<p>The Critical Fan Toolkit is a dissertation project created by Cara Marta Messina, who is a Ph.D. candidate in the English department (focusing on Writng and Rhetoric) at Northeastern University. The goal of the toolkit is to identify, define, support, and celebrate critical fan practices.</p></section>

<section>

<h2>Who Are Critical Fans?</h2>
<p><strong>Critical fans</strong> are fans of any cultural material or icon(s) who challenge or subvert systems of oppression–such as racism, misogyny, heteronormativity, homophobia, and ableism–through their everyday fan engagements, such as writing/reading fanfiction, posting on forums, and creating fan art. The phrase "critical fans" comes from the works of Paul Booth, Alexis Lothian, and andré carrington, as they each point to how fans can resist forms of opression. To read more about this project's framework,<a href="/about_dissertation/framework"> visit the framework page (now available)</a>.</p>
<p>This toolkit is a collection of resources: interactive data from <em>Archive of Our Own</em>, interviews from fans who implement critical practices into their everyday work, guides for fans who want to continue investing in challenging systems of oppression, and teaching materials. To begin exploring, choose what role you identify with most at the moment you are using this toolkit. For example, if you are both a fanfiction writer and a teacher, choose whichever role you will find more valuable to begin exploring.</p>
</section>

<p><strong>More to come soon!</strong></p>
</article>

{% endblock %}
