{% extends 'layout.html' %}

{% block body %}

<h1>Bibliography</h1>
<p>The bibliography is currently a work in progress. This bibliography uses the American Phsychology Association (APA) citation format. While many of these sources include links, some of the full text will be behind paywalls. Texts from <cite>Transformative Works and Cultures</cite>, <cite>Kairos: A Journal of Rhetoric, Technology, and Pedagogy</cite>, and <cite>Buzzfeed News</cite> are open access. </p>
<h2>Academic Sources</h2>
<ol>
   <li>
      <p>Adewunmi, B. (2016, November 13). <a href="https://www.buzzfeednews.com/article/bimadewunmi/how-fanfic-helps-black-women-create-the-stories-tv-cant">Why “The Walking Dead” Has Become Fanfiction’s Muse</a>. Retrieved April 5, 2019, from <cite>BuzzFeed News</cite></p>
   </li>

   <li>
      <p>Applegarth, R. (2014). <cite>Rhetoric in American anthropology: gender, genre, and science</cite>. Pittsburgh, Pa: University of Pittsburgh Press.</p>
   </li>

   <li>
      <p>Black, R. W. (2008). <cite>Adolescents and online fan fiction</cite>. New York: Peter Lang.</p>
   </li>

   <li>
      <p>Black, R. W. (2009). English-Language Learners, Fan Communities, and 21st-Century Skills. <cite>Journal of Adolescent & Adult Literacy</cite>, 52(8), 688–697.</p>
   </li>

   <li>
      <p>Booth, P. J. (2014). <a href="http://journal.transformativeworks.org/index.php/twc/article/view/650">Fandom: The classroom of the future.</a> <cite>Transformative Works and Cultures</cite>, 19(0).</p>
   </li>

   <li>
      <p>carrington, a. (2013). Dreaming in Colour: Fan Fiction as Critical Reception. In R. A. Lind (Ed.), <cite>Race/gender/class/media 3.0: considering diversity across content, audiences and production</cite> (3rd ed, pp. 95–101). Boston: Pearson.</p>
   </li>

   <li>
      <p>De Kosnik, A., & carrington, andré. (2019). <a href="https://doi.org/10.3983/twc.2019.1783">Fans of Color, Fandoms of Color Editorial</a>. <cite>Transformative Works and Cultures</cite>, (29).</p>
   </li>

   <li>
      <p>DeLuca, K. (2018). <a href="https://doi.org/10.1016/j.compcom.2017.12.003">Shared Passions, Shared Compositions: Online Fandom Communities and Affinity Groups as Sites for Public Writing Pedagogy</a>. <cite>Computers and Composition</cite>, 47, 75–92.</p>
   </li>

   <li>
      <p>DeLuca, K. (2018). <a href="https://doi.org/10.1016/j.compcom.2017.12.003">Shared Passions, Shared Compositions: Online Fandom Communities and Affinity Groups as Sites for Public Writing Pedagogy</a>. <cite>Computers and Composition</cite>, 47, 75–92.</p>
   </li>

   <li>
     <p>Dym, B., Brubaker, J., & Fiesler, C. (2018). <a href="http://gamestudies.org/1803/articles/brubaker_dym_fiesler">“theyre all trans sharon”: Authoring Gender in Video Game Fan Fiction</a>. <cite>Game Studies</cite>, 18(3).</p>
  </li>

  <li>
    <p>Freadman, A. (1994). Anyone for tennis? In A. Freedman & P. Medway (Eds.), <cite>Genre in the New Rhetoric</cite>. London ; Bristol, PA: Taylor & Francis.</p>
 </li>

 <li>
   <p> Freadman, A. (2002). Uptake. In <cite>The Rhetoric and Ideology of Genre: Strategies for Stability and Change</cite> (pp. 39–53). Cresskill, NJ: Hampton Press.
.</p>
</li>

 <li>
   <p>Freire, P. (2000). <cite>Pedagogy of the oppressed (30th anniversary ed)</cite>. New York: Continuum.</p>
</li>

  <li>
    <p>Gutiérrez, K. D. (2008). <a href="https://doi.org/10.1598/RRQ.43.2.3">Developing a sociocritical literacy in the <em>Third Space</em></a>. <cite>Reading Research Quarterly</cite>, 43(2), 148–164.</p>
 </li>

 <li>
   <p>Hellekson, K., & Busse, K. (Eds.). (2014). <cite>The Fan Fiction Studies Reader</cite>. Iowa City: University of Iowa Press.</p>
</li>

 <li>
   <p>Jenkins, H. (1992/2014). Textual poachers. In K. Hellekson & K. Busse (Eds.), <cite>The Fan Fiction Studies Reader</cite>. Iowa City: University of Iowa Press.</p>
</li>

<li>
  <p>Lamb, P. F., & Vieth, D. I. (2014). Romantic myth, transcendence, and Star Trek zines. In K. Hellekson & K. Busse (Eds.), <cite>The Fan Fiction Studies Reader</cite>. Iowa City: University of Iowa Press.</p>
</li>

<li>
  <p>Lothian, A. (2018). <a href="https://doi.org/10.1353/aq.2018.0027">From Transformative Works to #transformDH: Digital Humanities as (Critical) Fandom</a>. <cite>American Quarterly</cite>, 70(3), 371–393.</p>
</li>

<li>
  <p>Miller, C. R. (1984). Genre as social action. <cite>Quarterly Journal of Speech</cite>, 70, 151-167</p>
</li>

<li>
  <p>Paré, A. (2002). Genre and identity: Individuals, institutions, and ideology. In R. M. Coe, L. Lingard, & T. Teslenko (Eds.), <cite>The Rhetoric and Ideology of Genre: Strategies for Stability and Change</cite>. Cresskill, N.J: Hampton Press.</p>
</li>

<li>
  <p>Potts, L. (2015). <a href="http://kairos.technorhetoric.net/19.3/topoi/potts/">Can’t stop the fandom: Writing participation in the firefly ’verse</a>. <cite>Kairos: A Journal of Rhetoric, Technology, and Pedagogy</cite>, 19(3).</p>
</li>

<li>
  <p>Roozen, K. (2009). “Fan Fic-ing” English studies: A case study exploring the interplay of vernacular literacies and disciplinary engagement. <cite>Research in the Teaching of English</cite>, 44(2), 136–169.</p>
</li>

<li>
  <p>Roozen, K., & Erickson, J. (2017). <cite><a href="http://ccdigitalpress.org/expanding/">Expanding literate landscapes: Persons, practices, and sociohistoric perspectives of disciplinary development</a></cite>. Logan, UT: Computers and Composition Digital Press/Utah State University Press.</p>
</li>

<li>
  <p>Russ, J. (2014). Pornography by women for women, with love. In K. Hellekson & K. Busse (Eds.), <cite>The Fan Fiction Studies Reader</cite>. Iowa City: University of Iowa Press.</p>
</li>

<li>
  <p>Stedman, K. D. (2012). <a href="https://doi.org/10.1016/j.compcom.2012.02.002">Remix Literacy and Fan Compositions</a>. <cite>Computers and Composition</cite>, 29(2), 107–123.</p>
</li>

<li>
  <p>Summers, S. (2010). <a href="https://doi.org/10.1016/j.compcom.2010.09.006">“Twilight is so anti-feminist that I want to cry:” Twilight fans finding and defining feminism on the World Wide Web</a>. <cite>Computers and Composition</cite>, 27(4), 315–323.</p>
</li>

<li>
  <p>Thomas, E. E. (2019). <cite>The dark fantastic: Race and the imagination from <em>Harry Potter</em> to the <em>Hunger games</em></cite>. New York: New York University Press.</p>
</li>

<li>
  <p>Thomas, E. E., & Stornaiuolo, A. (2016). <a href="https://doi.org/10.17763/1943-5045-86.3.313">Restorying the self: Bending toward textual justice</a>. <cite>Harvard Educational Review</cite>, 86(3), 313–338.</p>
</li>

<li>
  <p>Thomas, E. E. (2019, May 17). <a href="http://thedarkfantastic.blogspot.com/2019/05/missandei-too-deserves-her-song-dark.html">Missandei, Too, Deserves Her Song – A Dark Fantastic Lament</a>. Retrieved May 31, 2019, from <cite>The Dark Fantastic</cite></p>
</li>

</ol>

<h2>Primary Sources: Fan Work (Coming Soon)</h2>
<p>Coming soon!</p>

{% endblock %}
