{% extends 'layout.html' %}

{% block body %}
  <h1>Citing the Critical Fan Toolkit</h1>

  <p>If you would like to cite the Critical Fan Toolkit, use this information and place it into the proper citation format.</p>
  <ul>
    <li><strong>Source type</strong>: Doctoral dissertation.</li>
    <li><strong>Title</strong>: <cite>The Critical Fan Toolkit: Fanfiction Genres, Pedagogies, and Ideologies</cite>.</li>
    <li><strong>Author</strong>: Cara Marta Messina.</li>
    <li><strong>University</strong>: Northeastern University.</li>
    <li><strong>Location</strong>: Boston, MA.</li>
    <li><strong>Defense date</strong>: March 25, 2021.</li>
    <li><strong>URL</strong>: http://criticalfantoolkit.org</li>
  </ul>

  <h2>Bibliography Examples</h2>
  <blockquote><strong>APA Format</strong>: Messina, C. M. (2021). <cite>The critical fan toolkit: Fanfiction genres, pedagogies, and ideologies</cite> [Doctoral Dissertation, Northeastern University]. http://criticalfantoolkit.org.</blockquote>
<blockquote><strong>MLA Format</strong>: Messina, Cara Marta. <cite>The Critical Fan Toolkit: Fanfiction Genres, Pedagogies, and Ideologies</cite>. Northeastern University, 2021, http://criticalfantoolkit.org.</blockquote>

<h2>In-Text Citation Examples</h2>
<p><strong>APA Format</strong>: (Messina, 2021)
<p><strong>MLA Format</strong>: (Messina)

<h2>Specific Pages</h2>
<p>There is no official way to cite specific chapters of a dissertation or thesis, which is how I would recommend citing particular webpages. However, to borrow from both the methods for citing webpages and the methods for citing book chapters, I think you can use quotation marks to cite the particular webpage you are on.</p>
<p>For instance, if you only want to cite one of the "<strong>Critical Fan Case Studies</strong>", it may look like this:</p>
<blockquote>
<strong>APA Format</strong>: Messina, C. M. (2021). ''Missandei deserves better:' Loving Blackness through critical (anti)fan uptakes and disruptakes. <cite>The critical fan toolkit: Fanfiction genres, pedagogies, and ideologies</cite> [Doctoral Dissertation, Northeastern University]. http://www.criticalfantoolkit.org/case_studies/missandei_deserves_better.
</blockquote>
<blockquote><strong>MLA Format</strong>: Messina, Cara Marta. "'Missandei Deserves Better:' Loving Blackness through Critical (Anti)Fan Uptakes and Disruptakes"<cite>The Critical Fan Toolkit: Fanfiction Genres, Pedagogies, and Ideologies</cite>. Northeastern University, 2021, http://www.criticalfantoolkit.org/case_studies/missandei_deserves_better.</blockquote>
{% endblock %}
