{% extends 'layout.html' %}

{% block body %}
  <h1>Welcome {{ current_user.username }}!</h1>

  <hr>
  <p style="text-align: left">Thank you, {{ current_user.username }}, for stopping by! There are a ton of different resources you can explore, from different interactive visualizations of fanfiction data to reading the perspectives from fans, themselves. </p>
<p>If you run into any errors, have any ideas, or want to share your experience, I have created a user experience form:</p>
<center><a class="path-button" href="https://docs.google.com/forms/d/e/1FAIpQLScwGqiubQVqV3IapQmGdz3oDcDZRntaXNqEAhNO7KVbrPP8iA/viewform">Give feedback</a>
  <center>
  <p style="text-align: left">Have fun exploring!</p>
  <p style="text-align: left">-Cara Marta Messina, 2021 </p>
{% endblock %}
