{% extends 'layout.html' %}

{% block body %}

<!-- DEPLOY TO HEROKU -->

<section>
  <h2>What is the Critical Fan Toolkit?</h2>
<img height="250px" style="float: left; padding: 10px" src="{{url_for('static', filename='images/CFT_header.png')}}" alt="With a purple background and written in grey, this image reads 'The Critical Fan Toolkit, Dissertation by Cara Marta Messina'"/>
<p> How do fans invest in antiracist, anti-misogynistic, anti-ableist, and anti-heteronormativity in our everyday fan practices? Even when the texts we love have glaring misrepresentations or complete erasures of people from particular–often socially, culturally, and politically marginalized–backgrounds, how can we engage and celebrate these texts while still being critical of them? </p>

<p>The Critical Fan Toolkit is a collection of resources and data for fans, teachers, and researchers who are invested in integrating critical fan practices into their everyday compositions, teaching, and research. This toolkit defines a <strong>critical fan</strong> as a fan of any cultural material or icon(s) who challenges or subverts systems of oppression–such as racism, misogyny, heteronormativity, homophobia, and ableism–through their everyday fan engagements, such as writing/reading fanfiction, posting on forums, and creating fan art.</p>

  <p>The Critical Fan Toolkit is Cara Marta Messina's dissertation and currently under construction. For more information, please reach out to Cara Marta Messina (messina [dot] c [at] northeastern [dot] edu) or visit her <a href="http://caramartamessina.com">website!</a></p>

<h2>Learning Goals of CFT</h2>
<section>
  <a class="button" data-toggle="collapse" href="#CFT-home1" role="button" aria-expanded="false" aria-controls="collapseExample">
     Define and trace critical fan composing practices & uptakes.
      </a>
      <div class="collapse" id="CFT-home1">
        <p><strong>Define and trace composing practices that critical fans use.</strong> These composing practices are traced through an analysis of two fandoms from <em>Archive of Our Own</em> as well as interviews from individual fanfiction writers. Critical fans challenge the systems of oppression that are represented in either the cultural materials they take up or the actual fandoms in which they participate. While you may not be invested in TLoK or GoT, each of us have our own fan communities (from fans of a particular cultural material to political fans to sports fans) in which we’re invested. By defining and tracing critical fan composing practices and uptakes, we can bring these practices into our own fandoms.</p>
      </div>
      <br/>
      <br/>

      <a class="button" data-toggle="collapse" href="#CFT-home2" role="button" aria-expanded="false" aria-controls="collapseExample">
         Provide critical fan pedagogy resources for inside/outside traditional classrooms.
          </a>
          <div class="collapse" id="CFT-home2">
            <p><strong>Provide critical fan pedagogy resources for both outside of and within traditional learning spaces, such as classrooms</strong>, such as classrooms. Pedagogy, in its simplest definition, is the methods and theories around teaching and learning. Critical fan pedagogy centers challenging systems of oppression through fan practices; this pedagogy can also help learners develop their own data literacies and research skills by teaching them how to analyze critical fan practices.
          </div>
          <br/>
          <br/>

          <a class="button" data-toggle="collapse" href="#CFT-home3" role="button" aria-expanded="false" aria-controls="collapseExample">
            Demonstrate how to conduct research and make arguments using data.
              </a>
              <div class="collapse" id="CFT-home3">
                <p><strong>Demonstrate how to conduct research and make arguments using data</strong>. This project uses a mixture of a large corpus (<em>The Legend of Korra</em> and <em>Game of Thrones</em> fanfiction published on <em>Archive of Our Own</em>) as well as interview data. Even though this toolkit specifically focuses on the composing practices from two fandoms and writers from each, these methods may be applied across fanfiction and other fan genres.
              </div>

</section>

<section>
<h2>Getting Started: Choose Your Path (Coming Soon)</h2>
<p>Dissertations are typically written with an academic audience in mind. One of this dissertation's main goals, however, is to reach a wide audience, recognizing all those who may find this resource valuable. Below are three separate identities: fan, scholar, and teacher. The CFT is a resource for teachers, students, and fans alike. Because of the broad audience, each visitor may each have particular purposes for coming to this toolkit. You may be a fan interested in further developing your own critical practices; you may be a teacher interested in integrating critical fan pedagogy into your classroom; or you may be a researcher invested in fan studies, rhetoric/composition, or a similar discipline that analyzes fandom composing practices. </p>
<p>These identities are not necessarily exclusive but each choice gives you a path to navigating this toolkit based on your particular position you most want to explore. You may be a scholar, teacher, and fan, so you can explore all the different paths. Even if you do not directly identify with one of these positions, you may still find these different paths relevant to your own position.
</p>
  <div class="home-grid-container">
    <a href="#">
      <h3>Fans (coming soon)</h3>
      <!--<p>Description</p>-->
      </a>

      <a href="#">
        <h3>Scholars (coming soon)</h3>
        <!--<p>Description</p>-->
        </a>

        <a href="{{ url_for('teaching') }}">
          <h3>Teachers</h3>
          </a>
    </div>
</section>

<br/>
<br/>

<!-- NOT NEEDED FOR NOW
{% for post in posts %}
<article class="content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted }}</small>
    </div>
    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
{% endfor %}

<section>
    <div id="carousel1" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <iframe src="{{url_for('static', filename='images/TLoK-Romantic-Pairings.html')}}" frameborder="0"></iframe>
        </div>
        <div class="carousel-item">
          <iframe src="{{url_for('static', filename='images/GoT-Romantic-Pairings.html')}}" frameborder="0"></iframe>

          </div>

            <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="sr-only">Next</span>
          </a>
          </div>
</div>
</section>
-->

{% endblock %}
