{% extends 'layout.html' %}

{% block body %}

<!-- DEPLOY TO HEROKU -->

<section>
  <h2>What is the Critical Fan Toolkit?</h2>
<img height="250px" style="float: left; padding: 10px" src="{{url_for('static', filename='images/CFT_header.png')}}" alt="With a purple background and written in grey, this image reads 'The Critical Fan Toolkit, Dissertation by Cara Marta Messina'"/>
<p> How can fans invest in antiracist, anti-misogynistic, anti-ableist, and anti-heteronormativity in our everyday fan practices? Even when the texts we love have glaring misrepresentations or complete erasures of people from particular–often socially, culturally, and politically marginalized–backgrounds, how can we engage and celebrate these texts while still being critical of them? </p>

  <p>This toolkit seeks to explore and provide guidelines for bettering our everyday practices to be more ethical, critical, and justice-centered fans.</p>

  <p>The Critical Fan Toolkit is <strong>currently under construction</strong>. For more information, please reach out to Cara Marta Messina (messina [dot] c [at] northeastern [dot] edu) or visit her <a href="http://caramartamessina.com">website!</a></p>
<br/>
<br/>
<br/>
</section>

<section>
<h2>Getting Started: Choose Your Path (Coming Soon)</h2>
<p>Dissertations are typically written with an academic audience in mind. One of this dissertation's main goals, however, is to rech a wide audience, recognizing all those who may find this resource valuable. Below are three separate identities: fan, scholar, and teacher. These identities are not necessarily exclusive but each choice gives you a path to navigating this toolkit based on your the particular poistion you most want to explore. You may be a scholar, teacher, <em>and</em> fan, so you can explore all the different paths. Even if you do not directly identify with one of these positions, you may still find these different paths relevant to your own position. </p>
  <div class="home-grid-container">
    <a href="#">
      <h3>Fans (coming soon)</h3>
      <!--<p>Description</p>-->
      </a>

      <a href="#">
        <h3>Scholars (coming soon)</h3>
        <!--<p>Description</p>-->
        </a>

        <a href="{{ url_for('teaching') }}">
          <h3>Teachers</h3>
          <!--<p>Description</p>-->
          </a>
    </div>
</section>

<br/>
<br/>

<!-- NOT NEEDED FOR NOW
{% for post in posts %}
<article class="content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted }}</small>
    </div>
    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
{% endfor %}

<section>
    <div id="carousel1" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <iframe src="{{url_for('static', filename='images/TLoK-Romantic-Pairings.html')}}" frameborder="0"></iframe>
        </div>
        <div class="carousel-item">
          <iframe src="{{url_for('static', filename='images/GoT-Romantic-Pairings.html')}}" frameborder="0"></iframe>

          </div>

            <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="sr-only">Next</span>
          </a>
          </div>
</div>
</section>
-->

{% endblock %}
