<div class="collapse" id="codes-fan-communities">
  <h2>Fan Community Politics</h2>
  <div class="interview-search-analysis">
  <h3>Description</h3>
  <p><strong>Definition:</strong> When fan interviewees’ mention fan community politics, including particular practices, theories, ideas, or tensions. These may not directly relate to politics, but may reveal underlying ideologies in fan communities.
</p>
  <p><strong>Number of Codes:</strong> 110</p>
  <p><strong>Analysis:</strong> </p>

</div>

<div class="interview-search-analysis">
   <h3>Quotes</h3>
   <ul>
      <li><strong>Aria: </strong>I don't want to be like, "Ah, but I'm writing the version of this character that's
         a woman." I hate that. I know that that's permissible with the meta text but I don't
         want to be part of that.</li>
      <li><strong>Aria: </strong>mostly I felt like I wound up just getting in like an extension of me arguing on the
         internet, which is not a super-healthy way of engaging with communities.</li>
      <li><strong>Aria: </strong>People write political theory when they write fanfic, like a lot of fanfic is political
         theory, a lot of fanfiction is political.</li>
      <li><strong>Aria: </strong>People are like, "Oh..." When people talk about RWBY, the way they talk about the
         White Fang is the way they talk about radical politics. And I don't know if they realize
         it, but I always get really annoyed, because this is like bad political theory. It's
         very normal American political theory, but it's also bad. It's very much like, "Oh,
         there's no justification for violence," it's like, "I don't agree."</li>
      <li><strong>Aria: </strong>When I'm writing this fic it means something, because I'm like... There's a study
         I think that says that when you get into rational arguments about things you don't
         convince them, but if you tell stories you can. And I think that I'm in that place,
         arguing about politics in the fiction space of the internet.</li>
      <li><strong>Aria: </strong>And then I wrote a piece called [inaudible 00:05:42], which was sort of like a revisiting
         of what does... I guess it was actually about immigration, it's just I never really
         ever got around to doing a piece about immigration system, but somebody had a bad
         take about immigration in America in a piece of fanfic and I was like, "God, that's
         a really bad understanding of that friend. That is utopian and wrong."</li>
      <li><strong>Aria: </strong>And that creates fanon, which means you get this whole long space of people being
         like, "Oh yeah, I am writing about this content of fanon in this alternate universe,
         I'm going to write a piece about a radio show</li>
      <li><strong>Aria: </strong>It sort of leaves a lot of space for the development of [inaudible 00:47:39], some
         of the Equalist Asami stuff, and some of the discussion that comes out of that. So
         I think that's very, very fertile ground for fanfic, and I think that it's liberating
         for a lot of folks. So it drives a lot of views.</li>
      <li><strong>Aria: </strong>Just real quick, I'm really interested in the fact that Korra and Mako becomes more
         common after Korrasami happened. That, to me, is just fascinating.</li>
      <li><strong>Aria: </strong>Also, if you're looking at a subtext, my people they were like, "Oh yeah, I want to
         tell this story, I want to finish this story." And there's a degree to which it a
         queer reading, there's this political tendency to look at fiction and say, "I am going
         to tell the story you didn't." And so during the subtext period, you've already got
         these people who are basically being like, "Yo, I'm going to tell this story.</li>
      <li><strong>Aria: </strong>Okay, my first guess would be that women who love women will write about women who
         love women, want to tell stories that have happy endings. I think in a lot of the
         stories we see in literature are of our destruction as a moral point, or the echoes
         of authority. That doesn't mean that all of the stories that we see that are echoes
         of stories are intended as seeing those moral and political tellings, they're just,
         "That's what our culture tells us." A lesbian love story, so retelling... If women
         who love women retell stories of women who love women, they're going to tell a lot
         of stories that are about being happy, at least in my opinion.</li>
      <li><strong>Aria: </strong>And I don't know, I don't know if I'd use the fluff and angst tags anymore, just because
         I don't talk about my literature in those terms as much anymore, as I used to, but...
         Largely because nobody...You don't use those tags as much anymore in my view, like
         we don't talk about... Those are very much Fanfiction.net-y terms that pulled over,
         I don't see them as I used to.</li>
      <li><strong>Aria: </strong>I think that people writing about suffering and happiness, a lot of things happen
         in love stories in general, particularly in WlW and MlM stuff. Well, I don't know
         if MlM, I don't read it very much just because one, I am not a man, and two, so much
         MlM stuff is kind of uncomfortable? A lot it's very clearly written by women.</li>
      <li><strong>Aria: </strong> a [inaudible 00:57:08] of the audience that come later are less interested in acknowledging
         or talking about race. Given this is a proportion, I don't know if [inaudible 00:57:24]
         but more people as a fandom and those few people aren't interested in talking about
         race in ways that people who had been there before were, and those people who were
         there before continued to talk about race, or if there is an effectively gentrifying
         mmoment that a white fandom comes in, pushes out a fandom of color. I don't know how
         this tag is used, so I would feel hesitant to say something definite. But I find that
         a little bit troublesome.</li>
      <li><strong>Aria: </strong>because it looks to me here that what you're seeing is a movement from seeing the
         word girlfriend in a context of a text that's about a set of texts about relationships
         in a more heterosexual perspective, in a story about women. Because it looks to me
         that this is a story that, if you see jealous there, that looks like I'm looking at
         a piece that's from Korra's point of view. But then if I'm looking at boyfriend, I'm
         also thinking about Korra and Mako.</li>
      <li><strong>Aria: </strong>The context is basically just, yeah, things you would expect people would say on a
         date, things you'd expect people to do on a date, things that writers do when they
         run out of words, like chuckle.</li>
      <li><strong>Aria: </strong>Also this more mature understanding of a relationship, seeing their partner as a dork
         versus like, seeing them as cute. And obviously you see your partner is cute for a
         long time after you start dating, that... Viewing someone as a dork is a more developed
         sense of what a relationship is.</li>
      <li><strong>Aria: </strong>That's an interesting set of outcomes, just looking at masculinity as almost sexual
         in the middle there, an almost dangerous. Because a person's understanding of masculinity
         are sexual, like the second one is a kind of dangerous, like a kind of danger. Versus
         like the sexuality in the second one, for feminine as well as that same panel, but
         it's not like dangerous... That's very interesting, it's very interesting that the
         middle section feels just more sexual in general. I was laughing at the bottom set
         for heiress in the middle column, "a-asami" there. It's like, I guess? </li>
      <li><strong>Aria: </strong>And to be fair, omega and alpha as being there in the far right column. I don't really
         understand ABO [alpha, beta, omega] as in general, so I can't talk. They're not as
         inherently sexual. They definitely struck me as relatively sexual, and that's not</li>
      <li><strong>Dialux: </strong>I had a very close group of friends on Live Journal back
         in the early 2000s. That, I think, probably because I was a teenager. Perhaps this
         is because of all those reasons. But that kind of close-knittedness has never kind
         of shown up for me ever since. I think I tend to participate now on more, "Oh, this
         is really interesting for me. And this is really fascinating." And I'll go into it
         for the material as opposed to the friendships themselves.</li>
      <li><strong>Dialux: </strong>And all of this kind of, to me, I mean, I think that's what
         a lot of fanficiton is, at least. It's taking things that are already there and kind
         of pooling them together. And sometimes you have amazing coincidences that people
         just don't think about. And it's about exploiting those coincidences, and making
         them sound like, "Oh, I'm so brilliant. I actually had thought about it
         beforehand."</li>
      <li><strong>Dialux: </strong>I was really worried about how it
         would be perceived by the fandom, how it would be received by people even outside
         of
         the fandom.</li>
      <li><strong>Dialux: </strong>Because, obviously, race bending is, and can
         be, very racist if not done in a very respectful manner.</li>
      <li><strong>Dialux: </strong>And my friends in the fandom were all like, "Okay, well,
         we trust you. Because it's also your
         culture. You know what you're doing, you know where you're coming from. But we
         would not do it." And, I mean, the vast majority of them were from the U.K. or
         the U.S., and they were not from the same culture. And they
         were like, "We would be very hesitant about it, but we trust you. If you know what
         you're doing, then go ahead and do it." But they were very supportive in that
         manner. But it wasn't a blanket support, as I was kind of hoping for, I should
         say.</li>
      <li><strong>Dialux: </strong>And I wasn't sure people would
         think that it was good enough. Because I was also combining both South Indian and
         North Indian tropes, to a
         certain extent. And those weren't necessarily very compatible. And there's a lot
         of history behind that and everything. And I wasn't entirely
         sure how people would perceive it.</li>
      <li><strong>Dialux: </strong> And I was so
         worried. Because all of this was very close to my heart, and I did not want to have
         to deal with a lot of backlash, or feedback, or having to fight to say, "Well, I
         don't mean to be rude on any of these kinds of things." These are meant with respect
         and they're meant with love. And they're from a part of myself.</li>
      <li><strong>Dialux: </strong>And the reason I did the Jodhaa Akbar tag was actually
         because I wanted to make sure that people who read more Hindu mythology fic, or
         other fandoms like that, like Baahubali, were able to identify that this is one such
         fic. And I think there are people who have said they've entered through that
         particular tag.</li>
      <li><strong>Dialux: </strong>Oh. I think I learned that people are far more
         understanding than I was giving them credit for, especially because I was so afraid
         about the reception.</li>
      <li><strong>Dialux: </strong>So, I could
         see how much the fandom had increased in size by the time Season Seven had came
         around. Because it was huge. There were a lot of people there, it had increased
         exponentially. And Season Eight made the fandom even bigger, honestly, in a certain
         way. But I also remember that there were a lot of fandom issues going on at the
         time, between people within the fandom and everything.</li>
      <li><strong>Dialux: </strong>But, second of all, the fandom itself,
         I think, had grown to such a point that it kind of imploded. I do remember that a
         lot of good authors, and a lot of people did leave the fandom at the time.
         </li>
      <li><strong>Dialux: </strong>Because, first of all, the fandom was
         terrible.</li>
      <li><strong>Dialux: </strong>You can tell
         exactly what the fandom is focused on here.</li>
      <li><strong>Dialux: </strong>And I was actually
         looking at the most common gender pairings. It's very interesting to me, because I
         think if you look at any other major
         fandom, you would probably get male male slash at a much higher rate than you're
         getting here.
         And it's just very interesting to me to
         see how female male has been so prevalent across all seasons. And to such an
         extent. And, I mean, obviously, there are a lot of theories about why that
         is, and how that comes about, and all of that. But I think...
         Oh, wow. Wait. Hang on. I'm looking... There's Gen that's higher than male slash in
         Season Eight.</li>
      <li><strong>Dialux: </strong>I think
         I obviously can't give an explanation for a lot of these. But I think that they
         make sense, to a certain extent, because there definitely are a lot more
         heterosexual relationships within this fandom than I've seen in a lot of other
         fandoms. And I think that's probably because we don't have one
         main character and one side character that's like the sidekick to the main
         character, both of them being male. You don't have that here.</li>
      <li><strong>Dialux: </strong>I actually do remember how unhappy people were that Sansa didn't
         end with a love interest at the end of Season Eight.</li>
      <li><strong>Dialux: </strong>And I could understand why people felt unhappy about it. But at the same time, I
         think you're beating on the wrong bush here. There's a lot of other problems to deal
         with within this fandom. And within this canon that we don't particularly need as
         much as you're putting into it.</li>
      <li><strong>Dialux: </strong>Tyrion is
         surprisingly popular to be honest. I didn't think that he'd be as... I knew he'd be
         popular as a character. But not a person on Archive of Our Own. I didn't think that
         AO3 people would write a lot about him.</li>
      <li><strong>GillyWulf: </strong>so it was, when I think I started it, Korrasami hadn't
         been canon yet. So, it's definitely interesting, the before and after.
         And maybe, I think,
         during that time, also, gay marriage was legalized, so it was just definitely
         different attitudes in that. I think those are some of the
         strengths in seeing that as well.</li>
      <li><strong>GillyWulf: </strong>And sometimes, there were just
         prompts that were not necessarily things that I wanted to do or actively didn't want
         to do</li>
      <li><strong>GillyWulf: </strong> I
         know it's, I don't want to say a popular trope, but it's a common trope in a lot of
         fanfiction communities, is the student-teacher
         ... What is that? Student-teacher pairing, whatever. My dad is a teacher, so the
         idea of that has always just absolutely not been something that I want to
         encourage, and it just isn't good, so I don't like writing that, I don't like
         reading it. That's definitely one of the things. I'm sure
         there's been others, but that's always been a big one for me.</li>
      <li><strong>GillyWulf: </strong>I know a lot of people like to have full sentences, and
         get really detailed and say things like that, but I always find that to be sort of
         distracting, because I know, when I'm personally looking for something, I like to
         be
         able to just click through until I find exactly what I'm looking for. So, if
         somebody has what I'm looking for, but also in that same tag is a full sentence of
         something else, it doesn't necessarily help me stuff. If somebody's specifically
         looking for, I guess a long-distance relationship thing, they can just click on that
         and see, "Okay, well, it's in here somewhere. I'll just find whichever prompt it
         is." I'm a big fan of just keeping things neat and simple.</li>
      <li><strong>GillyWulf: </strong>And then, just
         seeing the way her relationship sort of evolved with Asami over time, especially
         once you get into the third season, was like, "Okay, I'm into this. Whether or
         not they're going for it, I see it." So, it was like, "All right. I and a lot of
         the people in the fandom seem to agree for some reason, so I'm just going to go
         there and enjoy that while I'm doing it.
         </li>
      <li><strong>GillyWulf: </strong>So, at the same time,
         it was also sort of an exploration for me in that I've known I was gay, probably
         since kindergarten, but I sort of just put it off, put it off, and it wasn't
         until I started getting into Korrasami that I was like, "Okay, well, I'm meeting
         a community where this is accepted and this is encouraged even." So, I had
         decided to come out, and these became sort of two parallels of, "It could be
         this, or it could be that." Of like, "What is the best case? What is the worst
         case for maybe how my parents will react?" Thankfully, it leaned more towards
         Korra's parents than Asami, but it did sort of dip into that a little
         bit.</li>
      <li><strong>GillyWulf: </strong>And even though the trans experience is not necessarily one
         that I know for certain, there's plenty of people in the Korra community, in
         most online Internet communities, where there's plenty of those people and you
         see what they're going through and you see how their lives are,
         and I try not to speak for situations that I've never lived through, but you can
         draw knowledge from that and say, "Okay, well, without going in depth into feelings
         or things like that, I can add this, this, and this, and make it maybe relatable in
         that regard."</li>
      <li><strong>GillyWulf: </strong>And it's also, given the
         audience, this is considered a family show. So, I realized over time that maybe I
         don't have to write that.</li>
      <li><strong>GillyWulf: </strong>If you set those boundaries, people generally stick to
         it. If you tell people flat out, "I'm not going to write that," they generally won't
         press and press, and ask, "Why aren't you?" Because I just find keeping people as
         slaves is super ... I didn't want to
         contribute to it, and it was just that sort of idea
         [inaudible 00:47:42] maybe are younger and a little bit
         more impressionable than I am, so maybe it's okay to put things that they haven't
         been exposed to before, but also, it doesn't need to be a weird
         thing.</li>
      <li><strong>GillyWulf: </strong>Especially with the prompts and setting boundaries like you
         mentioned earlier. It's writing what you want.</li>
      <li><strong>GillyWulf: </strong>Oh,
         the easy answer is sexism,
         because everyone sees the main heroine next to a cute boy and decides, "That's
         good. I'm going to do that," without maybe necessarily putting much more thought
         into it.</li>
      <li><strong>GillyWulf: </strong>Obviously, there's always going to be people who say,
         "I want a female ship. Going for it. I don't
         care whether or not they necessarily gel." I'm sure there's
         people ... I feel like I went back a million years ago and looked at the first
         Korrasami fics, just out of curiosity, to see when they were published, and I'm sure
         that they were like episode one, because it's just what people do, and it's great.
         Ships are meant to be fun, they're not always meant to be canon.</li>
      <li><strong>GillyWulf: </strong>So, it was there, but
         it's not surprising that a lot of people who aren't looking for it don't go and see
         it. A lot of
         straight people I know will look at a lot of these relationships and say, "Oh,
         that came from nowhere."</li>
      <li><strong>GillyWulf: </strong>At the end of season three, we saw that development and
         we saw, especially during Korra's fight with Zaheer, Asami looked the most scared
         out of everybody, and her reaction to her offer to stay with Korra through her
         recovery, and help any way she can was sort of, "That's a little gayer than it maybe
         should be," that sort of look. So, a lot
         of people took that and decided to go with it, especially since
         the relationship was [inaudible 01:00:21], whether or not ...
         Again, and at that time, we didn't know the writer's intention, so it was just
         everybody, or at least Korrasami fans, picking
         up on it and saying, "Okay, well, we don't know when season four is happening,
         so we're just going to kick off from there and this is what could
         happen."</li>
      <li><strong>GillyWulf: </strong>Tahno was just a bully that people decide ... I don't
         understand why people like that, but people do.</li>
      <li><strong>GillyWulf: </strong> immediately after
         the season finale aired, everyone was sort of unsure like, "This is canon, right?
         This is canon. That's what this looks
         like,"</li>
      <li><strong>GillyWulf: </strong>"Korrasami's canon. That's
         what it is." So, a lot of people were super excited about that, especially since,
         up to that point, there really hadn't been
         a whole lot of huge representation for female ships.</li>
      <li><strong>GillyWulf: </strong>So, to
         see this cartoon suddenly become canon, against a network that had super tried to,
         god, just tear it apart, it was invigorating, to say the least. Yeah. That's why I
         have to imagine people took off with it.</li>
      <li><strong>Kittya Cullen: </strong>So I got into forums and fans would
         translate for those of us who didn't speak Hindi. And obviously
         people would answer questions if you asked because you couldn't get everything in
         the translations or the summaries. And during that time, we would talk about the
         plot of the show, what the characters were doing, where we were expecting things to
         go at that time. It was just a lot of the basic things at fandom.</li>
      <li><strong>Kittya Cullen: </strong>To
         realizing that there was a community of people who were also interested in
         discussing how these shows and books and games et cetera were failing us, whether
         it
         was in terms of the content or the representation or just releasing new things like
         thought arcs that weren't followed through on.</li>
      <li><strong>Kittya Cullen: </strong>But also the fics I had read after the
         show had finished seemed to focus primarily on how Korra was dealing with ...
         Obviously, it was a really traumatic experience and so on in how she ... what had
         happened in the gap years that they hadn't shown us for Korra.</li>
      <li><strong>Kittya Cullen: </strong>It's just to be someone who builds and creates
         with the purpose of fixing or making better, but then not being able to do so for
         someone within your personal life. But the imagery also for that chapter was, I guess,
         built in subtext because I wasn't
         quite sure yet how to engage with what was happening in ways that were visible
         to other people outside of the fan community, the slashfan
         community.</li>
      <li><strong>Kittya Cullen: </strong> It has less to do with fandom
         itself and more to do with the external world. And even now it's, I guess it's ...
         I
         don't know. I think it
         just seemed like the safer option at the time.  But the more
         time I've spent in that part of fandom, the less I guess I've cared about how it's
         read or whatever it is. But at the time, it just seemed wiser, particularly if I was
         having others who may not ... Because fan works and original work for me are on the
         same level, and so I'm not concerned, I guess, with people reading it for ... people
         reading it and not seeing a difference in quality, but rather how they experience
         the content. And so I think I was still considering who the audience would
         be.</li>
      <li><strong>Kittya Cullen: </strong>The universe raises really
         interesting conversations about inequality and power and change and so forth, but
         we
         kind of always see it from the position of the privileged. And I think that's my favorite
         thing about fandom
         and fan fiction, how fans sort of delve into all these areas in canon that
         either there wasn't time to explore or it didn't really seem to be important
         enough to explore, so things like inequality. When I write now, it's just always
         in the forefront, "How can I better represent experiences of people in the
         world," not just for myself, but for other people, what they're going
         through.</li>
      <li><strong>Kittya Cullen: </strong>I wasn't part of the fandom itself, so I didn't quite
         get to be part of ... Maybe I should be happy for that because I missed all the fan
         wars.</li>
      <li><strong>Kittya Cullen: </strong>I
         missed the smug satisfaction, but I also missed all the stress and anger, so I'm
         happy for that.</li>
      <li><strong>Kittya Cullen: </strong>Considering my Supergirl years, I can imagine. And then when you
         [inaudible 00:45:32]
         Korra is an avatar who's a
         woman.
         She's not a dainty fainting
         flower that they love.</li>
      <li><strong>Kittya Cullen: </strong>Because there is this thing in fanfiction where we
         assume that all people who are accessing it are familiar with the text. And while
         that is often common when we want it to function beyond that world to have relevance
         in other ways, I think for me personally it's important to integrate more parts of
         the world, of the universe.</li>
      <li><strong>Kittya Cullen: </strong>I think,
         and I'll probably go with my own fandom experiences, it just comes back to how
         the world is constructed externally. So just even the idea of imagining inside
         of what was placed before us, it takes a special kind of familiarity with the
         boarders of the world to imagine a world that is different from what is
         presented to you. At the time, I don't know, it was just that Korra
         and Mako were what was the norm. And so I think it made sense for some people to
         only be able to see that happening. I mean, I didn't see the possibility of
         Korrasami until the very end. But when I circled back around
         after having spent about several months reading several fanfictions</li>
      <li><strong>Kittya Cullen: </strong>But yeah, I just, spending so much time reading so much fanfiction
         from LOK and then branching out into Steven Universe and moving
         from Steven Universe into Supergirl, there was
         just more of an interaction with another side of fandom, the slash side of
         fandom. I don't know. I think you have to be integrated with others who are
         looking for more than what's presented, looking for more than what's norm,
         what's the acceptable way of telling a story of any kind of relationship really.
         Because even when
         you talk about what characters are bound to get more attention and more
         interesting and so on and so forth, when you look at fandom in general you'll
         find that when those characters are black or just generally a person of color in
         comparison to a character being white, that people are least particular when the
         fandom's dominated by white faces and so forth. They are more likely to explore
         those characters and to humanize them and to want to get to know them better,
         while other characters and what their hopes and dreams and ideas might be for
         the world are pushed to the side.</li>
      <li><strong>Kittya Cullen: </strong>I don't know. I'm not surprised. Plus the allocishets tend to dominate
         fandom in general, so it made sense that they would sort of own the sandbox and
         everyone else should be playing to the side.</li>
      <li><strong>Kittya Cullen: </strong>I
         mean, people are out there writing Korra Tarrlok fanfic. Okay, but Korrasami just
         seems too weird,
         okay people. I mean, I was also part of it too, that people were so willing to see
         all these other,
         in some ways really twisted, relationship dynamics, but
         couldn't quite bring
         themselves to see what others were seeing when they took the allocishet glasses
         off. I was part of that group as well, until in the end.</li>
      <li><strong>Kittya Cullen: </strong>When I saw that I was like, "Okay. This is pretty blatant. I
         don't see how anyone is not seeing this." But I can't judge
         because when you go back and you see the way that Korra and Asami speak to each
         other in the beginning, it's there, but it's not intentional subtext. It's like ...
         I mean, it makes sense that some people didn't see it.</li>
      <li><strong>Kittya Cullen: </strong>Actually, I think it may have come back to that as well, a combination of both
         familiarity with visual cues in storytelling, both a tendency to read closer in text
         in general, whether it's literature or visual media, as well as having familiarized
         yourself with another community. I'm always on the fence sometimes when I'm talking
         about how people are seeing or not seeing certain things. Because even with my
         current fandom, it's like half the people are saying that we're delusional or
         creating things where there aren't things. And then other times you see these
         exact phenomena occurring in cishet media.</li>
      <li><strong>Kittya Cullen: </strong>At
         that time ... When I first came across it, I was like, "They're probably
         overreacting," because I know how fandom can get.</li>
      <li><strong>Kittya Cullen: </strong>And
         you could tell, from a fandom perspective, some people who are cishet won't be able
         to speak to
         this, but you could tell that the writer's room was split in
         how they were portraying the characters because I think they got uncomfortable with
         how fandom
         was growing so rapidly and intensely around these two
         characters, even
         to the point where they used the black character as a wedge between
         them. So, just so many layers of so many awful things happening
         in that show. </li>
      <li><strong>Valk: </strong>I'm non-binary, so a lot of my work as I got older started
         to deal more with gender as well as sexuality, also being
         bi-sexual. I used it sort of as a tool in some fanfics to work
         through ideas or feelings that I'd had and didn't know how to properly verbalize
         yet. I was putting them on paper, using another
         character as the medium and expressing or exploring different ideas in an area
         where I felt I was kind of safe to do so. I didn't always
         publish all of them, but the one that you contacted me over, I did,
         obviously.</li>
      <li><strong>Valk: </strong>Mainly regarding the pairings that would
         show up, it would be mainly non-hetero pairings if that makes more sense than
         just saying a pairing because there would be some exploring of gender and what
         not with some characters. Or I would definitely be focusing on male-male or
         female-female relationships as well, because a lot of the media already does a lot
         of
         the male-female exploration. And a lot of the purpose of fandom
         is to sort of explore beyond what we're just given.</li>
      <li><strong>Valk: </strong>Yeah, definitely when it comes to trying to write it
         realistically as well, but the banter back and forth was very difficult. I read a
         lot of fanfic where it can be very stalkish and when I think about it and I think
         about someone saying it out loud, I just like cringe. My face caves in.</li>
      <li><strong>Valk: </strong>I wanted to actually put some Game
         of Thrones content on those tags to begin with because back when I was writing it,
         there wasn't a lot really going for it. LGBT fanfics, yeah sure, but
         gender fluid and gender
         related things, it wasn't really there.</li>
      <li><strong>Valk: </strong>I feel for them, a lot of their fics also had a lot of like Jaime
         being the man and Brienne finally being able to let her guard
         down.</li>
      <li><strong>Valk: </strong>Like, where is this content that
         should be out there because it's in the books and why is no one taking this up and
         writing about it?</li>
      <li><strong>Valk: </strong>I think I would want to go
         more into maybe tagging some of the triggers maybe now a days because back then
         there wasn't as much of a discussion around it. Now a days, you have more of a
         discussion around what bigger tags to put in to help people avoid it for instance.
         Now that AO3 has updated its tagging system to include and exclude.</li>
      <li><strong>Valk: </strong>There's a lot of, again, fanfic already out there of
         them being intimate, but it was all
         very incredibly heteronormative. Just their gender roles and Brienne being
         vulnerable and weak and all that stuff again.
         I was just not really feeling it, so I wrote my
         own instead.</li>
      <li><strong>Valk: </strong>And then it just kind of gets more
         depressing as it goes on. For some reason, John and Sansa's the most popular ship.
         It's like, I understand that they're not technically related, but I don't get it
         because in the book, they had this very tense relationship and in the show I know
         that they were more around each other.</li>
      <li><strong>Valk: </strong>Peytr/Sansa, I want to have some words with people.</li>
      <li><strong>Valk: </strong>I ship Sansa and Margaery and I tried to write fic for
         them, but I
         don't know why it never picked up. Margaery just walked around the whole show
         just hitting on everyone. I was like why isn't there more of this? It's
         literally right here.</li>
      <li><strong>Valk: </strong>
         Renly/Lauris,
         obviously.</li>
      <li><strong>Valk: </strong>Sandor and Sansa, I will say that I like their ship name
         as San-San. I do understand the whole
         like rough, the woman that warms his heart thing. Again, it's all very like
         romance novel-y prompts when I've tried to find fic and I'm just like, "I'll
         just write a Nora Roberts novel." I'd so read her books if I
         wanted to. I don't need to read them here.</li>
      <li><strong>Valk: </strong>Most Game of Thrones fanfic is incredibly hetero
         normative and it's a lot of university AU, high school AU and
         I'm like, "What about literally anything else?" I did a modern universe
         [inaudible 00:37:49] Please, literally anything
         else.</li>
      <li><strong>Valk: </strong>Again, it's Renly/Lauris,
         Sansa/Margaery. Yeah, there's not a lot really on there.</li>
      <li><strong>Valk: </strong>It was just a lot of Nora Roberts style in AO3 for
         sure. A lot of incest. An exorbitant amount of
         incest, like beyond what I even take it. I'm typically very do what you want,
         but even now, I'm just like don't like that.</li>
      <li><strong>Valk: </strong>Yeah, it's depressingly small. I know that when I was writing it, there was a lot
         less fanfic, but you would think even with Jaime and Brienne having that very
         unique friendship/relationship</li>
      <li><strong>Valk: </strong>a lot of
         the fics, even with Jaime and Brienne is just depressingly, like, "Wow, if I
         wanted to read this fic, I'd just go to like any romance section and find
         it."</li>
      <li><strong>Valk: </strong>I would almost want to just write fic out of
         spite.</li>
      <li><strong>Valk: </strong>I had some really bad, some
         really heated discussions with a friend on my dashboard on Twitter. We just did that,
         like Brienne was actually fully a lesbian
         and that she hated people linking her with Jaime. And I'm like, "That's an
         interesting concept, not canon, but concept." She was fighting people on the
         dashboard about it with the sort of bigger, than someone who has like facts in
         front of them would argue. And I'm like, "I understand, but this is your
         interpretation." People who ship her with Jaime don't hate lesbians. Please, do
         not try and put this away. Yeah, it was a whole mess. People
         came out in droves, angry for different reasons.</li>
      <li><strong>WriteGirl: </strong>Because one thing as a writer that will pull me completely out of a story is if
         there is a colloquialism that should not belong. Or if
         you're using words, and I'm like, okay, I've never heard that word used on the show,
         so now you've just dropped a bomb in the middle of a wedding cake, and there's cake
         everywhere. It just pulls me out.</li>
      <li><strong>WriteGirl: </strong>Yes. [Missandei's] a weird character. Mostly she seems to almost
         be absent from things. She's window dressing. She's there, she doesn't speak, or she
         speaks, it's one or two sentences in the entire fic. And it's frustrating because
         once again in the book, she's such a pivotal character.</li>
      <li><strong>WriteGirl: </strong>And so, you get those fics where she
         either has none of those, she's either not there, or she has really none of those
         attributes. She's kind of just a yes person. Yes, Khaleesi, no Khaleesi, yes my
         queen.</li>
      <li><strong>WriteGirl: </strong>That was another reason with the fic I kind of wanted to
         delve a little bit into her as a standalone, not in relation to anyone else.
         Kind of like, who is Missandei? If you take
         away slavery, and her being Daenerys' friend, who is this person? What is the
         one thing that would be important to her? Because there aren't really a lot of
         fics that focus on her as a character at all. She's just kind
         of always at the side. That's kind of where I got the thing that is, I don't know
         if I was a former slave. The one thing I
         would be sure of when I got my freedom was, I will never be made a slave again
         in any way, shape or form. So what does that translate into? That translates
         into, you're not going to use me. I'm not going to stand to be abused
         anymore. And that's kind of how all that bloomed up. I'd really
         like to see a bit more of that in Game of Thrones fanfiction. She's really an
         underused character.</li>
      <li><strong>WriteGirl: </strong>One
         thing I noticed about the Game of Thrones fandom, because I did just kind of jump
         in, is that tags are very important. I do read comments from other people in fics,
         and that seems to be the one thing that everyone gripes about. This was tagged
         unproperly. This should be the tag. The tag should be this. I was like, okay, let
         me
         try and tag as properly and nearly as I can, because I don't want to get dogpiled.
         There's a lot of my favorite fics where there's 10 pages of people just ragging on
         improper tagging. So I was like, nope, let me be careful.</li>
      <li><strong>WriteGirl: </strong>The
         "What if" tag was very important, because I've had that on fanfiction.net before.
         People are like, "You should have tagged it as an AU." I'm like, "But it is. It's
         right there." So I had the "What if."</li>
      <li><strong>WriteGirl: </strong>Out of character? I
         never know. I think my
         characters are pretty in character, but there's always the one person who's like,
         "This character would never do that." So I'm just like, "Okay. Just to let you know,
         it may be out of character."</li>
      <li><strong>WriteGirl: </strong>Alternate universe, canon
         divergence just to let people know, this isn't following canon, because I did not
         want to get blasted on that one.</li>
      <li><strong>WriteGirl: </strong>I've learned a lot about people actually in the fandom.
         Game of Thrones has a very active fandom. I wasn't prepared for that when I joined.
         You get people who, there are the butts, there are the trolls. Trolls are going to
         troll though, so I just kind of push them to the side.</li>
      <li><strong>WriteGirl: </strong>But there are people who
         they're really willing to engage with you, and they have questions. In a lot of
         other fandoms, some people are just like, "This is a nice story." Game of Thrones
         fans will have questions for you in the comments. They'll be like, "What about this?
         And what about this? Oh, what about this? What do you think about this?" It's fun
         to
         get that dialog. That's something I never had before.</li>
      <li><strong>WriteGirl: </strong>But
         there are just people who are just nasty. In all the fandoms I've been in, it
         thankfully hasn't happened to me yet, and I've actually had people defend me in
         comments. They're just like, "Get that shit out of here." I'm like, "Okay, thank you
         for being nice." But it seems the Game of Thrones fandoms can get real violent. They
         get real virulent with their hatred in the comments section. I can't muster that
         kind of hatred. If I don't like something, I just click off of it. I don't get the
         hate.</li>
      <li><strong>WriteGirl: </strong>But I can
         see, especially in Season Five, and Six, and Seven, where you see Jon Snow, Sansa
         Stark, because these two characters kind of get back together in the show. When
         they're together, you can see their dynamic in everything else. And they look good
         together. That's always a good thing. It's always big when it comes to shipping, who
         looks good with who.</li>
      <li><strong>WriteGirl: </strong>But I think people really enjoy the Jaime Lannister, Brienne of
         Tarth is kind of like the person, your frenemy. The person you love to hate.
         I would rescue you if you're falling off a cliff, but I'd probably punch you in the
         stomach when I got you back on solid land for being in that position to begin
         with.</li>
      <li><strong>WriteGirl: </strong>Sansa, Petyr, I've always hated that one, simply because he's grooming. It's
         very obvious. Where I can see Sansa starting to like Sandor
         because he would rebuff her at every turn if she started to show interest in him,
         even though he didn't want to. He'd just be like, "I can't deal with this. I can't
         deal with you." Petyr would relish that. He
         does everything he can to get her into trusting him, and thinking of him as her
         friend, and I would do anything for you, and that's really, really creepy. It's
         always a surprise to me when I see Petyr Baelish, Sansa Stark fics especially
         ones where it's not manipulative, and coercive, and creepy, I'm like, "What are
         you guys seeing in that?" That's just odd.</li>
      <li><strong>WriteGirl: </strong>I like the modern setting. Modern setting seems to be the most
         common one.</li>
      <li><strong>WriteGirl: </strong>I think it's the same with, I'm also very
         active in the Star Wars fandom, and that's one thing you see in a lot of Star Wars,
         especially the new trilogy. People love taking the characters out of where they are
         and
         putting them in today. That doesn't surprise me at all.</li>
      <li><strong>WriteGirl: </strong>canon divergence, angst, love, romance, smut. Not really. Everything seems to be kind
         of
         right where it should be, based on what I've seen. I'm trying to think of a tag that
         may
         be missing. No. Fluff, yeah, fluff's there, angst, romance. No, I think everything
         is
         there. You just randomly go on AO3, that's what you'd see.</li>
   </ul>
</div>
   </div>
