  <div class="collapse" id="codes-importantQuotes">
    <h2>Important Quotes</h2>
    <div class="interview-search-analysis">
    <h3>Description</h3>
    <p><strong>Definition:</strong> An interesting quote from fan authors that are particularly important.</p>
    <p><strong>Number of Codes:</strong> 64</p>
    </div>

    <div class="interview-search-analysis">
       <h3>Quotes</h3>
       <ul>
          <li><strong>Aria: </strong>People write political theory when they write fanfic, like a lot of fanfic is political
             theory, a lot of fanfiction is political.</li>
          <li><strong>Aria: </strong>When I'm writing this fic it means something, because I'm like... There's a study
             I think that says that when you get into rational arguments about things you don't
             convince them, but if you tell stories you can. And I think that I'm in that place,
             arguing about politics in the fiction space of the internet.</li>
          <li><strong>Aria: </strong>For me, this text begins both as like, I was reading a lot about Stonewall and the
             context around Stonewall, and also I was reading a piece about PTSD, and it was just
             very surface, very basic understanding of trauma and PTSD in particular, like something
             you recover from, in a way that I was not super comfortable with. And sort of the
             original text, not sure if you would agree. And so I wanted to talk about disability
             through the context of being something you come to live with, and come to integrate,
             and come to find becomes a part of you life, but also something you still struggle
             with, instead of just, I don't know, a lot of us have seen the story a lot like, you
             get better, and then you get better and you win. And then one day it doesn't bother
             you.</li>
          <li><strong>Aria: </strong>I chose the end of Season Three because it's the place where I felt like I was reading
             a... I felt like engaging with the original text, I was feeling like I wanted something
             different, I wanted a more deep and meaningful engagement with disability and trauma
             in this context. Because reading the original text is like, it's there for a while
             and then they're better? So it was almost the opposite feeling, what do I think this
             looks like? And so that's why I chose that.</li>
          <li><strong>Aria: </strong>but this is what I was doing with my life. I was on my way to running a queer resource
             center at a college, so I was doing the work of feeling the political implications
             of things in the world. And so I was, for me the most natural thing to write about
             is to write about... Not just homophobia, although this was a story about homophobia,
             not just homophobia, but this was a story about queerness and politics. And because
             this was the thing that was radicalizing me, [inaudible] is vile, because... And it
             was about violence, so I don't just mean violence as a method of resistance, I mean
             violence as a thing that people survive. Because that's what's radicalizing me at
             the time. And so I felt the need to wake up that in a sense.</li>
          <li><strong>Aria: </strong>I come away from Korra feeling like, "This is a gender thing going on." I don't buy
             that there's not homophobia in a world with gender in the like weird way that... In
             ways that still reflect our I think gender and homophobia [inaudible 00:21:13], the
             way that we have a sense of gender. Big, capital G Gender. And so I thought like,
             "What does it mean to have culture in the context of... What does it mean to be a
             cosmopolitan city where... There's both a degree of marginalization for like the Northern
             Water Tribe closing... Not so much that rules that are really intended to enforce
             gender norms are going to be there. And also to be like, "Yeah, there's probably a
             different understanding of gender in context," yeah.</li>
          <li><strong>Aria: </strong>I was trying to write a story that engaged with trauma and felt authentic and didn't
             make trauma seem like the end of the world. Because the binary that's in a lot of
             literature is either like, "Oh, you either overcame trauma, or you are doomed to misery
             forever." And I was trying to find some middle ground, trying to tell a story that
             felt authentic.</li>
          <li><strong>Aria: </strong>Whereas Korra grows up in this institution, Asami grows up with a relatively politically
             progressive father. He's an abuser, but he's also a very, very politically progressive
             man. He's a radical, he tries to overthrow his government, make the world a more equitable
             and fair place. It's self-interested, he's a bourgeois radical, but I wouldn't have
             said that at the time. I imagine Asami as having a relatively normal, relatively healthy
             understanding of the world in a way, having felt like she, not just knowing that a
             woman can love another woman, because I guess almost every person in this world knows.
             This is nothing like, Korra is particularly going to have a hard time because of that
             institution itself.</li>
          <li><strong>Aria: </strong>So to me, Hiroshi's both a man that would destroy his children for the things he believes,
             and in some sense for his own power. But also a man who genuinely is providing aid
             and comfort and resources for fighting for what he views as liberation, and that liberation's
             probably genuine at some level. I think it's fair to say that there is a political
             bender-like supremacy at the beginning. I mean there is, we know there's a bender
             supremacy at the beginning of The Legend of Korra. And so that's how I understand
             Hiroshi.</li>
          <li><strong>Aria: </strong>This is the moment when this becomes one of the early queer relationships in cartoons,
             a relatively good one. There's nothing particularly problematic about it, it's limited,
             but it's good.</li>
          <li><strong>Aria: </strong>It sort of leaves a lot of space for the development of [inaudible 00:47:39], some
             of the Equalist Asami stuff, and some of the discussion that comes out of that. So
             I think that's very, very fertile ground for fanfic, and I think that it's liberating
             for a lot of folks. So it drives a lot of views.</li>
          <li><strong>Aria: </strong>Okay, my first guess would be that women who love women will write about women who
             love women, want to tell stories that have happy endings. I think in a lot of the
             stories we see in literature are of our destruction as a moral point, or the echoes
             of authority. That doesn't mean that all of the stories that we see that are echoes
             of stories are intended as seeing those moral and political tellings, they're just,
             "That's what our culture tells us." A lesbian love story, so retelling... If women
             who love women retell stories of women who love women, they're going to tell a lot
             of stories that are about being happy, at least in my opinion.</li>
          <li><strong>Dialux: </strong>Yes. I think my most recent published fanfiction is a
             Percy Weasley, second person point of view, post canon. In which he is attempting
             to
             basically restructure his society by running on a platform of big structural change.
             Which might sound vaguely familiar.  But it was, I
             think, mostly due to the kind of deep rage that I was feeling over the entire
             Democratic Primaries over the past couple of months. And almost the past year.
             In which everything felt very much like a lot of talk, and not a lot of doing.
             And at some point, you need some catharsis. And kind of putting it out into
             fiction and seeing something changing. Or, not even seeing something changing.
             But seeing people trying to effect change, and willing to fight for that change
             felt very important to me. And basically that entire fanfic is kind of born out
             of that seething, massive, "I want to see something happening."
             And I will see it happen in fiction, if not in reality.</li>
          <li><strong>Dialux: </strong>I chose to make it Desi because I am Desi. and I wanted
             to experience it.</li>
          <li><strong>Dialux: </strong>And there were a lot of really good fanfic there that used second person point of
             view. And I felt like they kind of gave an insight into the character in a way that
             you wouldn't be able to get if you were looking at them from a third person point
             of
             view. And when I was doing this fanfic, I was really kind of thinking about how and
             what I wanted to communicate. And I felt like the second person point of view gave
             more weight to the entire fanfic, as opposed to the third person.</li>
          <li><strong>Dialux: </strong>I think a lot of the research and a lot of the material
             was just about identifying and pulling disparate ideas together that I knew.
             From either my own culture because, of course,
             this is partially my own culture. And also, the historical
             details of [inaudible 00:27:49].</li>
          <li><strong>Dialux: </strong>Because, obviously, race bending is, and can
             be, very racist if not done in a very respectful manner.</li>
          <li><strong>Dialux: </strong>And the reason I did the Jodhaa Akbar tag was actually
             because I wanted to make sure that people who read more Hindu mythology fic, or
             other fandoms like that, like Baahubali, were able to identify that this is one such
             fic. And I think there are people who have said they've entered through that
             particular tag.</li>
          <li><strong>Dialux: </strong>I think
             I obviously can't give an explanation for a lot of these. But I think that they
             make sense, to a certain extent, because there definitely are a lot more
             heterosexual relationships within this fandom than I've seen in a lot of other
             fandoms. And I think that's probably because we don't have one
             main character and one side character that's like the sidekick to the main
             character, both of them being male. You don't have that here.</li>
          <li><strong>GillyWulf: </strong>And from those three, you can see that they have
             very female-centered stories. And then, at least all three are those are canonically
             queer
             characters, which are things that now get me really excited and make me want to
             go, "Okay, well, I want to dive into that. I want to see how
             their stories could be different," or, "I just really want to see them in this
             situation," so I try and write it when I can.</li>
          <li><strong>GillyWulf: </strong>so it was, when I think I started it, Korrasami hadn't
             been canon yet. So, it's definitely interesting, the before and after.
             And maybe, I think,
             during that time, also, gay marriage was legalized, so it was just definitely
             different attitudes in that. I think those are some of the
             strengths in seeing that as well.</li>
          <li><strong>GillyWulf: </strong>I know a lot of people like to have full sentences, and
             get really detailed and say things like that, but I always find that to be sort of
             distracting, because I know, when I'm personally looking for something, I like to
             be
             able to just click through until I find exactly what I'm looking for. So, if
             somebody has what I'm looking for, but also in that same tag is a full sentence of
             something else, it doesn't necessarily help me stuff. If somebody's specifically
             looking for, I guess a long-distance relationship thing, they can just click on that
             and see, "Okay, well, it's in here somewhere. I'll just find whichever prompt it
             is." I'm a big fan of just keeping things neat and simple.</li>
          <li><strong>GillyWulf: </strong>And then, just
             seeing the way her relationship sort of evolved with Asami over time, especially
             once you get into the third season, was like, "Okay, I'm into this. Whether or
             not they're going for it, I see it." So, it was like, "All right. I and a lot of
             the people in the fandom seem to agree for some reason, so I'm just going to go
             there and enjoy that while I'm doing it.
             </li>
          <li><strong>GillyWulf: </strong>So, at the same time,
             it was also sort of an exploration for me in that I've known I was gay, probably
             since kindergarten, but I sort of just put it off, put it off, and it wasn't
             until I started getting into Korrasami that I was like, "Okay, well, I'm meeting
             a community where this is accepted and this is encouraged even." So, I had
             decided to come out, and these became sort of two parallels of, "It could be
             this, or it could be that." Of like, "What is the best case? What is the worst
             case for maybe how my parents will react?" Thankfully, it leaned more towards
             Korra's parents than Asami, but it did sort of dip into that a little
             bit.</li>
          <li><strong>GillyWulf: </strong>If you set those boundaries, people generally stick to
             it. If you tell people flat out, "I'm not going to write that," they generally won't
             press and press, and ask, "Why aren't you?" Because I just find keeping people as
             slaves is super ... I didn't want to
             contribute to it, and it was just that sort of idea
             [inaudible 00:47:42] maybe are younger and a little bit
             more impressionable than I am, so maybe it's okay to put things that they haven't
             been exposed to before, but also, it doesn't need to be a weird
             thing.</li>
          <li><strong>GillyWulf: </strong>Obviously, there's always going to be people who say,
             "I want a female ship. Going for it. I don't
             care whether or not they necessarily gel." I'm sure there's
             people ... I feel like I went back a million years ago and looked at the first
             Korrasami fics, just out of curiosity, to see when they were published, and I'm sure
             that they were like episode one, because it's just what people do, and it's great.
             Ships are meant to be fun, they're not always meant to be canon.</li>
          <li><strong>GillyWulf: </strong>So, it was there, but
             it's not surprising that a lot of people who aren't looking for it don't go and see
             it. A lot of
             straight people I know will look at a lot of these relationships and say, "Oh,
             that came from nowhere."</li>
          <li><strong>GillyWulf: </strong>At the end of season three, we saw that development and
             we saw, especially during Korra's fight with Zaheer, Asami looked the most scared
             out of everybody, and her reaction to her offer to stay with Korra through her
             recovery, and help any way she can was sort of, "That's a little gayer than it maybe
             should be," that sort of look. So, a lot
             of people took that and decided to go with it, especially since
             the relationship was [inaudible 01:00:21], whether or not ...
             Again, and at that time, we didn't know the writer's intention, so it was just
             everybody, or at least Korrasami fans, picking
             up on it and saying, "Okay, well, we don't know when season four is happening,
             so we're just going to kick off from there and this is what could
             happen."</li>
          <li><strong>GillyWulf: </strong>"Korrasami's canon. That's
             what it is." So, a lot of people were super excited about that, especially since,
             up to that point, there really hadn't been
             a whole lot of huge representation for female ships.</li>
          <li><strong>Kittya Cullen: </strong>I guess you can say it was a
             nudge to move from passive consumption to active consumption.</li>
          <li><strong>Kittya Cullen: </strong>So it was just discovering a collection of books in my
             own home from my aunt and my mother and so on, their teachers. And my aunt in particular,
             she
             teaches English, and so they had old texts that I found and started reading
             them. And that's when I began to realize that the books that I had been reading
             were excluding me. It was something that you sort of knew but you didn't quite
             know. I guess it comes back to not knowing what you're missing
             until you finally have it. So when I first read texts were people
             were actually talking about foods that I would eat or where people were living
             in communities like mine, where people spoke that way that I spoke, et
             cetera.
             Because even though I speak, let's say,
             like this, how I speak with my family or how I speak with my friends from back
             home, it's a little different even though ... So, my particular country, we
             speak English, but it's a particular kind of English. So just
             seeing that in text and then realizing that the fantasies and so on that I was
             consuming were ... I don't know, it had these strange things that just didn't quite
             compute with where I was living. That's where it really clicked for me. And from
             that point onward, I think that's where I began to see it in everything else. The
             biggest shift didn't really come until I moved to the US, because back home I was
             part of the
             majority, so even though it's absent, you were still seeing yourself in other
             ways, whether that's being who was teaching you or who was in the news as a
             politician, et cetera. But here it was a completely different
             ballgame, so it felt more insidious</li>
          <li><strong>Kittya Cullen: </strong>I
             was on Twitter casually scrolling through something, and someone from back home
             happened to mention how the finale of the show had gone.  Given my own cultural background
             and
             the cultural background of the world in general, I was pretty surprised about
             that, so I started consuming fics and reading the show ...
             Sorry, not reading the show, but watching the show to get through it to see ... If
             I
             could see where it was going and if I would be as surprised as everyone else had
             been. So when I got through the show, I was surprised, and I was really happy about
             how it had gone. I felt a need to contribute to the fandom in some way.</li>
          <li><strong>Kittya Cullen: </strong>So I think it
             just came back to capturing that, the imagery of it, the tone of the chapter, the
             voice of it because, at least to me, it works really hard to put us in Asami's shoes
             and make us experience it exactly as she's experiencing it.</li>
          <li><strong>Kittya Cullen: </strong>It was sort of ... To me,
             it was groundbreaking in how they handled that because we get to see Korra, who is
             this all-powerful person, come to grips with what she might be like after having
             this really terrible thing happen to her and want sort of responsibilities she once
             had, and how it's still there, but she has all these other things she now has to
             deal with as well, like her mental health and her physical recovery and so
             forth.</li>
          <li><strong>Kittya Cullen: </strong> It has less to do with fandom
             itself and more to do with the external world. And even now it's, I guess it's ...
             I
             don't know. I think it
             just seemed like the safer option at the time.  But the more
             time I've spent in that part of fandom, the less I guess I've cared about how it's
             read or whatever it is. But at the time, it just seemed wiser, particularly if I was
             having others who may not ... Because fan works and original work for me are on the
             same level, and so I'm not concerned, I guess, with people reading it for ... people
             reading it and not seeing a difference in quality, but rather how they experience
             the content. And so I think I was still considering who the audience would
             be.</li>
          <li><strong>Kittya Cullen: </strong>The universe raises really
             interesting conversations about inequality and power and change and so forth, but
             we
             kind of always see it from the position of the privileged. And I think that's my favorite
             thing about fandom
             and fan fiction, how fans sort of delve into all these areas in canon that
             either there wasn't time to explore or it didn't really seem to be important
             enough to explore, so things like inequality. When I write now, it's just always
             in the forefront, "How can I better represent experiences of people in the
             world," not just for myself, but for other people, what they're going
             through.</li>
          <li><strong>Kittya Cullen: </strong>And I think I'd actually forgotten about this until
             someone else had written it in their own fanfiction, which is part of what's so fun
             about reading fanfiction. There are all these ideas that you don't quite pickup on
             right away, but someone else mentions it, and it clicks, and you start to rotate the
             world and look at it from a different angle.</li>
          <li><strong>Kittya Cullen: </strong>Because there is this thing in fanfiction where we
             assume that all people who are accessing it are familiar with the text. And while
             that is often common when we want it to function beyond that world to have relevance
             in other ways, I think for me personally it's important to integrate more parts of
             the world, of the universe.</li>
          <li><strong>Kittya Cullen: </strong>I think,
             and I'll probably go with my own fandom experiences, it just comes back to how
             the world is constructed externally. So just even the idea of imagining inside
             of what was placed before us, it takes a special kind of familiarity with the
             boarders of the world to imagine a world that is different from what is
             presented to you. At the time, I don't know, it was just that Korra
             and Mako were what was the norm. And so I think it made sense for some people to
             only be able to see that happening. I mean, I didn't see the possibility of
             Korrasami until the very end. But when I circled back around
             after having spent about several months reading several fanfictions</li>
          <li><strong>Kittya Cullen: </strong>But yeah, I just, spending so much time reading so much fanfiction
             from LOK and then branching out into Steven Universe and moving
             from Steven Universe into Supergirl, there was
             just more of an interaction with another side of fandom, the slash side of
             fandom. I don't know. I think you have to be integrated with others who are
             looking for more than what's presented, looking for more than what's norm,
             what's the acceptable way of telling a story of any kind of relationship really.
             Because even when
             you talk about what characters are bound to get more attention and more
             interesting and so on and so forth, when you look at fandom in general you'll
             find that when those characters are black or just generally a person of color in
             comparison to a character being white, that people are least particular when the
             fandom's dominated by white faces and so forth. They are more likely to explore
             those characters and to humanize them and to want to get to know them better,
             while other characters and what their hopes and dreams and ideas might be for
             the world are pushed to the side.</li>
          <li><strong>Kittya Cullen: </strong>I don't know. I'm not surprised. Plus the allocishets tend to dominate
             fandom in general, so it made sense that they would sort of own the sandbox and
             everyone else should be playing to the side.</li>
          <li><strong>Kittya Cullen: </strong>Actually, I think it may have come back to that as well, a combination of both
             familiarity with visual cues in storytelling, both a tendency to read closer in text
             in general, whether it's literature or visual media, as well as having familiarized
             yourself with another community. I'm always on the fence sometimes when I'm talking
             about how people are seeing or not seeing certain things. Because even with my
             current fandom, it's like half the people are saying that we're delusional or
             creating things where there aren't things. And then other times you see these
             exact phenomena occurring in cishet media.</li>
          <li><strong>Kittya Cullen: </strong>And
             you could tell, from a fandom perspective, some people who are cishet won't be able
             to speak to
             this, but you could tell that the writer's room was split in
             how they were portraying the characters because I think they got uncomfortable with
             how fandom
             was growing so rapidly and intensely around these two
             characters, even
             to the point where they used the black character as a wedge between
             them. So, just so many layers of so many awful things happening
             in that show. </li>
          <li><strong>Valk: </strong>I'm non-binary, so a lot of my work as I got older started
             to deal more with gender as well as sexuality, also being
             bi-sexual. I used it sort of as a tool in some fanfics to work
             through ideas or feelings that I'd had and didn't know how to properly verbalize
             yet. I was putting them on paper, using another
             character as the medium and expressing or exploring different ideas in an area
             where I felt I was kind of safe to do so. I didn't always
             publish all of them, but the one that you contacted me over, I did,
             obviously.</li>
          <li><strong>Valk: </strong>Mainly regarding the pairings that would
             show up, it would be mainly non-hetero pairings if that makes more sense than
             just saying a pairing because there would be some exploring of gender and what
             not with some characters. Or I would definitely be focusing on male-male or
             female-female relationships as well, because a lot of the media already does a lot
             of
             the male-female exploration. And a lot of the purpose of fandom
             is to sort of explore beyond what we're just given.</li>
          <li><strong>Valk: </strong>My strengths in this fic for me was being able to try and incorporate as much of
             Jaime and Brienne's banter and relationship, as much as I could to a modern setting
             because obviously they wouldn't be having as
             much of a, you know Brienne wouldn't be considered as horrifying as she was
             considered in the original text because she was considered man-ish. In modern
             day context, it's not always encouraged, based on what kind of family you came
             from, women are often allowed to be tom boys more than vice
             versa. There was a challenge of trying to see, okay, Brienne
             wouldn't have had as traumatic a childhood probably regarding her own gender
             identity. But there would definitely be some push
             back, but how would that change based on the setting?
             I made her a little bit more comfortable in
             her skin than Jaime and also having her there to sort of be a foil and a supportive
             shoulder for Jaime
             who was going through a similar thing that maybe she went through as
             well.</li>
          <li><strong>Valk: </strong>I wanted to actually put some Game
             of Thrones content on those tags to begin with because back when I was writing it,
             there wasn't a lot really going for it. LGBT fanfics, yeah sure, but
             gender fluid and gender
             related things, it wasn't really there.</li>
          <li><strong>Valk: </strong>I think I would want to go
             more into maybe tagging some of the triggers maybe now a days because back then
             there wasn't as much of a discussion around it. Now a days, you have more of a
             discussion around what bigger tags to put in to help people avoid it for instance.
             Now that AO3 has updated its tagging system to include and exclude.</li>
          <li><strong>Valk: </strong>There's a lot of, again, fanfic already out there of
             them being intimate, but it was all
             very incredibly heteronormative. Just their gender roles and Brienne being
             vulnerable and weak and all that stuff again.
             I was just not really feeling it, so I wrote my
             own instead.</li>
          <li><strong>Valk: </strong>I
             guess I was thinking about also how I had reacted or how my friends had reacted
             to when I came out to them.
             I wanted to, I guess write a do-over for some
             of them about how I would have liked to have that experience with me, like
             having them knock again and come inside and ask questions and not just kind of
             leave it right there and not talk again. I wanted to sort of console myself a
             little bit through it as well as wanted to console Jaime</li>
          <li><strong>Valk: </strong>I had some really bad, some
             really heated discussions with a friend on my dashboard on Twitter. We just did that,
             like Brienne was actually fully a lesbian
             and that she hated people linking her with Jaime. And I'm like, "That's an
             interesting concept, not canon, but concept." She was fighting people on the
             dashboard about it with the sort of bigger, than someone who has like facts in
             front of them would argue. And I'm like, "I understand, but this is your
             interpretation." People who ship her with Jaime don't hate lesbians. Please, do
             not try and put this away. Yeah, it was a whole mess. People
             came out in droves, angry for different reasons.</li>
          <li><strong>WriteGirl: </strong>And someone wrote a really detailed review, just about
             how, I remember they said they could taste the road dust from my writing. And I was
             like, wow. I never thought of it that way. That's really cool. That kind of inspired
             me to write more, that I could get that emotion out of somebody. They felt like they
             were actually there with them.</li>
          <li><strong>WriteGirl: </strong>So, right when about Season
             Seven hit, I started getting a little bit upset about the writing in Game of
             Thrones. And then by the time Season Eight hit, I was just like, "Oh no. No, no, no,
             no, no. I can't deal with this." I got a bit more involved with writing, because my
             brain was like, "No, this isn't how it should go. We need to redo all this whole
             thing." It really started picking up in Season Seven. That was the first time I
             wrote a Game of Thrones fanfiction. And I believe that was my other OtherWhen
             series, the first one.</li>
          <li><strong>WriteGirl: </strong>I don't
             know if you're a Dr. Who fan. One of my favorite Doctor Who episodes is Turn Left.
             And
             it's a whole episode that's based on the concept of, what if he didn't turn right?
             What if instead of going the road you're supposed to go, you kind of went that way?
             And I've always been fascinated by that. I love Choose Your Own Adventure stories,
             and things like that. I don't like following the written script. So that's one of
             the reasons why I went into fix-it fics. There's times and places where I was like,
             that wouldn't happen. I know that's how it happens in the story, but based on the
             world that they're in, historical context, things like that, that's not how that
             would. So, that's kind of my brain's way of reconciling not bad writing, but just
             maybe inconsistent writing, or little things that were just irksome. That's kind of
             how I got into that.</li>
          <li><strong>WriteGirl: </strong>I literally got up off the couch and walked away when
             she got beheaded. I was very upset. It pissed me
             off that you have a character like Missandei who is very strong, who survives
             slavery, got out of her chains, became this person who was herself, and then how
             did she die? She dies in chains, basically in a pissing contest between two
             white women. That was very, very frustrating and irritating to
             me.</li>
          <li><strong>WriteGirl: </strong>Yes. [Missandei's] a weird character. Mostly she seems to almost
             be absent from things. She's window dressing. She's there, she doesn't speak, or she
             speaks, it's one or two sentences in the entire fic. And it's frustrating because
             once again in the book, she's such a pivotal character.</li>
          <li><strong>WriteGirl: </strong>That was another reason with the fic I kind of wanted to
             delve a little bit into her as a standalone, not in relation to anyone else.
             Kind of like, who is Missandei? If you take
             away slavery, and her being Daenerys' friend, who is this person? What is the
             one thing that would be important to her? Because there aren't really a lot of
             fics that focus on her as a character at all. She's just kind
             of always at the side. That's kind of where I got the thing that is, I don't know
             if I was a former slave. The one thing I
             would be sure of when I got my freedom was, I will never be made a slave again
             in any way, shape or form. So what does that translate into? That translates
             into, you're not going to use me. I'm not going to stand to be abused
             anymore. And that's kind of how all that bloomed up. I'd really
             like to see a bit more of that in Game of Thrones fanfiction. She's really an
             underused character.</li>
          <li><strong>WriteGirl: </strong>One
             thing I noticed about the Game of Thrones fandom, because I did just kind of jump
             in, is that tags are very important. I do read comments from other people in fics,
             and that seems to be the one thing that everyone gripes about. This was tagged
             unproperly. This should be the tag. The tag should be this. I was like, okay, let
             me
             try and tag as properly and nearly as I can, because I don't want to get dogpiled.
             There's a lot of my favorite fics where there's 10 pages of people just ragging on
             improper tagging. So I was like, nope, let me be careful.</li>
          <li><strong>WriteGirl: </strong>I wanted her to have a little bit more
             agency. It seemed like from the time we see her in the Baelish
             dress, with the feathers on it, which she's actually taking on a mockingbird, that
             that was a glimpse of a darker Sansa, a more politically savvy Sansa, a more adult
             Sansa. And then, for whatever reason, they backed off of it. And then the next thing
             we see her, she's just kind of sitting there asking questions, looking dull. And
             that was a little irritating to me.  So I wanted
             her to get a little more agency, especially when she found out who she was
             supposed to be meeting. I didn't see Sansa ever agreeing to
             that.</li>
          <li><strong>WriteGirl: </strong>And like she says in the fic even
             if I get bit by a lizard-lion or I starve, that's my choice. But it won't be going
             back
             to a ruined Winterfell to marry a legitimized bastard.</li>
          <li><strong>WriteGirl: </strong>Sansa is really presented as one of those girls with her
             head in the clouds. She's definitely not a Margaery Tyrell. She was definitely never
             really prepared for court
             life. She has a view of it that is heavily skewed by stories of
             [inaudible 00:33:28] of these wonderful knights in their shining armor, these
             lovely ladies who are just ethereal in their beauty, everything being wrapped up
             in a bow, happily ever after. Maybe something happens, but someone's always
             rescued. And through the series, that kind of gets torn away
             from her bit by bit. The Prince Charming that she thought was a Prince Charming is
             definitely not. There's no one comes to save her. Her brother's more interested in
             being a king than coming to rescue her from the tower, and the monsters inside it.
             So really, Sansa's really forced to grow up,
             and she's really forced to see all these stories as exactly what they are.
             They're just stories. They're empty stories to make children
             happy. So when she's thinking back on this, she's thinking more of the scarier
             stories that maybe she didn't want to listen to.</li>
          <li><strong>WriteGirl: </strong>These were all things she's done because she believes in
             Daenerys' vision, she believes in a world
             without slavery. And after having been a slave and experienced freedom, that's
             something she'd want for everybody. I hate to say it, Harriet Tubman, how many
             times did she go back and she got slaves and ran them back out? Simply because
             I'm free, no one should be in bondage, even if it's a personal risk to myself,
             to my life, that is a risk I will take, because everyone should be free. And I
             think as a former slave, Missandei really would have that
             sentiment.</li>
          <li><strong>WriteGirl: </strong>She's really
             seeing Cersei for the creature Cersei is, beyond just being kind of a high-born
             woman in Westeros. She's seeing the monster that's inside Cersei. Cersei will do
             anything. She will do anything to maintain power, she will do anything to get
             back at her enemies, even if it means murder, blackmail, et cetera. And I think
             Missandei coming from a society where no one would have to hide that from their
             slaves. She sees it. Like I know you, I've seen masters exactly like you. And
             she's really recognizing the monster that's in Cersei outside of all of her
             jewels, outside of her gowns, outside of her façade of being this queen and
             great lady. It's like, no, you're really this evil thing, and I know it because
             I've seen it before.</li>
          <li><strong>WriteGirl: </strong>But
             there are just people who are just nasty. In all the fandoms I've been in, it
             thankfully hasn't happened to me yet, and I've actually had people defend me in
             comments. They're just like, "Get that shit out of here." I'm like, "Okay, thank you
             for being nice." But it seems the Game of Thrones fandoms can get real violent. They
             get real virulent with their hatred in the comments section. I can't muster that
             kind of hatred. If I don't like something, I just click off of it. I don't get the
             hate.</li>
       </ul>
    </div>
  </div>
