<div class="collapse" id="PI-disability">
  <h2>Power and Identity</h2>
  <h3>Disability</h3>
   <ul>
      <li><strong>Aria: </strong>It's a piece about about trauma... And it [inaudible 00:05:20], that this isn't obviously.
         It's a piece about trauma and it's a piece about, what does it mean... Really they're
         both pieces about what it means to be disabled.</li>
      <li><strong>Aria: </strong>For me, this text begins both as like, I was reading a lot about Stonewall and the
         context around Stonewall,  also I was reading a piece about PTSD, and it was just
         very surface, very basic understanding of trauma and PTSD in particular, like something
         you recover from, in a way that I was not super comfortable with. And sort of the
         original text, not sure if you would agree. And so I wanted to talk about disability
         through the context of being something you come to live with, and come to integrate,
         and come to find becomes a part of you life, but also something you still struggle
         with, instead of just, I don't know, a lot of us have seen the story a lot like, you
         get better, and then you get better and you win. And then one day it doesn't bother
         you.</li>
      <li><strong>Aria: </strong>I wrote about suicide at a time where I was not ready to talk about it, as a writer.
         I'm still not sure I can actually talk about suicide now, in a way that's beneficial
         or useful for me. I'm not sure now I can do that now, or could not do it now, but
         I could not do it at the time, or I couldn't do it in a way that was healthy. I know
         I wrote it that it would seem therapeutic, but I also was being retraumatized, and
         I didn't say that obviously in the tags.</li>
      <li><strong>Aria: </strong>But I also struggled because I didn't know how to write about my own trauma, and so
         I tried to write about trauma in ways that other people were experiencing it. And
         already the text engaged with that, and those weren't really authentic to me. They
         weren't things I was writing about at the time.</li>
      <li><strong>Aria: </strong>It had two epic story arcs that I didn't know how to integrate, both this love story
         about disability, and it was this story about queer politics, and I could not make
         those two pieces meld at the time.</li>
      <li><strong>Aria: </strong>I did consult with some folks when I was writing some texts about trauma, because
         I was like... I wasn't comfortable writing that.</li>
      <li><strong>Aria: </strong>I think I was just engaging with the text's portrayal of trauma.</li>
      <li><strong>Aria: </strong>I wasn't telling you things that had happened in the past, to teach you what happened
         in the past. I was saying, "This is what's haunting the characters, this is what the
         characters can't escape from in a very physical, visceral fashion." Well maybe physical
         might be the wrong word, you know what, I'm okay with it, body and mind, if it makes
         sense.</li>
      <li><strong>Aria: </strong>I was trying to write a story that engaged with trauma and felt authentic and didn't
         make trauma seem like the end of the world. Because the binary that's in a lot of
         literature is either like, "Oh, you either overcame trauma, or you are doomed to misery
         forever." And I was trying to find some middle ground, trying to tell a story that
         felt authentic.</li>
      <li><strong>Aria: </strong>Because I imagine Korra's pain is seeing the cost of her new trauma after time, because
         her being injured, being in a place where you are tortured to death as a vulnerability.
         Every time you experience that pain, I imagine that that's a place that engagement
         is a struggle after time when you're in that pain. So it's an ordeal for Korra to
         dress herself.</li>
      <li><strong>Aria: </strong>it's not really about romance as much as it is about feeling connected in a genuine
         way to people, that that central theme, building a life worth living after injury,
         or after trauma, is finding an authentic realtionship with people.</li>
      <li><strong>GillyWulf: </strong>because Korra's definitely, she's
         traumatized.</li>
      <li><strong>GillyWulf: </strong>she's trying to have a good experience and maybe power
         through it, but then, in that brief lapse where she forgets that she's tied down
         and then she tries to sit up, it's sort of like a muscle memory thing, where
         she's back there the last time she was chained up and couldn't
         move.  You hear stories about how people
         try and be helpful and just make situations worse</li>
      <li><strong>Kittya Cullen: </strong> Bella was written both as someone who was
         insular and chooses to form or has a small community and so forth and deals with
         depression</li>
      <li><strong>Kittya Cullen: </strong>It's just different for me. Deal
         with PTSD and depression and just all these changing things.</li>
      <li><strong>Kittya Cullen: </strong>I don't want to say broken, but be injured in a really drastic way and them not
         being able to do anything much to help with her recovery in concrete
         ways.</li>
      <li><strong>Valk: </strong>when I was writing, I wasn't very well-versed in
         not just having a limb missing as a disability, but also how advanced the
         prosthetics were and if they could hold things</li>
      <li><strong>Valk: </strong>I would definitely
         want to go more into his disability as well as his prosthetic and how it worked
         more.</li>
   </ul>
      </div>
