<div class="collapse" id="PI-culture">
  <h2>Power and Identity</h2>
  <h3>Cultural Difference</h3>
        <ul>
           <li><strong>Aria: </strong>I remember coming away with this feeling that there is a marginalized subjectivity
              in the Northern Water Tribe. And so telling this story about difference in culture
              Basically that I think Korra's upbringing is particularly reflective of that culture,
              yeah.</li>
           <li><strong>Aria: </strong>"This is a gender thing going on." I don't buy that there's not homophobia in a world
              with gender in the like weird way that... In ways that still reflect our I think gender
              and homophobia [inaudible 00:21:13], the way that we have a sense of gender. Big,
              capital G Gender. And so I thought like, "What does it mean to have culture in the
              context of... What does it mean to be a cosmopolitan city where... There's both a
              degree of marginalization for like the Northern Water Tribe closing... Not so much
              that rules that are really intended to enforce gender norms are going to be there.
              And also to be like, "Yeah, there's probably a different understanding of gender in
              context," yeah.</li>
           <li><strong>Aria: </strong>Whereas Korra grows up in this institution, Asami grows up with a relatively politically
              progressive father. He's a radical, he tries to overthrow his government, make the
              world a more equitable and fair place. It's self-interested, he's a bourgeois radical,
              but I wouldn't have said that at the time. I imagine Asami as having a relatively
              normal, relatively healthy understanding of the world in a way, having felt like she,
              not just knowing that a woman can love another woman, because I guess almost every
              person in this world knows. This is nothing like, Korra is particularly going to have
              a hard time because of that institution itself.</li>
           <li><strong>Dialux: </strong>Because it was a Desi film. It was one
              representation in a way, but not necessarily. I think it was just about freeing
              those religious tensions, and those cultural tensions, and actually attempting
              to bridge them.</li>
           <li><strong>Dialux: </strong>I mean, you need to have that religious, and
              cultural, and those barriers in order for that to
              happen.</li>
           <li><strong>Dialux: </strong>And then, of course, you have the Targaryen
              colors, which are black, which are mourning colors according to the Western
              culture. </li>
           <li><strong>Dialux: </strong>Where I
              just didn't translate them into Rajput or Hindi words. Because I just use
              whatever I knew, because I speak Kannada at home.</li>
           <li><strong>Dialux: </strong>And, I mean, there's Rajput culture as well as
              South Indian culture, as well as there's some random, I think, there's some
              Bengali culture that I just threw in for the hell of it.</li>
           <li><strong>Dialux: </strong>Because it's also your
              culture. You know what you're doing, you know where you're coming from. But we
              would not do it." And, I mean, the vast majority of them were from the U.K. or
              the U.S., and they were not from the same culture.</li>
           <li><strong>Dialux: </strong>Because I was also combining both South Indian and North Indian tropes, to a
              certain extent. And those weren't necessarily very compatible. And there's a lot
              of history behind that and everything.</li>
           <li><strong>Dialux: </strong>Because especially when you're looking at a lot of Indian mothers, and Indian
              women who get into marriages at a very young age. You have to deal with your
              husband's family, you have to deal with that entire kind of stigma. About you
              have to be the one to adjust and to compromise to a far greater extent than your
              husband. Where she was
              just trying to fight it, she was such a perfect child in that culture. And then
              suddenly she has to kind of leave her culture behind. Or, not leave her culture
              behind, but adjust to a new culture.</li>
           <li><strong>Dialux: </strong>you
              actually get more of a cultural tension due to just the difference between the
              North and the South. And all of that. And I do think that George R. R. Martin
              has kind of perpetuated the idea, simply because he is English. So, the whole
              idea that in England, where Northerners are tougher and everything than
              Southerners. And I don't know anything more about it. But I think that's kind of
              one of the underlying and unconscious biases within the framework of the
              canon.</li>
           <li><strong>Dialux: </strong>Especially that religious tension between Jon and
              Sansa. And have that difference, where both of them and neither of them are
              willing to compromise on that.</li>
           <li><strong>Dialux: </strong>And I mean, there are
              cultural differences within, I mean, people that I've grown up with in India,
              and people in the U.S. And even though you're living side by side, that doesn't
              necessarily mean that you have the same cultural background.</li>
           <li><strong>Dialux: </strong>And, I mean, we don't know if she relies more on
              her religion because she left her homeland, and came to the North. And just
              wanted some desperate way, something to rely on that's her family, or that
              reminded her of home. But to me, at least, I can imagine, especially the actual
              Jodhaa, going to Akbar's Islamic court. And basically being all alone, and not
              having very many allies. And finding some sort of a solace in her religion of
              Hinduism.</li>
           <li><strong>Dialux: </strong>Because as much as she's giving him the gift,
              she's also giving him his name. And she's stepping across her own cultural
              boundaries to help him with that, which Jon doesn't completely
              understand.</li>
           <li><strong>Dialux: </strong> And adjusting to that
              is a huge, almost, culture shock to people. To any women, adjusting to that is
              difficult. And has to go to a foreign country without any
              support, and any of her own traditions. She's the one that's upheld every single
              tradition she has ever done. And especially when you're looking at the Hindu
              culture, it's very difficult to uphold them.</li>
           <li><strong>Kittya Cullen: </strong>That was an Indian television show that I was
              watching, and I happened to be looking for ways to continue to consume the show
              because I'd been watching it back home, but back home I had English subtitles
              and so on.</li>
           <li><strong>Kittya Cullen: </strong>So I got into forums and fans would translate for
              those of us who didn't speak Hindi.</li>
           <li><strong>Kittya Cullen: </strong>it
              was kind of taboo for divorcees who were women to get remarried, and it was rare
              for a widower to be portrayed as someone who was intensely devoted to the wife
              that he had lost, so it was a combination of really interesting
              things.</li>
           <li><strong>Kittya Cullen: </strong>I
              grew up in the Caribbean ... Well, on South America but as socially, politically
              part of the Caribbean, so most of the content that we were consuming was either
              shows from the US or whatever, maybe European shows might have filtered through,
              and that also was the case for the books that we were reading. And while it was
              the case within school for us to consume Caribbean literature, it was harder to
              read Caribbean literature as a person on my own.</li>
           <li><strong>Kittya Cullen: </strong>And my aunt in particular,
              she teaches English, and so they had old texts that I found and started reading
              them. And that's when I began to realize that the books that I had been reading
              were excluding me. It was something that you sort of knew but you didn't quite
              know.  So when I first read texts were people were actually talking about foods that
              I
              would eat or where people were living in communities like mine, where people
              spoke that way that I spoke, et cetera. Because even though I speak, let's say, like
              this,
              how I speak with my family or how I speak with my friends from back home, it's a
              little different even though ... So, my particular country, we speak English,
              but it's a particular kind of English. because back home I
              was part of the majority, so even though it's absent, you were still seeing
              yourself in other ways, whether that's being who was teaching you or who was in
              the news as a politician, et cetera But here it was a completely different
              ballgame, so it felt more insidious</li>
           <li><strong>Kittya Cullen: </strong> Given my own cultural background and
              the cultural background of the world in general, I was pretty surprised about
              that, so I started consuming fics and reading the show</li>
           <li><strong>Kittya Cullen: </strong>I mean, I know I was raised in a pretty
              fundamentalist Christian kind of environment, but I think I'm seeing here things
              that I should not be seeing between two [inaudible
              00:58:53] people."</li>
        </ul>
      </div>
