<div class="collapse" id="PI-other">
  <h2>Power and Identity</h2>
  <h3>Other</h3>
  <ul>
     <li><strong>Aria: </strong>I guess it was actually about immigration, it's just I never really ever got around
        to doing a piece about immigration system, but somebody had a bad take about immigration
        in America in a piece of fanfic and I was like, "God, that's a really bad understanding
        of that friend. That is utopian and wrong."</li>
     <li><strong>Aria: </strong>I wrote about suicide at a time where I was not ready to talk about it, as a writer.
        I'm still not sure I can actually talk about suicide now, in a way that's beneficial
        or useful for me. I'm not sure now I can do that now, or could not do it now, but
        I could not do it at the time, or I couldn't do it in a way that was healthy. I know
        I wrote it that it would seem therapeutic, but I also was being retraumatized, and
        I didn't say that obviously in the tags.</li>
     <li><strong>Aria: </strong>I did consult with some folks when I was writing some texts about trauma, because
        I was like... I wasn't comfortable writing that.</li>
     <li><strong>Aria: </strong> And so I was, for me the most natural thing to write about is to write about... Not
        just homophobia, although this was a story about homophobia, not just homophobia,
        but this was a story about queerness and politics. And because this was the thing
        that was radicalizing me And it was about violence, so I don't just mean violence
        as a method of resistance, I mean violence as a thing that people survive.</li>
     <li><strong>Aria: </strong>But also a man who genuinely is providing aid and comfort and resources for fighting
        for what he views as liberation, and that liberation's probably genuine at some level.
        I think it's fair to say that there is a political bender-like supremacy at the beginning.
        I mean there is, we know there's a bender supremacy at the beginning of Legend of
        Korra.</li>
     <li><strong>Aria: </strong>And I kind of wanted to say that queerness isn't criminalized in the Northern Water
        Tribe, or is not criminalized anymore. But the other thing I wanted to talk about
        is, what are politicians willing to give up for their family, and what are they not?</li>
     <li><strong>Aria: </strong>You could do what, when and where, the idea that a politician can't really save the
        world. I don't know if I was all the way to, "We have to do it," yet, but I think
        I'm getting there.</li>
     <li><strong>Aria: </strong>This was written obviously before Donald Trump becomes President, and I could see
        all sorts of things about reaction again. But I was seeing the reaction, I was scared.
        I don't know where I got this, there was something bad was coming. I knew that I had
        that sense of fear, so I was writing about... I guess writing a little bit about,
        how do we fight back when things get worse?</li>
     <li><strong>Aria: </strong>I'd write it as a story that talks about immigration, and talks about sweeping panic
        and fear that spill off of that. I'd probably talk about gender through those lenses,
        and I'd probably talk about humanity in a slightly more complex... I'd probably make
        it a story that... I'd probably both use modern messages to say that, I'd probably
        talk more about police state, and police state as endless spying networks where you
        don't know when you're being spied on and when you're not, and endless police states</li>
     <li><strong>Aria: </strong>I think that people writing about suffering and happiness, a lot of things happen
        in love stories in general, particularly in WlW and MlM stuff.  so much MlM stuff
        is kind of uncomfortable? A lot it's very clearly written by women.</li>
     <li><strong>Aria: </strong>I don't really understand ABO [alpha, beta, omega] as in general, so I can't talk.
        They're not as inherently sexual. They definitely struck me as relatively sexual</li>
     <li><strong>Dialux: </strong> But it was, I
        think, mostly due to the kind of deep rage that I was feeling over the entire
        Democratic Primaries over the past couple of months. And almost the past year.
        In which everything felt very much like a lot of talk, and not a lot of doing.
        And at some point, you need some catharsis. And kind of putting it out into
        fiction and seeing something changing. Or, not even seeing something changing.
        But seeing people trying to effect change, and willing to fight for that change
        felt very important to me. And basically that entire fanfic is kind of born out
        of that seething, massive, "I want to see something happening."</li>
     <li><strong>Dialux: </strong>From either my own culture because, of course,
        this is partially my own culture.</li>
     <li><strong>Dialux: </strong>this core feeling that they cannot get rid of,
        that the world has done them a huge injustice. And as much as it's cathartic to
        see that in fanfic, I also feel like if you go through life like that, it's a
        very difficult way of going through life.</li>
     <li><strong>GillyWulf: </strong>it's a common trope in a lot of fanfiction communities, is the student-teacher
        ... What is that? Student-teacher pairing, whatever. My dad is a teacher, so the
        idea of that has always just absolutely not been something that I want to
        encourage, and it just isn't good, so I don't like writing that, I don't like
        reading it.</li>
     <li><strong>GillyWulf: </strong>You look out your window and things are just not
        good a lot of the time, so I really like reading things that are just
        soft and maybe things aren't so terrible for them where they are, and just sort
        of getting lost in the idea of, they can just relax. They've been through so
        much, they deserve a little bit of something that's not going to hurt them, with
        somebody who definitely wants the same for them, who wants the same for
        themselves.</li>
     <li><strong>Kittya Cullen: </strong>And my aunt in particular,
        she teaches English, and so they had old texts that I found and started reading
        them. And that's when I began to realize that the books that I had been reading
        were excluding me. It was something that you sort of knew but you didn't quite
        know.  So when I first read texts were people were actually talking about foods that
        I
        would eat or where people were living in communities like mine, where people
        spoke that way that I spoke, et cetera. Because even though I speak, let's say, like
        this,
        how I speak with my family or how I speak with my friends from back home, it's a
        little different even though ... So, my particular country, we speak English,
        but it's a particular kind of English. because back home I
        was part of the majority, so even though it's absent, you were still seeing
        yourself in other ways, whether that's being who was teaching you or who was in
        the news as a politician, et cetera But here it was a completely different
        ballgame, so it felt more insidious</li>
     <li><strong>Kittya Cullen: </strong>I guess who is an ... I
        wouldn't say an abuser because there isn't that dynamic for them. But in the way
        that the relationship shifts from love and care to an act of violence
        ...</li>
     <li><strong>Kittya Cullen: </strong>And I think that's my favorite thing about fandom and fan
        fiction, how fans sort of delve into all these areas in canon that either there
        wasn't time to explore or it didn't really seem to be important enough to
        explore, so things like inequality. When I write now, it's just always in the
        forefront, "How can I better represent experiences of people in the world," not
        just for myself, but for other people, what they're going
        through.</li>
     <li><strong>Kittya Cullen: </strong>I think, and I'll probably go with my own fandom experiences,
        it just comes back to how the world is constructed externally. So just even the
        idea of imagining inside of what was placed before us, it takes a special kind
        of familiarity with the boarders of the world to imagine a world that is
        different from what is presented to you.  At the time, I don't know, it was just that
        Korra
        and Mako were what was the norm. And so I think it made sense for some people to
        only be able to see that happening. I mean, I didn't see the possibility of
        Korrasami until the very end.</li>
     <li><strong>Kittya Cullen: </strong>Korrasami just seems too weird, okay
        people. that people were so willing to see all these other, in some
        ways really twisted, relationship dynamics, couldn't quite bring themselves to see
        what others
        were seeing when they took the allocishet glasses off.</li>
     <li><strong>Valk: </strong>you don't really understand romance all
        typically well. It's all very idealized.</li>
     <li><strong>Valk: </strong>it was one of
        the first pairings, I should add the first male-female pairing, the first hetero
        pairing that I felt emotionally invested in to a point where I was
        surprised.</li>
     <li><strong>Valk: </strong>A lot of incest. An exorbitant amount of
        incest, like beyond what I even take it. I'm typically very do what you want,
        but even now, I'm just like don't like that.</li>
     <li><strong>WriteGirl: </strong>willing to not listen to him, who
        understood that, this person is not my friend. This person is strictly
        manipulative. He's going to take me somewhere that I don't want to go, so my
        only choice is to find the strength in me that she has, and say, "Okay, I'll
        run. If it means I have to die, I'm not going to let him use me for whatever his
        ends are."</li>
     <li><strong>WriteGirl: </strong>he would never allow that, because he
        wants control of her, and that is something that she realizes, because she's not
        an idiot.</li>
     <li><strong>WriteGirl: </strong>And then with Sansa, just how people recover
        from abusive and traumatic relationships, and things like that. The stages of
        recovery.</li>
     <li><strong>WriteGirl: </strong>Yeah, there's one scene where he kind of corners her,
        and it's a lot of Chester the Molester, a bit. It's a little
        stalker-y.</li>
     <li><strong>WriteGirl: </strong>Sansa, Petyr, I've always hated that one, simply because he's grooming. It's
        very obvious. Petyr would relish that. He
        does everything he can to get her into trusting him, and thinking of him as her
        friend, and I would do anything for you, and that's really, really creepy. It's
        always a surprise to me when I see Petyr Baelish, Sansa Stark fics especially
        ones where it's not manipulative, and coercive, and creepy, I'm like, "What are
        you guys seeing in that?" That's just odd.</li>
  </ul>
      </div>
