<div class="collapse" id="PI-class">
  <h2>Power and Identity</h2>
  <h3>Class</h3>
   <ul>
      <li><strong>Aria: </strong>Whereas Korra grows up in this institution, Asami grows up with a relatively politically
         progressive father. He's a radical, he tries to overthrow his government, make the
         world a more equitable and fair place. It's self-interested, he's a bourgeois radical,
         but I wouldn't have said that at the time. I imagine Asami as having a relatively
         normal, relatively healthy understanding of the world in a way, having felt like she,
         not just knowing that a woman can love another woman, because I guess almost every
         person in this world knows. This is nothing like, Korra is particularly going to have
         a hard time because of that institution itself.</li>
      <li><strong>Aria: </strong>a lot of my understanding of Hiroshi as a bourgeois radical is that I'm not going
         to have a [inaudible 00:30:36], because I don't really have a sense of class politics
         at the time, or have the beginnings of that study</li>
      <li><strong>GillyWulf: </strong>growing up with the rich father,
         she has certain expectations placed on her and where she's going to go in her
         life according to that company, so she has to be sort of poised and on her toes
         all the time.</li>
      <li><strong>WriteGirl: </strong>She was definitely never really prepared for court
         life. wonderful knights in their shining armor, these
         lovely ladies who are just ethereal in their beauty, everything being wrapped up
         in a bow, happily ever after. Maybe something happens, but someone's always
         rescued. So really, Sansa's really forced to grow up,
         and she's really forced to see all these stories as exactly what they are.
         They're just stories.</li>
      <li><strong>WriteGirl: </strong>She's really
         seeing Cersei for the creature Cersei is, beyond just being kind of a high-born
         woman in Westeros. She's seeing the monster that's inside Cersei. Cersei will do
         anything. She will do anything to maintain power, she will do anything to get
         back at her enemies, even if it means murder, blackmail, et cetera. And I think
         Missandei coming from a society where no one would have to hide that from their
         slaves. She sees it. Like I know you, I've seen masters exactly like you. And
         she's really recognizing the monster that's in Cersei outside of all of her
         jewels, outside of her gowns, outside of her façade of being this queen and
         great lady. It's like, no, you're really this evil thing, and I know it because
         I've seen it before.</li>
      <li><strong>WriteGirl: </strong>No, you
         would have fit in well with them. You may think that you're better, you may
         think that you're better than people from Astapor. You may think that you're
         better than slave owners and all this, that, and the other, but in the end you
         are not. You are exactly like them</li>
   </ul>
      </div>
