<div class="collapse" id="PI-sexism">
  <h2>Power and Identity</h2>
  <h3>Sexism</h3>
 <ul>
    <li><strong>Dialux: </strong>Because especially when you're looking at a lot of Indian mothers, and Indian
       women who get into marriages at a very young age. You have to deal with your
       husband's family, you have to deal with that entire kind of stigma. About you
       have to be the one to adjust and to compromise to a far greater extent than your
       husband. Where she was
       just trying to fight it, she was such a perfect child in that culture. And then
       suddenly she has to kind of leave her culture behind. Or, not leave her culture
       behind, but adjust to a new culture.</li>
    <li><strong>Dialux: </strong>Which is, "Yes, I'm miserable. I want you to be miserable. But how am I going
       to be miserable for?" You need to let some things go, you need to move on past
       the injustices... I need to move past the injustices that I have
       faced.</li>
    <li><strong>GillyWulf: </strong>the easy answer is sexism,
       because everyone sees the main heroine next to a cute boy and decides, "That's
       good. I'm going to do that," without maybe necessarily putting much more thought
       into it.</li>
    <li><strong>Kittya Cullen: </strong>But even Katara in the
       beginning, it was kind of frowned upon for her to use waterbending beyond
       healing  So it was interesting to see all
       these female characters get to be complex and powerful and not have that held
       against them,</li>
    <li><strong>Kittya Cullen: </strong>It's basically
       girl-next-door, blonde, blue-eyed, sort of hyper-feminine in some ways but also
       gender non-conforming in other ways super hero  dating a black man, or having that
       black man being put as
       a love interest when that's usually not the case, especially for that kind of
       media. And then you break them apart in the second season
       and conveniently replace him with a white man who just actually makes the
       character feel terrible
       derails her show, and starts to get almost as much screen time as she does even
       though he's not really an integral part of the show. Just so much went wrong so
       fast. He was so bad.</li>
    <li><strong>Valk: </strong>obviously they wouldn't be having as
       much of a, you know Brienne wouldn't be considered as horrifying as she was
       considered in the original text because she was considered man-ish. In modern
       day context, it's not always encouraged, based on what kind of family you came
       from, women are often allowed to be tom boys more than vice
       versa. But there would definitely be some push
       back, I made her a little bit more comfortable in
       her skin than Jaime also having her there to sort of be a foil and a supportive shoulder
       for Jaime
       who was going through a similar thing that maybe she went through as
       well.</li>
    <li><strong>Valk: </strong>I think that reflected a lot of her issues with not being able
       to fulfill the role that she was supposed to play with her father with being the
       heir, giving him a son and all these things.</li>
    <li><strong>Valk: </strong>Residual toxic masculinity and
       all of that.</li>
    <li><strong>Valk: </strong>the show really undercut Jaime and Brienne's
       relationship as well at the end. One of the big ones is like Jaime and Brienne
       kissed each other and Jaime was suddenly taller than her.</li>
    <li><strong>WriteGirl: </strong>Yeah, there's one scene where he kind of corners her,
       and it's a lot of Chester the Molester, a bit. It's a little
       stalker-y.</li>
    <li><strong>WriteGirl: </strong>Sansa, Petyr, I've always hated that one, simply because he's grooming. It's
       very obvious. Petyr would relish that. He
       does everything he can to get her into trusting him, and thinking of him as her
       friend, and I would do anything for you, and that's really, really creepy. It's
       always a surprise to me when I see Petyr Baelish, Sansa Stark fics especially
       ones where it's not manipulative, and coercive, and creepy, I'm like, "What are
       you guys seeing in that?" That's just odd.</li>
 </ul>
      </div>
