<div class="collapse" id="PI-feminism">
  <h2>Power and Identity</h2>
  <h3>Feminism</h3>
<ul>
   <li><strong>Aria: </strong>Okay, my first guess would be that women who love women will write about women who
      love women, want to tell stories that have happy endings. I think in a lot of the
      stories we see in literature are of our destruction as a moral point, or the echoes
      of authority. That doesn't mean that all of the stories that we see that are echoes
      of stories are intended as seeing those moral and political tellings, they're just,
      "That's what our culture tells us." A lesbian love story, so retelling... If women
      who love women retell stories of women who love women, they're going to tell a lot
      of stories that are about being happy, at least in my opinion.</li>
   <li><strong>Dialux: </strong> And adjusting to that
      is a huge, almost, culture shock to people. To any women, adjusting to that is
      difficult. And has to go to a foreign country without any
      support, and any of her own traditions. She's the one that's upheld every single
      tradition she has ever done. And especially when you're looking at the Hindu
      culture, it's very difficult to uphold them.</li>
   <li><strong>Dialux: </strong>Which is, "Yes, I'm miserable. I want you to be miserable. But how am I going
      to be miserable for?" You need to let some things go, you need to move on past
      the injustices... I need to move past the injustices that I have
      faced.</li>
   <li><strong>Dialux: </strong>Or, she's feeling as if her family is not willing to give
      her as much as she is owed when she's going into a
      marriage.</li>
   <li><strong>Dialux: </strong>when I was first getting into the fandom,
      one of my friends basically told me that the women in this are really
      strong. Like, you have Sansa, who
      is conventionally pretty, but she also has, on an internal level, she just kind
      of lives with whatever society expects of her. Whereas, Brienne is not
      conventionally pretty, so she has to find another way of gaining power in her
      world.</li>
   <li><strong>Dialux: </strong>And Sansa, despite the fact that as a young
      child she wanted all of that, in the end she got power, and the ability to make
      sure that nobody hurt her.</li>
   <li><strong>Dialux: </strong>And I think
      there are other ways that the show actually showed that with the sexual
      liberation for women, and the feminist liberation for Arya and
      everything.</li>
   <li><strong>GillyWulf: </strong>that they have
      very female-centered stories.  at least all three are those are canonically queer
      characters, which are things that now get me really excited and make me want to
      go,</li>
   <li><strong>GillyWulf: </strong> And for Korra, she's an imposing
      figure, whether or not she means to be. She's got the muscles she's maybe not as white
      as everybody else in
      Republic City, and she's got these really bight eyes.</li>
   <li><strong>Kittya Cullen: </strong>both
      as a black person and as a woman, it was just important for me to recognize that
      in text and get around to exploring what that might have meant for other
      characters who weren't within the Circle of the Avatar and had powerful
      connections.</li>
   <li><strong>Kittya Cullen: </strong>With gender roles in particular, I think it's fascinating
      that within the Avatar universe, we got to see all these really powerful girl
      and women characters who were, for the most part, respected, at least in later
      years.</li>
   <li><strong>Kittya Cullen: </strong>But even Katara in the
      beginning, it was kind of frowned upon for her to use waterbending beyond
      healing  So it was interesting to see all
      these female characters get to be complex and powerful and not have that held
      against them,</li>
   <li><strong>Kittya Cullen: </strong>we have Korra, who is the avatar, and she is this figure who
      is not the conventional or gender-conforming version of femininity that we're
      accustomed to. She's allowed to be athletic and walk around in pants without
      concerns about what others are thinking. Even though she does think about her
      gender presentation, it comes from a place that's not her considering herself
      inadequate, but because she saw other people I guess idolized in this particular
      form of femininity being expressed, so we see Korra and we see Lin and we see
      Sue and Kuvira, and they're all these women who either have power or they're
      dealing with their own traumas or they have complex relationships with their
      mothers, and they have complex relationships with their children as well, if
      they do have children, and so forth.</li>
   <li><strong>Kittya Cullen: </strong>Korra is an avatar who's a
      woman. She's not a dainty fainting flower that
      they love.</li>
   <li><strong>Kittya Cullen: </strong>It's basically
      girl-next-door, blonde, blue-eyed, sort of hyper-feminine in some ways but also
      gender non-conforming in other ways super hero  dating a black man, or having that
      black man being put as
      a love interest when that's usually not the case, especially for that kind of
      media. And then you break them apart in the second season
      and conveniently replace him with a white man who just actually makes the
      character feel terrible
      derails her show, and starts to get almost as much screen time as she does even
      though he's not really an integral part of the show. Just so much went wrong so
      fast. He was so bad.</li>
   <li><strong>Valk: </strong>obviously they wouldn't be having as
      much of a, you know Brienne wouldn't be considered as horrifying as she was
      considered in the original text because she was considered man-ish. In modern
      day context, it's not always encouraged, based on what kind of family you came
      from, women are often allowed to be tom boys more than vice
      versa. But there would definitely be some push
      back, I made her a little bit more comfortable in
      her skin than Jaime also having her there to sort of be a foil and a supportive shoulder
      for Jaime
      who was going through a similar thing that maybe she went through as
      well.</li>
   <li><strong>Valk: </strong>it was all
      very incredibly heteronormative. Just their gender roles and Brienne being
      vulnerable and weak and all that stuff again. I was just not really feeling it, so
      I wrote my
      own instead.</li>
   <li><strong>Valk: </strong>he always had a very strange affinity, but
      like an affinity for femininity. Weirdly enough, like he loved his mother, he
      loved Cersei, but he was always very partial to seeing things from their point
      of view.</li>
   <li><strong>Valk: </strong>Jaime had this big, beautiful wife that was taller than him
      and he's like, "Look at my beautiful wife. Isn't she huge, ask him, and
      wonderful?"</li>
   <li><strong>WriteGirl: </strong>I wanted her to have a little bit more
      agency. So I wanted
      her to get a little more agency, especially when she found out who she was
      supposed to be meeting. I didn't see Sansa ever agreeing to
      that.</li>
   <li><strong>WriteGirl: </strong>She's re-discovered her strength. She's
      done something that she didn't think she could do.  That was kind of that whole, what
      that
      episode was about was Sansa really re-discovering herself, and what she could
      do.</li>
   <li><strong>WriteGirl: </strong>She was definitely never really prepared for court
      life. wonderful knights in their shining armor, these
      lovely ladies who are just ethereal in their beauty, everything being wrapped up
      in a bow, happily ever after. Maybe something happens, but someone's always
      rescued. So really, Sansa's really forced to grow up,
      and she's really forced to see all these stories as exactly what they are.
      They're just stories.</li>
   <li><strong>WriteGirl: </strong>What I was afraid of, I should never have
      been afraid of, what I wanted was the thing I should have been worried about.
      She's really kind of flipped the script in her own mind.</li>
</ul>
      </div>
