<div class="collapse" id="PI-abelism">
  <h2>Power and Identity</h2>
  <h3>Abelism</h3>
 <ul>
    <li><strong>Aria: </strong>For me, this text begins both as like, I was reading a lot about Stonewall and the
       context around Stonewall,  also I was reading a piece about PTSD, and it was just
       very surface, very basic understanding of trauma and PTSD in particular, like something
       you recover from, in a way that I was not super comfortable with. And sort of the
       original text, not sure if you would agree. And so I wanted to talk about disability
       through the context of being something you come to live with, and come to integrate,
       and come to find becomes a part of you life, but also something you still struggle
       with, instead of just, I don't know, a lot of us have seen the story a lot like, you
       get better, and then you get better and you win. And then one day it doesn't bother
       you.</li>
    <li><strong>GillyWulf: </strong>she's trying to have a good experience and maybe power
       through it, but then, in that brief lapse where she forgets that she's tied down
       and then she tries to sit up, it's sort of like a muscle memory thing, where
       she's back there the last time she was chained up and couldn't
       move.  You hear stories about how people
       try and be helpful and just make situations worse</li>
    <li><strong>Kittya Cullen: </strong> The implication is
       that she's about to jump off a cliff. But we don't really get to dwell in the
       true feeling of that moment, the have to fix it immediately because of the idea
       that the show may never get to come back to this point, so we don't get to
       actually see what that means for her.</li>
    <li><strong>Kittya Cullen: </strong>I wasn't quite sure yet how to engage with what was happening
       in ways that were visible to other people outside of the fan community, the
       slashfan community.</li>
    <li><strong>Valk: </strong>when I was writing, I wasn't very well-versed in
       not just having a limb missing as a disability, but also how advanced the
       prosthetics were and if they could hold things</li>
 </ul>
      </div>
