<div class="collapse" id="PI-homophobia">
  <h2>Power and Identity</h2>
  <h3>Homophobia/Transphobia</h3>
<ul>
<li><strong>Aria: </strong>if you read this you'll see homophobia. I can't not publish a story about homophobia.</li>
<li><strong>Aria: </strong> And so I was, for me the most natural thing to write about is to write about... Not
  just homophobia, although this was a story about homophobia, not just homophobia,
  but this was a story about queerness and politics. And because this was the thing
  that was radicalizing me And it was about violence, so I don't just mean violence
  as a method of resistance, I mean violence as a thing that people survive.</li>
<li><strong>Aria: </strong>And I remember being like, "Oh, these folks are not going to tell a child about queer
  sexuality." Particularly sexuality is a hard topic, you grow up in that kind of compound
  in a world where queer identities are looked down on, you're going to come away with
  this very strange view about that. And you might just be told nothing.</li>
<li><strong>Aria: </strong>My family was pretty chill, but running a queer resource center at community college
  is like, getting that [inaudible 00:24:12]. You would deal with a bunch of people
  that were writing about the problems for being gay, or feeling like they can't talk
  about it, or being the only source of information, of being part of an institution
  that was the only source of information.</li>
<li><strong>Aria: </strong>And I kind of wanted to say that queerness isn't criminalized in the Northern Water
  Tribe, or is not criminalized anymore. But the other thing I wanted to talk about
  is, what are politicians willing to give up for their family, and what are they not?</li>
<li><strong>Aria: </strong>turns out the book I was reading at the time that claimed that knowing someone who
  was gay had a significant...Or not knowing someone who was gay, but engaging with
  someone who's gay on the topic of being gay helped significantly with changing someone's
  political views, or being willing to accept gay people. Turns out that one was actually
  wrong, like literally the person who put together that study cooked the book.</li>
<li><strong>Aria: </strong> was thinking about New York City around the times of the Stonewall Riots. This is
  where those politics come in. I was playing with, what does it mean... I was playing
  with, what's particularly violent political oppression? What are the limits of political
  oppression in a relatively liberal cosmopolitan society?</li>
<li><strong>GillyWulf: </strong>And maybe, I think,
  during that time, also, gay marriage was legalized, so it was just definitely
  different attitudes in that.</li>
<li><strong>GillyWulf: </strong>A lot of
  straight people I know will look at a lot of these relationships and say, "Oh,
  that came from nowhere."</li>
<li><strong>Kittya Cullen: </strong>I think it just seemed
  like the safer option at the time. </li>
<li><strong>Kittya Cullen: </strong>Korrasami just seems too weird, okay
  people. that people were so willing to see all these other, in some
  ways really twisted, relationship dynamics, couldn't quite bring themselves to see
  what others
  were seeing when they took the allocishet glasses off.</li>
<li><strong>Kittya Cullen: </strong>some people
  who are cishet won't be able to speak to this I think they got
  uncomfortable with how fandom was growing so rapidly and intensely around these
  two characters even to the
  point where they used the black character as a wedge between
  them</li>
<li><strong>Kittya Cullen: </strong>two actors leaning into it because
  they didn't have a problem with it but we see that some of the writers were
  uncomfortable, or I guess maybe the network or the showrunners were
  uncomfortable where the story was heading. And we are going to
  have your favorite superhero be shipped with a slave owner.</li>
<li><strong>Valk: </strong>gender fluid and gender
  related things, it wasn't really there.</li>
<li><strong>Valk: </strong>I
  guess I was thinking about also how I had reacted or how my friends had reacted
  to when I came out to them. I wanted to, I guess write a do-over for some
  of them about how I would have liked to have that experience with me, like
  having them knock again and come inside and ask questions and not just kind of
  leave it right there and not talk again. I wanted to sort of console myself a
  little bit through it as well as wanted to console Jaime</li>
<li><strong>Valk: </strong>I ship Sansa and Marjory and I tried to write fic for
  them I
  don't know why it never picked up. Marjory just walked around the whole show
  just hitting on everyone. I was like why isn't there more of this? It's
  literally right here.</li>
<li><strong>Valk: </strong>Again, it's Renly/Lauris,
  Sansa/Marjory. Yeah, there's not a lot really on there.</li>
</ul>
</div>
