<div class="collapse" id="PI-lgbtq">
  <h2>Power and Identity</h2>
       <h3>LGBTQ+</h3>
       <ul>
          <li><strong>Aria: </strong>"I can't really write this story about two women in love because one of them isn't
             a woman anymore, that story doesn't work as a piece."</li>
          <li><strong>Aria: </strong>For me, this text begins both as like, I was reading a lot about Stonewall and the
             context around Stonewall,  also I was reading a piece about PTSD, and it was just
             very surface, very basic understanding of trauma and PTSD in particular, like something
             you recover from, in a way that I was not super comfortable with. And sort of the
             original text, not sure if you would agree. And so I wanted to talk about disability
             through the context of being something you come to live with, and come to integrate,
             and come to find becomes a part of you life, but also something you still struggle
             with, instead of just, I don't know, a lot of us have seen the story a lot like, you
             get better, and then you get better and you win. And then one day it doesn't bother
             you.</li>
          <li><strong>Aria: </strong>It had two epic story arcs that I didn't know how to integrate, both this love story
             about disability, and it was this story about queer politics, and I could not make
             those two pieces meld at the time.</li>
          <li><strong>Aria: </strong>it was one of those things that was like, "Oh, I love this, I love feeling represented."</li>
          <li><strong>Aria: </strong> And so I was, for me the most natural thing to write about is to write about... Not
             just homophobia, although this was a story about homophobia, not just homophobia,
             but this was a story about queerness and politics. And because this was the thing
             that was radicalizing me And it was about violence, so I don't just mean violence
             as a method of resistance, I mean violence as a thing that people survive.</li>
          <li><strong>Aria: </strong>Asami plays that role, being a person to whom Korra wants to relate, is thrilled to
             relate, is not scared, or she is a little bit scared to relate, but is she scared
             to relate in the way that she's scared to relate to other people.</li>
          <li><strong>Aria: </strong>Whereas Korra grows up in this institution, Asami grows up with a relatively politically
             progressive father. He's a radical, he tries to overthrow his government, make the
             world a more equitable and fair place. It's self-interested, he's a bourgeois radical,
             but I wouldn't have said that at the time. I imagine Asami as having a relatively
             normal, relatively healthy understanding of the world in a way, having felt like she,
             not just knowing that a woman can love another woman, because I guess almost every
             person in this world knows. This is nothing like, Korra is particularly going to have
             a hard time because of that institution itself.</li>
          <li><strong>Aria: </strong>This is the moment when this becomes one of the early queer relationships in cartoons,
             a relatively good one. There's nothing particularly problematic about it, it's limited,
             but it's good.</li>
          <li><strong>Aria: </strong>And there's a degree to which it a queer reading, there's this political tendency
             to look at fiction and say, "I am going to tell the story you didn't."</li>
          <li><strong>Aria: </strong>Okay, my first guess would be that women who love women will write about women who
             love women, want to tell stories that have happy endings. I think in a lot of the
             stories we see in literature are of our destruction as a moral point, or the echoes
             of authority. That doesn't mean that all of the stories that we see that are echoes
             of stories are intended as seeing those moral and political tellings, they're just,
             "That's what our culture tells us." A lesbian love story, so retelling... If women
             who love women retell stories of women who love women, they're going to tell a lot
             of stories that are about being happy, at least in my opinion.</li>
          <li><strong>Aria: </strong>I think that people writing about suffering and happiness, a lot of things happen
             in love stories in general, particularly in WlW and MlM stuff.  so much MlM stuff
             is kind of uncomfortable? A lot it's very clearly written by women.</li>
          <li><strong>Aria: </strong>just looking at masculinity as almost sexual in the middle there, an almost dangerous.
             Because a person's understanding of masculinity are sexual, like the second one is
             a kind of dangerous, like a kind of danger Versus like the sexuality in the second
             one, for feminine as well as that same panel, but it's not like dangerous I was laughing
             at the bottom set for heiress in the middle column, "a-asami" there.</li>
          <li><strong>Dialux: </strong>It's very interesting to me, because I think if you look at any other major
             fandom, you would probably get male male slash at a much higher rate than you're
             getting here. And it's just very interesting to me to
             see how female male has been so prevalent across all seasons. And to such an
             extent. And, I mean, obviously, there are a lot of theories about why that
             is</li>
          <li><strong>GillyWulf: </strong>that they have
             very female-centered stories.  at least all three are those are canonically queer
             characters, which are things that now get me really excited and make me want to
             go,</li>
          <li><strong>GillyWulf: </strong>And maybe, I think,
             during that time, also, gay marriage was legalized, so it was just definitely
             different attitudes in that.</li>
          <li><strong>GillyWulf: </strong>just
             seeing the way her relationship sort of evolved with Asami over time, especially
             once you get into the third season, was like, "Okay, I'm into this. Whether or
             not they're going for it, I see it." So, it was like, "All right. I and a lot of
             the people in the fandom seem to agree for some reason, so I'm just going to go
             there and enjoy that while I'm doing it.</li>
          <li><strong>GillyWulf: </strong>And I always thought her relationship with Mako felt
             super forced let's just
             focus on these two.</li>
          <li><strong>GillyWulf: </strong>As soon as Asami showed up on the screen, I must have lost
             it. But it was incredible. I couldn't believe it. I was like, "This is
             happening, right?" Yeah. I was like, "Jesus."</li>
          <li><strong>GillyWulf: </strong>You look out your window and things are just not
             good a lot of the time, so I really like reading things that are just
             soft and maybe things aren't so terrible for them where they are, and just sort
             of getting lost in the idea of, they can just relax. They've been through so
             much, they deserve a little bit of something that's not going to hurt them, with
             somebody who definitely wants the same for them, who wants the same for
             themselves.</li>
          <li><strong>GillyWulf: </strong>Initially, it was definitely harder to see
             that I liked that they
             weren't immediate, for the most part.</li>
          <li><strong>GillyWulf: </strong>but they were so good together that I wanted to be able to
             sometimes just say they can be immediate,</li>
          <li><strong>GillyWulf: </strong>So, at the same time,
             it was also sort of an exploration for me in that I've known I was gay, probably
             since kindergarten, but I sort of just put it off, put it off, and it wasn't
             until I started getting into Korrasami that I was like, "Okay, well, I'm meeting
             a community where this is accepted and this is encouraged even." So, I had
             decided to come out, and these became sort of two parallels of, "It could be
             this, or it could be that." Of like, "What is the best case? What is the worst
             case for maybe how my parents will react?" Thankfully, it leaned more towards
             Korra's parents than Asami, but it did sort of dip into that a little
             bit.</li>
          <li><strong>GillyWulf: </strong>Well, again, it was the prompts, but it was
             also, I have personally been a little conflicted on gender for a while, and it's
             like my sexuality, it was something that I sort of just say, "Well, I'll get to
             that when I have the chance."</li>
          <li><strong>GillyWulf: </strong>she's living the life that she wanted to live with a person she loves, doing
             something she loves. And even though it maybe needs to be a little bit more
             complicated, because of hormones or things like that, but it's not a huge
             obstacle, it's just a little something to add to the day.</li>
          <li><strong>GillyWulf: </strong>And even though the trans experience is not necessarily one
             that I know for certain, there's plenty of people in the Korra community, in
             most online Internet communities, where there's plenty of those people and you
             see what they're going through and you see how their lives are</li>
          <li><strong>GillyWulf: </strong>"I want a female ship. Going for it. I don't
             care whether or not they necessarily gel."</li>
          <li><strong>GillyWulf: </strong>"That's a little gayer than it maybe should be," that sort of look. So, a lot
             of people took that and decided to go with it or at least Korrasami fans, picking
             up on it and saying, "Okay, well, we don't know when season four is happening,
             so we're just going to kick off from there and this is what could
             happen."</li>
          <li><strong>GillyWulf: </strong>This is canon, right? This is canon. That's what this looks
             like</li>
          <li><strong>GillyWulf: </strong>especially since, up to that point, there really hadn't been
             a whole lot of huge representation for female ships.</li>
          <li><strong>Kittya Cullen: </strong> Given my own cultural background and
             the cultural background of the world in general, I was pretty surprised about
             that, so I started consuming fics and reading the show</li>
          <li><strong>Kittya Cullen: </strong>I just,
             spending so much time reading so much fan fiction from LOK and then branching
             out into Steven Universe and moving from Steven Universe into Supergirl, there
             was just more of an interaction with another side of fandom, the slash side of
             fandom. I don't know. I think you have to be integrated with others who are
             looking for more than what's presented, looking for more than what's norm,
             what's the acceptable way of telling a story of any kind of relationship really.
             Because even when you talk
             about what characters are bound to get more attention and more interesting and
             so on and so forth, when you look at fandom in general you'll find that when
             those characters are black or just generally a person of color in comparison to
             a character being white, that people are least particular when the fandom's
             dominated by white faces and so forth. They are more likely to explore those
             characters and to humanize them and to want to get to know them better, while
             other characters and what their hopes and dreams and ideas might be for the
             world are pushed to the side.</li>
          <li><strong>Kittya Cullen: </strong>I was
             like, "Okay. This is pretty blatant. I don't see how anyone is not seeing
             this."</li>
          <li><strong>Kittya Cullen: </strong>I mean, I know I was raised in a pretty
             fundamentalist Christian kind of environment, but I think I'm seeing here things
             that I should not be seeing between two [inaudible
             00:58:53] people."</li>
          <li><strong>Kittya Cullen: </strong>some people
             who are cishet won't be able to speak to this I think they got
             uncomfortable with how fandom was growing so rapidly and intensely around these
             two characters even to the
             point where they used the black character as a wedge between
             them</li>
          <li><strong>Kittya Cullen: </strong>two actors leaning into it because
             they didn't have a problem with it but we see that some of the writers were
             uncomfortable, or I guess maybe the network or the showrunners were
             uncomfortable where the story was heading. And we are going to
             have your favorite superhero be shipped with a slave owner.</li>
          <li><strong>Valk: </strong>I'm non-binary, so a lot of my work as I got older started
             to deal more with gender as well as sexuality, also being
             bi-sexual. I was putting them on paper, using another
             character as the medium and expressing or exploring different ideas in an area
             where I felt I was kind of safe to do so.</li>
          <li><strong>Valk: </strong>Mainly regarding the pairings that would
             show up, it would be mainly non-hetero pairings if that makes more sense than
             just saying a pairing because there would be some exploring of gender and what
             not with some characters. Or I would definitely be focusing on male-male or
             female-female relationships as well because a lot of the media already does a lot
             of
             the male-female exploration.</li>
          <li><strong>Valk: </strong>It was around the
             time when I was questioning whether or not I was non-binary</li>
          <li><strong>Valk: </strong>I sort of delved into this idea trying to explore Jaime reacquainting himself
             with these things later on in life, but through a modern lens because I also
             wanted to be able to relate to it as well.</li>
          <li><strong>Valk: </strong>obviously they wouldn't be having as
             much of a, you know Brienne wouldn't be considered as horrifying as she was
             considered in the original text because she was considered man-ish. In modern
             day context, it's not always encouraged, based on what kind of family you came
             from, women are often allowed to be tom boys more than vice
             versa. But there would definitely be some push
             back, I made her a little bit more comfortable in
             her skin than Jaime also having her there to sort of be a foil and a supportive shoulder
             for Jaime
             who was going through a similar thing that maybe she went through as
             well.</li>
          <li><strong>Valk: </strong>my own experiences, just exploring the LGBT
             community in my area</li>
          <li><strong>Valk: </strong>I really wanted
             to address the gender issue and the gender questioning and write how the
             experiences hit the hardest for me when I was thinking about
             it.</li>
          <li><strong>Valk: </strong>if you're very new into
             like trying to question your gender identity, especially being a man, you are at
             a higher risk of...I should say more so, if you present male than you are at a
             higher risk of facing violence or any kind of physical outlashing. Be it verbal
             or physical, but I think it's a lot of like, you learn to be very secretive.
             You'll act in ways to protect yourself, more than
             anything.</li>
          <li><strong>Valk: </strong>trying to work through gender things. I
             wanted to also try and put someone in the position where they were questioning
             their gender and actually acting it out, changing their appearance in some way
             that would fit them better or explore better.</li>
          <li><strong>Valk: </strong>I
             guess I was thinking about also how I had reacted or how my friends had reacted
             to when I came out to them. I wanted to, I guess write a do-over for some
             of them about how I would have liked to have that experience with me, like
             having them knock again and come inside and ask questions and not just kind of
             leave it right there and not talk again. I wanted to sort of console myself a
             little bit through it as well as wanted to console Jaime</li>
          <li><strong>Valk: </strong>I wanted to kind of write it as like a self-fulfilling
             fantasy as well as like how I would have pictured them actually going through
             it.</li>
          <li><strong>Valk: </strong>knowing that I could go back and explore myself with fan
             fic if I needed to as well.</li>
          <li><strong>Valk: </strong>I ship Sansa and Marjory and I tried to write fic for
             them I
             don't know why it never picked up. Marjory just walked around the whole show
             just hitting on everyone. I was like why isn't there more of this? It's
             literally right here.</li>
          <li><strong>Valk: </strong>Renly/Lauris,
             obviously.</li>
          <li><strong>Valk: </strong>We just did that, like Brienne was actually fully a lesbian
             and that she hated people linking her with Jaime. And I'm like, "That's an
             interesting concept, not canon, but concept." She was fighting people on the
             dashboard about it with the sort of bigger, than someone who has like facts in
             front of them would argue. And I'm like, "I understand, but this is your
             interpretation." People who ship her with Jaime don't hate lesbians. Please, do
             not try and put this away.</li>
       </ul>
</div>
