<div class="collapse" id="PI-heteronormative">
  <h2>Power and Identity</h2>
  <h3>Heteronormativity</h3>
        <ul>
           <li><strong>Aria: </strong>"I can't really write this story about two women in love because one of them isn't
              a woman anymore, that story doesn't work as a piece."</li>
           <li><strong>Aria: </strong>"This is a gender thing going on." I don't buy that there's not homophobia in a world
              with gender in the like weird way that... In ways that still reflect our I think gender
              and homophobia [inaudible 00:21:13], the way that we have a sense of gender. Big,
              capital G Gender. And so I thought like, "What does it mean to have culture in the
              context of... What does it mean to be a cosmopolitan city where... There's both a
              degree of marginalization for like the Northern Water Tribe closing... Not so much
              that rules that are really intended to enforce gender norms are going to be there.
              And also to be like, "Yeah, there's probably a different understanding of gender in
              context," yeah.</li>
           <li><strong>Aria: </strong>I'm really interested in the fact that Korra and Mako becomes more common after Korrasami
              happened.</li>
           <li><strong>Aria: </strong>you're seeing is a movement from seeing the word girlfriend in a context of a text
              that's about a set of texts about relationships in a more heterosexual perspective,
              in a story about women. Because it looks to me that this is a story that, if you see
              jealous there, that looks like I'm looking at a piece that's from Korra's point of
              view. But then if I'm looking at boyfriend, I'm also thinking about Korra and Mako.</li>
           <li><strong>Aria: </strong>just looking at masculinity as almost sexual in the middle there, an almost dangerous.
              Because a person's understanding of masculinity are sexual, like the second one is
              a kind of dangerous, like a kind of danger Versus like the sexuality in the second
              one, for feminine as well as that same panel, but it's not like dangerous I was laughing
              at the bottom set for heiress in the middle column, "a-asami" there.</li>
           <li><strong>Dialux: </strong>It's very interesting to me, because I think if you look at any other major
              fandom, you would probably get male male slash at a much higher rate than you're
              getting here. And it's just very interesting to me to
              see how female male has been so prevalent across all seasons. And to such an
              extent. And, I mean, obviously, there are a lot of theories about why that
              is</li>
           <li><strong>Dialux: </strong>I think
              I obviously can't give an explanation for a lot of these. But I think that they
              make sense, to a certain extent, because there definitely are a lot more
              heterosexual relationships within this fandom than I've seen in a lot of other
              fandoms.</li>
           <li><strong>GillyWulf: </strong>And I always thought her relationship with Mako felt
              super forced let's just
              focus on these two.</li>
           <li><strong>GillyWulf: </strong>Initially, it was definitely harder to see
              that I liked that they
              weren't immediate, for the most part.</li>
           <li><strong>GillyWulf: </strong>the easy answer is sexism,
              because everyone sees the main heroine next to a cute boy and decides, "That's
              good. I'm going to do that," without maybe necessarily putting much more thought
              into it.</li>
           <li><strong>GillyWulf: </strong>A lot of
              straight people I know will look at a lot of these relationships and say, "Oh,
              that came from nowhere."</li>
           <li><strong>Kittya Cullen: </strong>it
              was kind of taboo for divorcees who were women to get remarried, and it was rare
              for a widower to be portrayed as someone who was intensely devoted to the wife
              that he had lost, so it was a combination of really interesting
              things.</li>
           <li><strong>Kittya Cullen: </strong>Korra is an avatar who's a
              woman. She's not a dainty fainting flower that
              they love.</li>
           <li><strong>Kittya Cullen: </strong>I think, and I'll probably go with my own fandom experiences,
              it just comes back to how the world is constructed externally. So just even the
              idea of imagining inside of what was placed before us, it takes a special kind
              of familiarity with the boarders of the world to imagine a world that is
              different from what is presented to you.  At the time, I don't know, it was just that
              Korra
              and Mako were what was the norm. And so I think it made sense for some people to
              only be able to see that happening. I mean, I didn't see the possibility of
              Korrasami until the very end.</li>
           <li><strong>Kittya Cullen: </strong>Plus the allocishets tend to dominate fandom in
              general, so it made sense that they would sort of own the sandbox and everyone
              else should be playing to the side.</li>
           <li><strong>Kittya Cullen: </strong>Korrasami just seems too weird, okay
              people. that people were so willing to see all these other, in some
              ways really twisted, relationship dynamics, couldn't quite bring themselves to see
              what others
              were seeing when they took the allocishet glasses off.</li>
           <li><strong>Kittya Cullen: </strong>I'm always on
              the fence sometimes when I'm talking about how people are seeing or not seeing
              certain things. Because even with my current fandom, it's like half the people
              are saying that we're delusional or creating things where there aren't things.
              And then other times you see these exact phenomena occurring in cishet
              media.</li>
           <li><strong>Valk: </strong>Mainly regarding the pairings that would
              show up, it would be mainly non-hetero pairings if that makes more sense than
              just saying a pairing because there would be some exploring of gender and what
              not with some characters. Or I would definitely be focusing on male-male or
              female-female relationships as well because a lot of the media already does a lot
              of
              the male-female exploration.</li>
           <li><strong>Valk: </strong> lot of their fics also had a lot of like Jaime
              being the man and Brienne finally being able to let her guard
              down.</li>
           <li><strong>Valk: </strong>it was all
              very incredibly heteronormative. Just their gender roles and Brienne being
              vulnerable and weak and all that stuff again. I was just not really feeling it, so
              I wrote my
              own instead.</li>
           <li><strong>Valk: </strong>It went
              into his relationship with his father, he was caught walking in his mother's red
              heels and he got very scolded and punished for it.</li>
           <li><strong>Valk: </strong>I do understand the whole
              like rough, the woman that warms his heart thing. Again, it's all very like
              romance novel-y prompts when I've tried to find fic and I'm just like, "I'll
              just write a Nora Roberts novel."</li>
           <li><strong>Valk: </strong>Most Game of Thrones fan fic is incredibly hetero
              normative </li>
           <li><strong>Valk: </strong>Again, it's Renly/Lauris,
              Sansa/Marjory. Yeah, there's not a lot really on there.</li>
           <li><strong>Valk: </strong>I know that when I was writing it, there was a lot
              less fan fic, but you would think even with Jaime and Brienne having that very
              unique friendship/relationship</li>
           <li><strong>Valk: </strong>the show really undercut Jaime and Brienne's
              relationship as well at the end. One of the big ones is like Jaime and Brienne
              kissed each other and Jaime was suddenly taller than her.</li>
           <li><strong>Valk: </strong> lot of
              the fics, even with Jaime and Brienne is just depressingly, like, "Wow, if I
              wanted to read this fic, I'd just go to like any romance section and find
              it."</li>
           <li><strong>WriteGirl: </strong>She was definitely never really prepared for court
              life. wonderful knights in their shining armor, these
              lovely ladies who are just ethereal in their beauty, everything being wrapped up
              in a bow, happily ever after. Maybe something happens, but someone's always
              rescued. So really, Sansa's really forced to grow up,
              and she's really forced to see all these stories as exactly what they are.
              They're just stories.</li>
        </ul>
</div>
