<div class="collapse" id="PI-antiracism">
  <h2>Power and Identity</h2>
  <h3>Anti-Racism</h3>
      <ul>
         <li><strong>GillyWulf: </strong>Because I just find keeping people as slaves is super ... I didn't want to
            contribute to it</li>
         <li><strong>GillyWulf: </strong>good that
            nobody in that show was white, by definition. When you look at where those
            communities are meant to be, have drawn inspiration from, nobody in that is
            white, so it's even more exciting, and it's great, and we need more of that,
            frankly.</li>
         <li><strong>Kittya Cullen: </strong>And my aunt in particular,
            she teaches English, and so they had old texts that I found and started reading
            them. And that's when I began to realize that the books that I had been reading
            were excluding me. It was something that you sort of knew but you didn't quite
            know.  So when I first read texts were people were actually talking about foods that
            I
            would eat or where people were living in communities like mine, where people
            spoke that way that I spoke, et cetera. Because even though I speak, let's say, like
            this,
            how I speak with my family or how I speak with my friends from back home, it's a
            little different even though ... So, my particular country, we speak English,
            but it's a particular kind of English. because back home I
            was part of the majority, so even though it's absent, you were still seeing
            yourself in other ways, whether that's being who was teaching you or who was in
            the news as a politician, et cetera But here it was a completely different
            ballgame, so it felt more insidious</li>
         <li><strong>Kittya Cullen: </strong>both
            as a black person and as a woman, it was just important for me to recognize that
            in text and get around to exploring what that might have meant for other
            characters who weren't within the Circle of the Avatar and had powerful
            connections.</li>
         <li><strong>Kittya Cullen: </strong>It's basically
            girl-next-door, blonde, blue-eyed, sort of hyper-feminine in some ways but also
            gender non-conforming in other ways super hero  dating a black man, or having that
            black man being put as
            a love interest when that's usually not the case, especially for that kind of
            media. And then you break them apart in the second season
            and conveniently replace him with a white man who just actually makes the
            character feel terrible
            derails her show, and starts to get almost as much screen time as she does even
            though he's not really an integral part of the show. Just so much went wrong so
            fast. He was so bad.</li>
         <li><strong>WriteGirl: </strong>Kind of like, who is Missandei? If you take
            away slavery, and her being Daenerys' friend, who is this person? What is the
            one thing that would be important to her? Because there aren't really a lot of
            fics that focus on her as a character at all. I don't know if I was a former slave.
            The one thing I
            would be sure of when I got my freedom was, I will never be made a slave again
            in any way, shape or form. So what does that translate into? That translates
            into, you're not going to use me. I'm not going to stand to be abused
            anymore.</li>
         <li><strong>WriteGirl: </strong>she believes in a world
            without slavery. And after having been a slave and experienced freedom, that's
            something she'd want for everybody. I hate to say it, Harriet Tubman, how many
            times did she go back and she got slaves and ran them back out? Simply because
            I'm free, no one should be in bondage, even if it's a personal risk to myself,
            to my life, that is a risk I will take, because everyone should be free. And I
            think as a former slave, Missandei really would have that
            sentiment.</li>
         <li><strong>WriteGirl: </strong>And for her of course it's more extreme,
            from being someone who was taken from freedom and put into slavery, lived a
            decade plus as a slave, not having a will of their own, and then suddenly
            getting that will back. No one's ever taking that from me. Like I said, I've
            found myself. Now that I've found myself again, and I can be myself, I will die
            myself.</li>
         <li><strong>WriteGirl: </strong>And eventually, they get to a
            point where it sticks in their head, that this is freedom. This is what they
            have. No one can control them. And then, they get very, very almost violently
            independent, where no one's going to tell me what to do. You can't tell me what
            to do. No one's going to do that to me. They get this burst of a sense of self, a
            sense of purpose. And I thought that was very beautiful, that there are people
            who can go through all that type of trauma, and they can get there, and they can
            fully bloom. And I always saw Missandei as kind of that character, this
            character who had gone through all of that to the point where here she is,
            standing tall as a character that knows her own worth, knows her own
            personage.</li>
      </ul>
      </div>
