<div class="collapse" id="PI-racism">
  <h2>Power and Identity</h2>
  <h3>Racism</h3>
   <ul>
      <li><strong>Aria: </strong>Given this is a proportion, I don't know if [inaudible 00:57:24] but more people as
         a fandom and those few people aren't interested in talking about race in ways that
         people who had been there before were, and those people who were there before continued
         to talk about race, or if there is an effectively gentrifying mmoment that a white
         fandom comes in, pushes out a fandom of color.</li>
      <li><strong>Dialux: </strong>Because, obviously, race bending is, and can
         be, very racist if not done in a very respectful manner.</li>
      <li><strong>GillyWulf: </strong> And for Korra, she's an imposing
         figure, whether or not she means to be. She's got the muscles she's maybe not as white
         as everybody else in
         Republic City, and she's got these really bight eyes.</li>
      <li><strong>Kittya Cullen: </strong>I
         grew up in the Caribbean ... Well, on South America but as socially, politically
         part of the Caribbean, so most of the content that we were consuming was either
         shows from the US or whatever, maybe European shows might have filtered through,
         and that also was the case for the books that we were reading. And while it was
         the case within school for us to consume Caribbean literature, it was harder to
         read Caribbean literature as a person on my own.</li>
      <li><strong>Kittya Cullen: </strong>And my aunt in particular,
         she teaches English, and so they had old texts that I found and started reading
         them. And that's when I began to realize that the books that I had been reading
         were excluding me. It was something that you sort of knew but you didn't quite
         know.  So when I first read texts were people were actually talking about foods that
         I
         would eat or where people were living in communities like mine, where people
         spoke that way that I spoke, et cetera. Because even though I speak, let's say, like
         this,
         how I speak with my family or how I speak with my friends from back home, it's a
         little different even though ... So, my particular country, we speak English,
         but it's a particular kind of English. because back home I
         was part of the majority, so even though it's absent, you were still seeing
         yourself in other ways, whether that's being who was teaching you or who was in
         the news as a politician, et cetera But here it was a completely different
         ballgame, so it felt more insidious</li>
      <li><strong>Kittya Cullen: </strong>I just,
         spending so much time reading so much fan fiction from LOK and then branching
         out into Steven Universe and moving from Steven Universe into Supergirl, there
         was just more of an interaction with another side of fandom, the slash side of
         fandom. I don't know. I think you have to be integrated with others who are
         looking for more than what's presented, looking for more than what's norm,
         what's the acceptable way of telling a story of any kind of relationship really.
         Because even when you talk
         about what characters are bound to get more attention and more interesting and
         so on and so forth, when you look at fandom in general you'll find that when
         those characters are black or just generally a person of color in comparison to
         a character being white, that people are least particular when the fandom's
         dominated by white faces and so forth. They are more likely to explore those
         characters and to humanize them and to want to get to know them better, while
         other characters and what their hopes and dreams and ideas might be for the
         world are pushed to the side.</li>
      <li><strong>Kittya Cullen: </strong>some people
         who are cishet won't be able to speak to this I think they got
         uncomfortable with how fandom was growing so rapidly and intensely around these
         two characters even to the
         point where they used the black character as a wedge between
         them</li>
      <li><strong>Kittya Cullen: </strong>two actors leaning into it because
         they didn't have a problem with it but we see that some of the writers were
         uncomfortable, or I guess maybe the network or the showrunners were
         uncomfortable where the story was heading. And we are going to
         have your favorite superhero be shipped with a slave owner.</li>
      <li><strong>Kittya Cullen: </strong>It's basically
         girl-next-door, blonde, blue-eyed, sort of hyper-feminine in some ways but also
         gender non-conforming in other ways super hero  dating a black man, or having that
         black man being put as
         a love interest when that's usually not the case, especially for that kind of
         media. And then you break them apart in the second season
         and conveniently replace him with a white man who just actually makes the
         character feel terrible
         derails her show, and starts to get almost as much screen time as she does even
         though he's not really an integral part of the show. Just so much went wrong so
         fast. He was so bad.</li>
      <li><strong>WriteGirl: </strong>It pissed me
         off that you have a character like Missandei who is very strong, who survives
         slavery, got out of her chains, became this person who was herself, and then how
         did she die? She dies in chains, basically in a pissing contest between two
         white women.</li>
      <li><strong>WriteGirl: </strong>Kind of like, who is Missandei? If you take
         away slavery, and her being Daenerys' friend, who is this person? What is the
         one thing that would be important to her? Because there aren't really a lot of
         fics that focus on her as a character at all. I don't know if I was a former slave.
         The one thing I
         would be sure of when I got my freedom was, I will never be made a slave again
         in any way, shape or form. So what does that translate into? That translates
         into, you're not going to use me. I'm not going to stand to be abused
         anymore.</li>
      <li><strong>WriteGirl: </strong>She's really
         seeing Cersei for the creature Cersei is, beyond just being kind of a high-born
         woman in Westeros. She's seeing the monster that's inside Cersei. Cersei will do
         anything. She will do anything to maintain power, she will do anything to get
         back at her enemies, even if it means murder, blackmail, et cetera. And I think
         Missandei coming from a society where no one would have to hide that from their
         slaves. She sees it. Like I know you, I've seen masters exactly like you. And
         she's really recognizing the monster that's in Cersei outside of all of her
         jewels, outside of her gowns, outside of her façade of being this queen and
         great lady. It's like, no, you're really this evil thing, and I know it because
         I've seen it before.</li>
      <li><strong>WriteGirl: </strong>No, you
         would have fit in well with them. You may think that you're better, you may
         think that you're better than people from Astapor. You may think that you're
         better than slave owners and all this, that, and the other, but in the end you
         are not. You are exactly like them</li>
   </ul>
      </div>
