/*
Important colors:
  MAIN COLOR (Lavender): #d6d9e3
  HOVER MAIN COLOR (darker lavender): #C2C7D6
  DARK PURPLE (for font): #272838
  LIGHT BLUE (for hovers and accents): #C8D9E5
  LIGHT LIGHT LAVENDER: #E7E9EF (very light lavender for interview grid)
  GREEN: #57A773
 */



  */
section{
  padding-bottom: 5px;
  padding-top: 5px;
  width: auto;
}

.main {
  max-width: 1080px;
  margin: 0px auto 70px auto;
  float: none;
  font-size: 17px; /* Increased text to enable scrolling */
  padding: 70px 10px;
  font-family: 'Lato', sans-serif;
}

article{
  padding: 10px 20px 40px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
}

  h1 {
 font-family: 'Lato', bold;
 font-size: 30px;
  }

h2 {
 font-family: 'Lato', bold;
 font-size: 25px;
  }

  h3 {
 font-family: 'Lato', bold, italic;
 text-align: left;
 font-size: 19px;
 text-decoration-style: solid;
  }

  p{
    font-family: 'Lato';
    padding: 2px;
    font-size: 19px;
    text-align: justify;

  }

li{
  text-align: justify;
  list-style-position: inside;
  font-family: 'Lato';
  font-size: 18px;
  margin-left: -20px;
  padding: 1px;
  }

  blockquote{
    font-family: 'Lato';
    font-size: 18px;
  }

  .sidebar {
    height: 100%;
    width: 0%;
    position: fixed;
    background-color: #F3F4F7;
    overflow-x: hidden;
    padding-top: 50px;
    z-index: 99997;
  }

  .sidebar a, .sidebutton {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #272838;
    display: block;
    font-family: "Poppins";
    border: none;
    background: none;
    text-align: left;
    outline: none;
    width: 100%;
    cursor: pointer;
  }

  .sidebar>button.dropdown-btn {
    text-decoration: none;
    color: #272838;
    display: block;
    outline: none;
    border: none;
    background: none;
    font-size: 18px;
    padding: 6px 8px 6px 16px;
    font-family: "Poppins";
    width: 100%;
    text-align: left;
    }


  .sidebar>button.closebtn {
    margin-left: 220px;
    background: #d6d9e3;
    font-weight: bold;
    padding: 6px 6px 6px 6px;
    border-style: solid 2px;
  }

  div>button.sign-in:hover, .dropdown-container>a:hover, .sidebutton:hover, .sidebar>button.dropdown-btn:hover, .sidebar>button.closebtn:hover{
    background-color: #C2C7D6;
  }

  .dropdown-container {
    display: none;
    background-color: #d6d9e3;
    padding-left: 15px;
  }

/* TOP NAV */
  .topnav {
    overflow: hidden;
    background-color:#d6d9e3;
    width: 100%;
    height:50px;
    position: fixed;
    z-index: 99999;
  }

  .topnav>div>a.header {
    color: #272838;
    font-size: 40px;
    margin-left: 37%;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Tangerine";
  }

  .topnav>div>a.header:hover {
    background-color: #C2C7D6;
    text-decoration: none;
  }

  .logo {
     height: 40px;
     margin-top: -15px;
  }

  div.signin-div{
      margin-left: 15%;
      margin-top: 5px;
  }

  div>button.sign-in{
    color: #272838;
    float: left;
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    background-color: #d6d9e3;
    font-size: 15px;
    font-family: "Poppins";
  }

  .openbtn {
  font-size: 18px;
  cursor: pointer;
  background-color: #d6d9e3;
  color: #272838;
  padding: 12px 15px;
  border: none;
  font-family: "Poppins";
  z-index: 1;
  position: fixed;
}

  .openbtn:hover{
  background-color: #C2C7D6;
}


/* iFrame stuff */
iframe {
    width: 1200px;
    height: 1000px;
    border: none;
}

/* button stuff */
.button{
  background-color: #d6d9e3;
  color: #272838;
  border: 2px solid #272838;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  text-decoration: none;
}

.button-interview-search {
  background-color: #d6d9e3;
  color: #272838;
  border: 2px solid #272838;
  padding: 2px 2px 2px 2px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 0px 5px 0px 5px;
  cursor: pointer;
  text-decoration: none;
  }

  .buttonInterview {
    background-color: #E8E8E8;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
    cursor: pointer;
    }



  .button:hover, .button-interview-search:hover {
    background-color: #C8D9E5;
    color: #272838;
    border: 2px solid #272838;
    text-decoration: none;
    }

.footer {
 position: fixed;
 bottom: 0px;
 right: 0px;
 width: 30%;
 background-color: #E9F6FB;
 color: #3885A3;
 text-align: right;
}


.footer a {
color: #4424D6;
}

.footer p {
font-size:10px;
padding: 5px 10px 0px 20px;
}

.home-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
}

.home-grid-container > a{
  background-color: #d6d9e3;
  padding: 10px 10px 10px 10px;
}

.home-grid-container > a >h3{
  font-weight: bold;
  text-decoration: none;
  color: black;
  text-align: center;
}

.home-grid-container-grid > a {
  font-size: 12px;
}

.home-grid-container >a:hover{
  background-color: #C8D9E5;
  text-decoration: none;
}

.home-grid-container> a >p{
  font-size:17px;
  color: black;
  text-align: center;
}

.home-grid-container h2{
  font-weight: bold;
}

.home-grid-item {
  padding: 20px;
  background-color: #d6d9e3;
  border: 2px;
}

.home-grid-item2 {
  border: 0px;
  border: 2px;
}

.carousel{
  width: 900px;
  top: 20px;
  position: relative;
  overflow: hidden;

  }

.carousel img{
  height: 400px;
}

.carousel iframe {
    width: 800px;
    border: none;
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
    color: black;
    text-shadow: none;
    font-family: Cambria;
}

.carousel-caption h2{
    font-size: 17px;
}

.carousel-caption p{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
}

.carousel-control-prev-icon {
    opacity: 50%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2157BA' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    opacity: 50%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2157BA' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

@media (max-wdith:800px) {
    #carousel-1 #top-caption {
         margin:-40px;
         height:25px;
    }
}

/*Teaching Materials*/
.teaching-grid{
  display: grid;
  width: 800px;
  grid-column-gap: 20px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
}

.teaching-grid > section{
background-color: #d6d9e3;
padding: 10px;
border: 2px solid #320E3B;
text-align: center;
}

.teaching-grid > section >h3{
font-weight: bold;
text-align: center;
}

.teaching-grid > section >p{
font-size: 15px;
text-align: center;
}

.teaching-grid > section >a.button{
  background-color: #C8D9E5;
  color: white;
  border: 2px solid #d6d9e3;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

.teaching-grid > section >a.button:hover {
  background-color: #C8D9E5;
  color: #d6d9e3;
  border: 2px solid #d6d9e3;
  }

/*Interviews*/
/* Popup container */
  .code{
    font-weight: bold;
    color: #320E3B;
  }

  .power-identity {
      text-decoration: underline;
  }

  .interview-grid{
    display: grid;
    width: 700px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto auto;
  }

.interview-grid > section{
  background-color: #E7E9EF;
  padding: 5px;
  text-align: center;
  border: 2px solid #272838;
}

.interview-grid > section >h2{
  font-weight: bold;
}

.interview-grid > section >p{
  font-size: 15px;
}

.interview-grid > section >ul >li{
  font-size: 13px;
}


.interview-grid > section >a.button{
    background-color: #272838;
    color: #d6d9e3;
    border: 2px solid #d6d9e3;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
  }

.interview-grid > section >a.button:hover {
    color: white;
    }

                    .popup {
                        position: relative;
                        display: inline;
                        cursor: pointer;
                    }

                    /* The actual popup (appears on top) */
                    .popuptext {
                        visibility: hidden;
                        width: 200px;
                        background-color: #C8D9E5;
                        color: black;
                        text-align: center;
                        border: 1px solid #320E3B;
                        border-radius: 8px;
                        padding: 6px 0;
                        position: absolute;
                        z-index: 1;
                        bottom: 100%;
                        display:inline-block;
                    }

                    .systems-of-power-popuptext {
                        visibility: hidden;
                        width: 200px;
                        background-color: #d6d9e3;
                        color: black;
                        text-align: center;
                        border: 1px solid #320E3B;
                        border-radius: 8px;
                        padding: 6px 0;
                        position: absolute;
                        z-index: 1;
                        bottom: 100%;
                        margin-left: 250px;
                        display: block;
                    }

                    /* Toggle this class when clicking on the popup container (hide and show the popup) */
                    .popup .show {
                        visibility: visible;
                    }


/*Tables*/
#interview-results {
  border-collapse: collapse;
  width: 100%;
}

#interview-results td, #interview-results th {
  border: 1px solid #ddd;
  padding: 8px;
}

#interview-results tr:nth-child(even){
  background-color: #f2f2f2;
}

#interview-results tr:hover {
  background-color: #ddd;
}

#interview-results th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: justify;
  background-color: #C8D9E5;
  color: white;
}

.interview-search {
  height:480px;
  width:100%;
  overflow:auto;
  border: 2px solid #ccc;
  padding:5px 30px 5px 30px;
}

.interview-search-analysis {
  height:390px;
  width:50%;
    background: #E7E9EF ;
  overflow:auto;
  float:left;
  padding:5px 30px 5px 10px;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}
