{% extends 'layout.html' %}

{% block body %}
<h1>Exploring Additional Tags</h1>
<p>In this computational notebook, I extracted the "Additional Tag" metadata from both TLOK and GOT fanfictions published on <cite>Archive of Our Own</cite>. Towards the bottom, I then began to count information about how often particular tags, especially character tags, were used. I use this method to count how often particular character appear, especially characters of color in GOT.</p> 
<iframe src="{{url_for('static', filename='computational_essays/02-data_analytics-exploring_tags.html')}}"></iframe>

{% endblock %}
