{% extends 'layout.html' %}

{% block body %}
<h1>Preparing Textual Data</h1>
<p>This computational essay demonstrates how to prepare textual data using stemming and tokenizing in order to prepare it to be analyzed. This was originally created for the article "<a href="https://wac.colostate.edu/docs/jwa/vol3/messina.pdf">Tracing Fan Uptakes: Tagging, Language, and Ideological Practices in The Legend of Korra Fanfictions</a>" published in <cite>Journal of Writing Analytics</cite>.</p>
<iframe src="{{url_for('static', filename='computational_essays/01-preparing_texts_TLOK.html')}}"></iframe>

{% endblock %}
