{% extends 'layout.html' %}

{% block body %}

<article>
  <section>
<h1>Interviews</h1>
<p>Six fanfic writers—three who wrote <em>The Legend of Korra</em> and three who wrote <em>Game of Thrones</em> fanfics—share their experiences writing these fics, their perspectives on the fan community, and the ways in which they think about race, gender, sexuality, and/or culture in their fan engagement.  The transcribed interviews and demographic information have been published with each writers’ explicit consent (IRB number NUM).</p>

<h2>Interview Process and Analysis<h2>
  <ul>
    <li><a href="{{ url_for('interview_search') }}">Search across the interviews based on themes</a></li>
    <li>Read the interview analysis (coming soon)</li>
    <li><a href="{{ url_for('interviews_qualitative_coding') }}">Learn about the qualitative coding process</a></li>
    <li>Read through each interview’s entire transcript (under “Learn About Each Fan”)</li>
  </ul>

</section>
<section>
  <h2>Learn About Each Critical Fan</h2>
  <p>Each interview has been qualitatively coded (learn more about qualitative coding and my process here). The bolded font in each interviewee’s answer are the coded texts. You can click the <strong>bolded words</strong> to see how they were coded. <u>Underlined text</u> is also coded, but the code is specific to mentions of power and identity.</p>
<div class="interview-grid">
{%  include 'includes/_interview_grid.html'%}
</div>

<section>
<h2>Explore Coding Numbers Here</h2>
  <a class="btn btn-secondary btn-lg btn-block" style="color:white" data-toggle="collapse" href="#interview-table" role="button" aria-expanded="false" aria-controls="collapseExample">
      Click To See Coding Results
      </a>

  <div class="collapse" id="interview-table">
    {%  include 'includes/_interviewtable.html'%}
    </div>
</section>


</article>

{% endblock %}
