{% extends 'layout.html' %}

{% block body %}

  <section>
<h1 align="center">Interviews</h1>
<a href="{{ url_for('interview_viz') }}"><img width=350px style="float:left" src="{{url_for('static', filename='images/interviews_viz_preview.png')}}"/></a>

<p>Six fanfic authors — three who wrote <cite>The Legend of Korra</cite> and three who wrote <cite>Game of Thrones</cite> fanfics — share their experiences writing these fics, their perspectives on the fan community, and the ways in which they think about race, gender, sexuality, and/or culture in their fan engagement. The transcribed interviews and demographic information have been published with each writers’ explicit consent through Northeastern University's IRB.</p>
<p>This interactive portion of the dissertation allows you to explore different angles of the fan authors' interviews. You can read each fan author's interview transcript, learn more about the fan author, read their fanfic that I interviewed them about, explore themes that occur across the interviews, learn about the qualitative coding process — in which interviews are marked up based on themes,and read an in-depth analysis of the interviews.</p>
<p>
<hr>
  <div class="interview-home-grid-container">
  <a href="{{ url_for('interview_search') }}"><h3>Search Across Interviews</h3></a>
  <!-- <a href="#"><h3>Interview Analysis (TBD)</h3></a> -->
  <a href="{{ url_for('interview_viz') }}"><h3>Coding Visualizations</h3></a>
  <a href="{{ url_for('interviews_qualitative_coding') }}"><h3>Qualitative Coding</h3></a>
</div>
</section>
<hr>
<section>
  <h2>Learn About Each Critical Fan</h2>
  <p>The six authors each provide unique experiences with writing, fandom engagement, and analyzing the canonical text. They each provided self-identified information about their age, gender, race, sexuality, and pronouns, which they agreed to have published on the site.</p>
  <p>Each interview with the fan authors has been qualitatively coded (<a href="{{ url_for('interviews_qualitative_coding') }}">learn more about qualitative coding and my process here</a>). The bolded font in each author's answer are the coded texts. On the interview transcripts, you can click the <strong>bolded words</strong> to see how they were coded. <u>Underlined text</u> is also coded, but the code is specific to mentions of power and identity.</p>
<div class="interview-grid">
{%  include 'includes/_interview_grid.html'%}
</div>

<section>
<h2>Explore Coding Numbers Here</h2>
  <a class="btn btn-secondary btn-lg btn-block" style="color:white" data-toggle="collapse" href="#interview-table" role="button" aria-expanded="false" aria-controls="collapseExample">
      Click To See Coding Results
      </a>

  <div class="collapse" id="interview-table">
    {%  include 'includes/_interviewtable.html'%}
    </div>
</section>

{% endblock %}
