{% extends 'layout.html' %}

{% block body %}

<h1 align="center">Qualitative Coding Visualizations</h1>

<p>These two visualizations represent an adjacency matrix and a correlation matrix across the different qualitative codes used to mark up the interviews. The code for creating these visualizations using the XML-encoded interview transcripts is available in the<a href={{url_for('dis_computational_essays_XML')}}>XML Parser Computational Notebook</a></p>

<iframe class="visualizations" src="{{url_for('static', filename='visualizations/correlation_and_cooccurrence.html')}}"></iframe>
{% endblock %}
