{% extends 'layout.html' %}

{% block body %}

<h1>Critical Fan Snippets</h1>
<p>Critical Fan Snippets are a series of blogpost-styled analyses into specific aspects of critical fan practices and uptakes. Each can be read as standalone or in tandem with the larger narrative of the dissertation. These short snippets pull together the data, theories, and arguments from across the CFT to create a series of nuanced, microscopic arguments.
</p>

<p>Across these snippets, themes of fans critiquing and resisting systems of power emerge. How do fans critically uptake generic conventions in both mainstream media and fandoms?</p>

<p><strong>More to come soon!</strong></p>


{% endblock %}
