{% extends 'layout.html' %}
{% block body %}
<h1>Assignment: Restorying for Justice</h1>
<p>Required reading: “Restorying the Self: Bending Towards Textual Justice” by Ebony Elizabeth Thomas and Amy Stornaiuolo.</p>
<p>Concepts to discuss and explore:</p>
<ul>
    <li>Defining of counterstorytelling, justice, & restorying.</li>
  <li>Different forms of textual bending (identity, universe, etc..).</li>
  <li>Understanding stereotyping and 1) why it happens, and 2) how to challenge stereotypes.</li>
</ul>
<h2>Choose a Canon Text</h2>
<p>Choose a piece of written text (speech, short story, newspaper article, novel, song, movie/TV script, etc) and restory this text in some way. Use Thomas and Stornaioulo’s restory taxonomy wheel to find inspiration for different ways to restory a piece. Think about how this text would change if it were in another context, existed during a different period of time, and/or occurred in an alternative outcome. <p>For example, how might Dr. Martin Luther King Jr.’s famous “I Have a Dream” speech sound if he were alive today? How would <cite>The Hunger Games</cite> look if Rue, not Katniss, won the first Hunger Games and led to revolution? How might Margaret Atwood’s <cite>The Handmaid’s Tale</cite> novel be written if it were from the perspective of a wealthy man in power in this dystopian society?</p>
<h2>Questions for Brainstorming</h2>
<p>For this assignment, think about how cultural texts reflect societal values and ideologies. Here are some general ideas:</p>

<h3>Understanding Positionality in the Original Text</h3>
<ul>
  <li>Whose stories are being told in the original piece?</li>
<li>How do these stories either fit within or push against mainstream ideologies about race, gender, sexuality, mental health, trauma, disability status, socioeconomic class, etc?</li>
<li>How might you “restory” the original piece to capture lived experiences of different positionalities and identities?</li>
</ul>
<p>For example, if you restory a text that centers around a cisgender, White male protagonist living in our current world, how might the story look different if the hero was a queer Black woman? I recommend understanding your own lived experiences and positionalities, as well, and thinking through how your experiences may or may not be reflected in popular culture.</p>

<h3>Expansion</h3>
<ul>
  <li>If you are thinking about expanding on a particular moment, such as digging into a characters’ backstory or following a characters’ story that is cut off, how might this expansion develop a new understanding of the original story?
</li>
  <li>Why might the original story have overlooked or underdeveloped the character or idea you are interested in exploring?</li>
  <li>How might their perspective represent underrepresented or untold stories from the original story?</li>
</ul>
<p>If you are exploring a character who experiences trauma and maybe the original story does not explore that trauma, how might your restory and explore said trauma? What can your story reveal about trauma that the original story did not?</p>

<h3>Bending</h3>
<ul>
  <li>If you are thinking about transforming a particular moment, characters’ identity, setting, etc., how will this transformation reveal the gaps in the original text?</li>
  <li>In what ways can you bend identities, settings, and universes to examine counterstories or stories often overlooked in popular culture?</li>
<p>For example, you may think about how gender is portrayed in the original story; how does the text construct gender identity? How might you transform this construction? How might you push against normative representations of gender?</p>


{% endblock %}
