{% extends 'layout.html' %}

{% block body %}
<article>
<h1>Sample Course: Critical Fan Studies Research Methods</h1>
Discipline: Rhetoric and Composition, Upper Level Undergraduate Course on Rhet/Comp Research Methods
<h2>Table of Contents</h2>
<ul>
  <li><a href="#theoretical">Theoretical Framework of Course</a></li>
  <li><a href="#goals">Course Goals</a></li>
  <li><a href="#grading">Grading</a></li>
  <li><a href="#assignments">Assignments</a></li>
<li><a href="#modules">Modules</a></li>
<li><a href="#calender">Calendar</a></li>
</ul>

<h2 id="theoretical">Theoretical Framework of Course</h2>
<p>Fan studies has history dating back to the 1980 and 1990s, when scholars in media studies and beyond began examining fanfiction and fan practices. During that time, fan scholars (Joanna Russ, Patricia Frazer Lamb, Diana Vieth, Henry Jenkins, etc.) heralded fan communities as spaces of resistance, where fans--particularly marginalized folks--challenged the status quo reified in popular culture media. For most fan scholars, gender and sexuality was a central focus. The genealogy of fan studies is made transparent through Hellekson and Busse’s <em>The Fan Fiction Studies Reader</em> as well as numerous articles published in <em>Transformative Works and Cultures</em>, an open-source peer reviewed journal for fans + academics.</p>

<p>As fan studies has expanded over the years, though, it became clear that a critical intervention was needed, particularly around the representations (or lack thereof) of people and characters of color. In a recent <a href="https://journal.transformativeworks.org/index.php/twc/issue/view/52"><em>Transformative Works and Cultures</em></a> special issue, this huge gap is addressed, and it seems the field as a whole is moving to acknowledge issues around race is central to fan  studies.</p>

<p>Fan studies’ politics reflect larger politics in fan communities and dominant cultural narratives, more broadly. In fact, fanfiction and fan works have become so popular that they are slowly becoming a part of dominant cultural narratives. While still usually in the margins, fan politics are fairly explicit when analyzing which fandoms, ships, and characters are most popular. White supremacy, the fetishization of queer men, and the marginal appearances of lesbian relationships are reflected in larger fan community patterns.</p>

<h2 id="goals">Course Goals</h2>
<p>Setting up critical fan studies as our theoretical lens, we will then dive into <strong>research methods</strong> for examining critical fans’ composing practices. The goal of this course will be for you to come out with a strong grip on critical fans composing practices and an understanding of different research methods, forms of data collection and analyses, and presenting on research findings.

<p>In this course, students will learn:</p>
<ul>
  <li>the history and current discourse in fan studies</li>
  <li>different methods for doing fan studies research, including case studies, ethnographies, computational text analysis, and data analytics</li>
  <li>diverse technologies for data collection, storage, and analysis</li>
  <li>why centering critical fan practices is critical in both fan and writing studies</li>
  </ul>
<hr>
<h2 id="grading">Grading</h2>
<h3>Participation (10%)</h3>
<p>We will be learning and practicing research methods in every class. Almost every week, we will have a reading or two that demonstrates a form of fan studies research and a lab, which we will dive more into the actual methods and practice them. Participation may look different, from being in the class, to participating in discussions, to participating in labs. On the first day, we will discuss different modes of participation and come up with a list together.</p>

<h3>Lab Notes (10%)</h3>
<p>At the end of each lab, you will be asked to write a reflection about the lab and submit it for our next class. These reflections will give you an opportunity to think through the methods and tools we learned, as well as how you might apply them in your research project or beyond. There are 7 labs in total, so each lab note will be worth 1.5% of your total grade (except the first will be 1%).</p>

<h3>Assignments (80% overall)</h3>
<ul>
  <li>Assignment 1: Your Fan Journey (Literacy Narrative) - 15%</li>
  <li>Assignment 2: Critical Fan Research Proposal - 20%</li>
  <li>Assignment 3: Critical Fan Project Update - 20%</li>
  <li>Assignment 4: Final Research Project - 25%< (10% for presentation, 15% for paper)</li>
</ul>
<hr>
<h2 id="assignments">Assignments</h2>
<h3 id="ass1">Assignment 1: Your Fan Journey, Literacy Narrative</h3>
<p>For this assignment, you will be writing a literacy narrative based on your experience in fandoms and fan communities. Everyone is a fan of something, even if these fandoms do not look like the traditional fandoms around popular culture that we talk about here. For example, you may follow celebrities or influencers on social media, participate in sports fan practices, or be a fan of particular hobbies or crafts. What have you been a fan of throughout your life? What has your participation looked like? Describe specific activities in your fandoms, and why those activites are part of the fandom.</p>

<h3 id="ass2">Assignment 2: Critical Fan Research Proposal</h3>
<p>Based on some of the forms of research we have learned so far as well as upcoming methods, write a proposal about the type of fandom research you hope to conduct for your third assignment. Specifically, how do the fan practices/communities/texts/genres you are researching reinforce or resist hegemonic cultures?</p>
<ul>
  <li>What research question do you want to answer?</li>
<li>Which scholars do you plan on engaging with?</li>
<li>What theories (either fan studies or other theories) will you incorporate and how? </li>
<li>Which research methods will you use to answer your questions? You can use multiple methods as well. For example, you may want to collect some large data as well as do a rhetorical analysis on one or two specific texts. </li>
<li>What type of data will you collect? How will you collect this data? How will you analyze your data, using your theories to drive your analysis?</li>
</ul>
<p><em>If you are interested in conducting a qualitative/quantitative mixed methods study</em>, we will be learning some tips for data collection as well as how this data does or does not represent community norms. You can explore larger patterns in the community, which you may find in the analytics or through forms of data scraping or large data collection. How do these patterns reify or resist hegemonic cultures? Then, you will use more qualitative-based research methods, such as conducting a survey or interview, to examine particular textual choices made by critical fans that may conform or resist these patterns in the larger community.  We will learn ways to collect data from Archive of Our Own and Twitter (using TAGs). We will also discuss ethical forms of data collection and analysis. Since we may be outsiders going into communities, we must take extra care when interacting with or speaking with different fans.</p>

<h3 id="ass3">Assignment 3:  Critical Fan Research Progress Update</h3>
<p>Because research is a long and often difficult process, your third assignment will provide you with an opportunity to update me with what you have done so far. This way, you can be sure to start your data collection and potentially do some preliminary analysis. This genre is a bit strange, as updates and progress genres are not usually what we see when we read research articles. For this update, though, I want you to:</p>
<ul>
  <li>Describe what you have done so far.  What data have you collected? How have  you collected it?</li>
<li>Point to some specific data: What are some interesting pieces of data you have already collected?</li>
<li>Share preliminary results: What are some interesting findings that are already popping up? This is your chance to begin coming up with larger themes that your final paper will tackle.</li>
<li>Reflect on the process so far: What are some challenges you are facing?</li>
<li>Technologies: What technologies have you decided to incorporate? If it is not something we have learned yet, what have you been using in the meantime? </li>
</ul>

<h3 id="ass4">Final Assignment: Critical Fan Research Presentation and Paper</h3>
<p>Based on your proposal, you will conduct your own research! Because it may take time to do some data collection, this will be your final assignment. Your final assignment will be both a presentation that you will present in the last week of class as well as a written paper due during finals week.</p>
<hr>
<h2 id="modules">Modules</h2>
<p><strong>Fan Studies History</strong>. In this section of the course, we will examine first wave of fan studies, how the internet transformed fan studies and fan composing practices, and current fan studies scholarship</p>

<p><strong>Fan Research Methods.</strong> For each research method, we will dive further into how each method is conducted, forms of validation or verification, potential issues surrounding each method, and example of other scholars who have used these methods. </p>
<ul>
  <li>Rhetorical analysis</li>
  <li>Community Ethnography </li>
  <li>Autoethnography</li>
  <li>Case Study </li>
  <li>Engaging with Subjects: Interviews & Surveys</li>
  <li>Data analytics</li>
  <li>Computational Text Analysis</li>
</ul>
<hr>
<h2 id="calender">Calender</h2>
<p><em>For a Tuesday & Friday class schedule</em></p>
<p><strong>Week 1</strong></p>
<p>Tuesday: Introduction</p>
<ul>
  <li>Syllabus introduction</li>
  <li>Participation Guidelines Activity</li>
</ul>
<p>Friday: Defining Fan Studies</p>
<ul>
  <li>“Introduction” from <cite>The Fan Fiction Studies Reader</cite> Edited by Karen Hellekson and Kristina Busse</li>
  <li><cite>Textual Poachers</cite> by Henry Jenkins excerpt</li>
</ul>

<p><strong>Week 2</strong></p>
<p>Tuesday: First Wave Fan Studies</p>
<ul>
  <li>“Romantic myth, transcendence, and Star Trek zines” by Patricia Frazer Lamb and Diana Vieth</li>
  <li>“Pornography by Women for Women, With Love” by Joanna Russ</li>
</ul>

<p>Friday: How the Internet Transformed Fandoms</p>
<ul>
  <li>Fan Fiction and Fan Communities in the Age of the Internet: New Essays Edited by Karen Hellekson and Kristina Busse (selections)</li>
  <li><strong><a href="#ass1">Assignment 1 First Draft Due</a></strong></li>
</ul>

<p><strong>Week 3</strong></p>
  <p>Tuesday: Current Fan Studies Discourse</p>
  <ul>
    <li>“<a href="https://journal.transformativeworks.org/index.php/twc/article/view/650/516">Fandom: The classroom of the future</a>” by Paul Booth</li>
  </ul>

  <p>Friday: Current Fan Studies Discourse</p>
  <ul>
    <li>“<a href="https://journal.transformativeworks.org/index.php/twc/article/view/699/538">African American acafandom and other strangers: New genealogies of fan studies</a>” by Rebecca Wanzo</li>
    <li><strong><a href="#ass1">Assignment 1 Final Draft Due</a></strong></li>
  </ul>

<p><strong>Week 4</strong></p>
<p>Tuesday: Research Ethics</p>
<ul>
  <li>"<a href="https://journal.transformativeworks.org/index.php/twc/article/view/891/666">Toward a goodwill ethics of online research methods</a>” by Brittany Kelley</li>
</ul>

<p>Friday: Research Methods Overview Lab</p>
<ul>
  <li>Rhetorical analysis
</li>
  <li>Ethnography</li>
  <li>Autoethnography</li>
  <li>Case Study</li>
  <li>Engaging with Subjects: Interviews & Surveys</li>
  <li>Data Analytics</li>
  <li>Computational Text Analysis</li>
</ul>

<p><strong>Week 5</strong></p>
<p>Tuesday: Fan Community Ethnography</p>
<ul>
  <li>"<a href="https://journal.transformativeworks.org/index.php/twc/article/view/1498/2161">Enclaving and cultural resonance in Black Game of Thrones fandom</a>" by Sarah Florini</li>
  <li>“<a href="https://www.sciencedirect.com/science/article/abs/pii/S8755461510000800">Twilight is so anti-feminist that I want to cry:” Twilight fans finding and defining feminism on the World Wide Web</a>” by Sarah Summers</li>
</ul>

<p>Friday: Corpus Building Lab</p>
<p>How do we build and store a corpus (a collection of textual documents)? You will learn and practices methods for corpus collection and storage.</p>

<p><strong>Week 6</strong></p>
<p>Tuesday: Autoethnography</p>
<ul>
  <li>“<a href="https://journal.transformativeworks.org/index.php/twc/article/view/713/675">Fannish masculinities in transition in anime music video fandom</a>” by Samantha Close
</li>
<li><strong><a href="#ass2">Assignment 2 First Draft Due</a></strong></li>
</ul>

<p>Friday: Data Collection Lab</p>
<ul>
  <li>What other ways can we collect data, besides textual artifacts? </li>
  <li><a href="https://tags.hawksey.info/">TAGS (Twitter Archiving Google Sheets)</a></li>
  <li><a href="http://fandomstats.org/">FandomStats.Org</a></li>
  <li>Recruiting subjects</li>
</ul>

<p><strong>Week 7</strong></p>
<p>Tuesday: Rhetorical Analysis</p>
<ul>
  <li>“<a href="https://journal.transformativeworks.org/index.php/twc/article/view/1471/2167">Affective racial politics in How to Get Away with Murder fan fiction</a>” by Nicholas-Brie Guarriello</li>
</ul>

<p>Friday: Case Study</p>
<ul>
  <li>“<a href="https://ccdigitalpress.org/book/expanding/ch4_kate/trajectories_ch4.01.html">A Lengthy Trajectory of Interplays: Interweaving English Studies and Fan Fiction</a>” by Kevin Roozen</li>
  <li><strong><a href="#ass2">Assignment 2 First Draft Due</a></strong></li>
</ul>

<p><strong>Week 8</strong></p>
<p>Tuesday: Engaging with Fan Subjects: Survey & Interviews</p>
<ul>
  <li>“Restorying the Self: Bending Toward Textual Justice” by Ebony Elizabeth Thomas and Amy Stornaiuolo</li>
</ul>

<p>Friday: Engaging with Fan Subjects: Survey Lab</p>
<ul>
  <li>Using Google Forms, create group surveys to pass around to your colleagues. Then, analyze your results by close reading and using visualizations
</li>
</ul>

<p><strong>Week 9</strong></p>
<p>Tuesday: Engaging with Fan Subjects: Survey & Interviews</p>
<ul>
  <li>
“<a href="https://journal.transformativeworks.org/index.php/twc/article/view/207">When normal and deviant identities collide: Methodological considerations of the pregnant acafan</a>” by Mary Ingram-Waters
</li>
<li>Homework: You will create short interviews to interview your peers. Then, you will interview one peer and use an audio-recorder. Transcribe this interview and bring it to class.</li>
</ul>

<p>Friday: Engaging with Fan Subjects: Interviews Lab</p>
<p>You will learn how to use NVivo fo qualitative coding, specifically the interview you transcribed for homework.</p>

<p><strong>Week 10</strong></p>
<p>Tuesday: Data Analytics</p>
<ul>
  <li>“<a href="http://gamestudies.org/1803/articles/brubaker_dym_fiesler">theyre all trans sharon”: Authoring Gender in Video Game Fan Fiction</a>" by Brianna Dym, Jed Brubaker, Casey Fiesler</li>
  <li><strong><a href="#ass3">Assignment 3 First Draft Due</a></strong></li>
</ul>

<p>Friday: Data Analytics Lab</p>
<ul>
  <li><a href="https://destinationtoast.tumblr.com/">Destination: Toast!</a> On fandom stats and <a href="https://destinationtoast.tumblr.com/post/137065429834/how-do-i-findgather-data-about-the-ships-in-my">how they collect and analyze their statistics.</a></li>
  <li>Using Google Sheets, we will analyze statistics following Destination: Toast’s approach and FandomStats.Org
</li>
</ul>

<p><strong>Week 11</strong></p>
<p>Tuesday: Computational Text Analysis</p>
<ul>
  <li>“<a href="https://wac.colostate.edu/docs/jwa/vol3/messina.pdf">Tracing Fan Uptakes: Tagging, Language, and Ideological Practices in The Legend of Korra Fanfictions</a>” by Cara Marta Messina
</li>
<li><strong><a href="#ass3">Assignment 3 Final Draft Due</a></strong></li>
</ul>

<p>Friday: Computational Text Analysis Lab</p>
<p>Using Voyant and Lexos, we will practice computational text analysis methods, including word frequencies, collocation, and more.</p>

<p><strong>Week 12</strong></p>
<p>Tuesday: Final Assignment Presentations</p>
<p>Friday: Final Assignment Presentations</p>

<p><strong><a href="#ass4">Final Assignment Due (DATE)</a></strong></p>

</article>

{% endblock %}
