{% extends 'layout.html' %}

{% block body %}
<h1>Sample Course: Critical Fan Studies Research Methods</h1>
<p>Discipline: Rhetoric and Composition, Upper Level Undergraduate Course on Rhet/Comp Research Methods. Can be used across the disciplines with some adjusting.</p>
<p>Syllabus created by Cara Marta Messina, 2020</p>
<h2>Table of Contents</h2>
<ul>
  <li><a href="#theoretical">Theoretical Framework of Course</a></li>
  <li><a href="#goals">Course Goals</a></li>
  <li><a href="#grading">Grading</a></li>
  <li><a href="#assignments">Assignments</a></li>
<li><a href="#modules">Modules</a></li>
<li><a href="#calendar">Calendar</a></li>
</ul>

<h2>Rationale</h2>
<p>The purpose of this course is to introduce methodologies and methods for researching online fan communities. While the theoretical framework and content of study in this course is focused on fandoms and critical fan practices, these methodologies and methods transfer to other areas and subjects of study, specifically digital spaces. </p>
<h2 id="theoretical">Theoretical Framework of Course</h2>
<p>Fan studies has history dating back to the 1980 and 1990s, when scholars in media studies and beyond began examining fanfiction and fan practices. During that time, fan scholars (Joanna Russ, Patricia Frazer Lamb, Diana Vieth, Henry Jenkins, etc.) heralded fan communities as spaces of resistance, where fans—particularly marginalized folks—challenged the status quo reified in popular culture media. For most fan scholars, gender and sexuality was a central focus. The genealogy of fan studies is made transparent through Hellekson and Busse’s <cite>The Fan Fiction Studies Reader</cite> as well as numerous articles published in <cite>Transformative Works and Cultures</cite>, an open-source peer reviewed journal for fans + academics.</p>

<p>As fan studies has expanded over the years, though, it became clear that a critical intervention was needed, particularly around the representations (or lack thereof) of people and characters of color. In a recent <a href="https://journal.transformativeworks.org/index.php/twc/issue/view/52"><cite>Transformative Works and Cultures</cite></a> special issue, this huge gap is addressed, and it seems the field as a whole is moving to acknowledge issues around race is central to fan  studies.</p>

<p>Fan studies’ politics reflect larger politics in fan communities and dominant cultural narratives, more broadly. In fact, fanfiction and fan works have become so popular that they are slowly becoming a part of dominant cultural narratives. While still usually in the margins, fan politics are fairly explicit when analyzing which fandoms, ships, and characters are most popular. White supremacy, the fetishization of queer men, and the marginal appearances of lesbian relationships are reflected in larger fan community patterns.</p>

<h2 id="goals">Course Goals</h2>
<p>Setting up critical fan studies as our theoretical lens, we will then dive into <strong>research methods</strong> for examining critical fans’ composing practices. The goal of this course will be for you to come out with a strong grip on critical fans composing practices and an understanding of different research methods, forms of data collection and analyses, and presenting on research findings.

<p>In this course, students will learn:</p>
<ul>
  <li>the history and current discourse in fan studies</li>
  <li>different methods and methodologies for doing fan studies research, including case studies, ethnographies, computational text analysis, and data analytics</li>
  <li>diverse technologies for data collection, storage, and analysis</li>
  </ul>
<hr>
<h2 id="grading">Grading</h2>
<h3>Participation (10%)</h3>
<p>We will be learning and practicing research methods in every class. Almost every week, we will have a reading or two that demonstrates a form of fan studies research and a lab, which we will dive more into the actual methods and practice them. Participation may look different, from being in the class, to participating in discussions, to participating in labs. On the first day, we will discuss different modes of participation and come up with a list together.</p>

<h3>Lab Notes (10%)</h3>
<p>At the end of each lab, you will be asked to write a reflection about the lab and submit it for our next class. These reflections will give you an opportunity to think through the methods and tools we learned, as well as how you might apply them in your research project or beyond. There are 7 labs in total, so each lab note will be worth 1.5% of your total grade (except the first will be 1%).</p>

<h3>Assignments (80% overall)</h3>
<ul>
  <li>Assignment 1: Your Fan Journey (Literacy Narrative) - 15%</li>
  <li>Assignment 2: Critical Fan Research Proposal - 20%</li>
  <li>Assignment 3: Critical Fan Project Update - 20%</li>
  <li>Assignment 4: Final Research Project - 25%< (10% for presentation, 15% for paper)</li>
</ul>
<hr>
<h2 id="assignments">Assignments</h2>
<p>The assignments in this course begin at thinking through your own life and relationship to fandoms to help situate ourselves within different fan communities. Fan communities range from the traditional fans of cultural materials (television shows, books, movies, and games), to political fandoms, to sports fandoms, and beyond. By analyzing your own experience and fan journey, the assignments will then ask you to build a research project on critical practices in online fandoms. These online fandoms may be based on the communities to which you belong or another online fandom you are invested in. </p>
<h3 id="ass1">Assignment 1: Your Fan Journey, Literacy Narrative</h3>
<p>For this assignment, you will be writing a literacy narrative based on your experience in fandoms and fan communities. Everyone is a fan of something, even if these fandoms do not look like the traditional fandoms around popular culture that we talk about here. For example, you may follow celebrities or influencers on social media, participate in sports fan practices, or be a fan of particular hobbies or crafts. What have you been a fan of throughout your life? What has your participation looked like? Describe specific activities in your fandoms, and why those activites are part of the fandom.</p>

<h3 id="ass2">Assignment 2: Critical Fan Research Proposal</h3>
<p>Based on some of the forms of research we have learned so far as well as upcoming methods, write a proposal about the type of fandom research you hope to conduct for your third assignment. Specifically, how do the fan practices/communities/texts/genres you are researching reinforce or resist hegemonic cultures?</p>
<ul>
  <li>What research question do you want to answer?</li>
<li>Which scholars do you plan on engaging with?</li>
<li>What theories (either fan studies or other theories) will you incorporate and how? </li>
<li>Which research methods will you use to answer your questions? You can use multiple methods as well. For example, you may want to collect some large data as well as do a rhetorical analysis on one or two specific texts. </li>
<li>What type of data will you collect? How will you collect this data? How will you analyze your data, using your theories to drive your analysis?</li>
</ul>
<p><em>If you are interested in conducting a qualitative/quantitative mixed methods study</em>, we will be learning some tips for data collection as well as how this data does or does not represent community norms. You can explore larger patterns in the community, which you may find in the analytics or through forms of data scraping or large data collection. How do these patterns reify or resist hegemonic cultures? Then, you will use more qualitative-based research methods, such as conducting a survey or interview, to examine particular textual choices made by critical fans that may conform or resist these patterns in the larger community.  We will learn ways to collect data from Archive of Our Own and Twitter (using TAGs). We will also discuss ethical forms of data collection and analysis. Since we may be outsiders going into communities, we must take extra care when interacting with or speaking with different fans.</p>

<h3 id="ass3">Assignment 3:  Critical Fan Research Progress Update</h3>
<p>Because research is a long and often difficult process, your third assignment will provide you with an opportunity to update me with what you have done so far. This way, you can be sure to start your data collection and potentially do some preliminary analysis. This genre is a bit strange, as updates and progress genres are not usually what we see when we read research articles. For this update, though, I want you to:</p>
<ul>
  <li>Describe what you have done so far.  What data have you collected? How have  you collected it?</li>
<li>Point to some specific data: What are some interesting pieces of data you have already collected?</li>
<li>Share preliminary results: What are some interesting findings that are already popping up? This is your chance to begin coming up with larger themes that your final paper will tackle.</li>
<li>Reflect on the process so far: What are some challenges you are facing?</li>
<li>Technologies: What technologies have you decided to incorporate? If it is not something we have learned yet, what have you been using in the meantime? </li>
</ul>

<h3 id="ass4">Final Assignment: Critical Fan Research Presentation and Paper</h3>
<p>Based on your proposal, you will conduct your own research! Because it may take time to do some data collection, this will be your final assignment. Your final assignment will be both a presentation that you will present in the last week of class as well as a written paper due during finals week.</p>
<hr>
<h2 id="modules">Course Structure</h2>
<p>Fan Studies History (Weeks 1-3).</p>
<p>This section of the course will analyze the history of fan studies as well as our own fan studies history. By examining the trajectory of fan studies—the foundational principles of the field as well as who was originally excluded—you will understand why investing particularly in critical fans is important. This trajectory will also provide a space for us to talk about our own fan community practices and what we may do in the future to develop our critical consciousnesses.</p>
<ul>
  <li>First wave of fan studies.</li>
  <li>How the internet transformed fan studies and fan composing practices.</li>
  <li>Current fan studies scholarship.</li>
</ul>

<p><strong>Research Ethics (Week 4)</strong></p>
<p>This section will explore research ethics, both institutionally-defined research ethics from the Institutional Review Board (IRB) as well as recommended ethical guidelines to follow when doing digital research. </p>

<p><strong>Methodologies (Weeks 5-7)</strong></p>
<p>A methodology is the overall theoretical and practical approach towards doing research. There are a ton of different methodologies across the disciplines, but we will specifically focus on community ethnographies and case studies. Each of these methodologies have particular purposes and focuses. Critical fan ethnography focuses on tracing community practices and may move across platforms, types of fan genres, and even fandoms. A Critical Fan case study, however, focuses more on individual writers to flesh out particular practices. We will look at examples from both methodologies. Some of the methods for data collection and analysis look similar, but the findings and discussion of the data will look different.</p>
<ul>
  <li>Critical Fan Ethnography (methodology):</li>
  <ul>
    <li>Defining ethnography,</li>
    <li>Collecting data,</li>
    <li>Analyzing data,</li>
    <li>Forms of validation/verification,</li>
    <li>Presenting findings.</li>
  </ul>
  <li>Critical Fan Case Study (methodology):</li>
  <ul>
    <li>Defining case study research,</li>
    <li>Collecting data,</li>
    <li>Analyzing data,</li>
    <li>Forms of validation/verification,</li>
    <li>Presenting findings.</li>
  </ul>
</ul>

<p><strong>Methods of Data Collection and Analysis (Weeks 7-10).</strong></p>
<p>After discussing methodologies more broadley, we will then dive into particular methods that we can implement. Methods usually include the process of data collection and analysis. We will discuss different types of data, how to collect that data, how to analyze that data, and finally which data types are appropriate for which methodologies. We will also look at particular tools that are useful for each method used.</p>
<ul>
  <li>Surveys:</li>
  <ul>
    <li>Recruitment process,</li>
    <li>Tools: Survey creation tools, spreadsheet editors (Excel or Google Sheets),</li>
    <li>Analyzing: Excel or Google Sheets for creating visualizations and using functions.</li>
  </ul>
  <li>Interviews:</li>
  <ul>
    <li>Recruitment process and selection,</li>
    <li>Tools: Recording devices, transcription services/tools, NVivo,</li>
    <li>Analyzing: NVivo for qualitative coding.</li>
  </ul>
  <li>Archival Materials: Data created not for the purposes of the study, but instead materials you collect and analyze.</li>
  <ul>
    <li>Collection methods: TAGs for Twitter, FandomStats.Org, hand-selecting a corpus, using APIs or webscraping,</li>
    <li>Analyzing:</li>
      <ul>
        <li>Rhetorical analysis, or more traditional method of close-reading texts for rhetorical moves and choices.</li>
        <li>Computational Text Analysis, or web-based text analysis tools like Voyant and Lexox.</li>
        <li>Data Analytics, or using spreadsheet editors or visualization creators like Tableau.</li>
      </ul>
  </ul>
</ul>

<p><strong>Writing Lab (Week 11).</strong></p>
<p>This last week before presentations are due will focus on providing you with time to develop your projects and ask questions based on the different methodologies and methods we learned.</p>

<p><strong>Final Presentations (Week 12).</strong></p>
<p>Present your findings to the rest of the class!</p>


<hr>
<h2 id="calendar">Calendar</h2>
<p><em>For a two-day class schedule.</em></p>
<p><strong>Week 1</strong></p>
<p>Introduction</p>
<ul>
  <li>Syllabus introduction.</li>
  <li>Participation Guidelines Activity.</li>
</ul>
<p>Defining Fan Studies.</p>
<ul>
  <li>“Introduction” from <cite>The Fan Fiction Studies Reader</cite> Edited by Karen Hellekson and Kristina Busse.</li>
  <li>Introduction from the <cite>Squee from the Margins</cite> by Rukmini Pande.</li>
</ul>

<p><strong>Week 2</strong></p>
<p>First Wave Fan Studies</p>
<ul>
  <li>“Romantic myth, transcendence, and <cite>Star Trek</cite> zines” by Patricia Frazer Lamb and Diana Vieth.</li>
  <li>“Pornography by Women for Women, With Love” by Joanna Russ.</li>
</ul>

<p>How the Internet Transformed Fandoms</p>
<ul>
  <li><cite>Fan Fiction and Fan Communities in the Age of the Internet: New Essays</cite>, Edited by Karen Hellekson and Kristina Busse (selections).</li>
  <li><strong><a href="#ass1">Assignment 1 First Draft Due.</a></strong></li>
</ul>

<p><strong>Week 3</strong></p>
  <p>Current Fan Studies Discourse</p>
  <ul>
    <li>“<a href="https://journal.transformativeworks.org/index.php/twc/article/view/650/516">Fandom: The classroom of the future</a>” by Paul Booth.</li>
  </ul>

  <p>Current Fan Studies Discourse</p>
  <ul>
    <li>“<a href="https://journal.transformativeworks.org/index.php/twc/article/view/699/538">African American acafandom and other strangers: New genealogies of fan studies</a>” by Rebecca Wanzo.</li>
    <li><strong><a href="#ass1">Assignment 1 Final Draft Due.</a></strong></li>
  </ul>

<p><strong>Week 4</strong></p>
<p>Research Ethics</p>
<ul>
  <li>"<a href="https://journal.transformativeworks.org/index.php/twc/article/view/891/666">Toward a goodwill ethics of online research methods</a>” by Brittany Kelley.</li>
  <li>Introducing IRB (Institutional Review Board) Policies and Process.</li>
</ul>

<p>Research Ethics</p>
<ul>
  <li><cite><a href="https://eric.ed.gov/?id=EJ802719">The Ethics of Digital Writing Research: A Rhetorical Approach</a></cite> by Heidi Mckee & James Porter excerpts.</li>
  <li><strong><a href="#ass2">Introducing Assignment 2.</a></strong></li>
</ul>

<p><strong>Week 5</strong></p>
<p>Methodology: Critical Fans Ethnography</p>
<ul>
  <li>"<a href="https://journal.transformativeworks.org/index.php/twc/article/view/1498/2161">Enclaving and Cultural Resonance in Black <cite>Game of Thrones</cite> Fandom</a>” by Sarah Florini.</li>
</ul>

<p>Critical Fan Ethnography Lab</p>
<ul>
  <li>“Restorying the Self: Bending Toward Textual Justice” by Ebony Elizabeth Thomas and Amy Stornaiuolo</li>
  <li><strong>LAB: Community Ethnography</strong>. Write observation notes about particular practices in film <cite>Paris is Burning</cite>. Discuss ethical possibilities and how our positionalities may impact our interpretation of the film.</li>
</ul>

<p><strong>Week 6</strong></p>
<p>Methodology: Critical Fan Case Study</p>
<ul>
  <li>“<a href="https://ccdigitalpress.org/book/expanding/ch4_kate/trajectories_ch4.01.html">A Lengthy Trajectory of Interplays: Interweaving English Studies and Fan Fiction</a>” by Kevin Roozen</li>
</ul>

<p>Data Collection Lab</p>
<ul>
  <li>“<a href="https://www.sciencedirect.com/science/article/abs/pii/S8755461510000800">Twilight is so anti-feminist that I want to cry:” Twilight fans finding and defining feminism on the World Wide Web</a>” by Sarah Summers.</li>
  <li><strong>LAB: Data Collection</strong>. In what ways can we collect data?</li>
    <ul>
      <li>Textual artifacts: TAGS (Twitter Archiving Google Sheets); corpus building; AO3 scrapers.</li>
      <li>Quantiataive data: FandomStats.Org; DestinationToast!</li>
      <li>Recruiting subjects: Surveys; interviews.</li>
    </ul>
  <li><strong><a href="#ass2">Assignment 2 First Draft Due.</a></strong>.</li>
</ul>

<p><strong>Week 7</strong></p>
<p>Method: Surveys</p>
<ul>
  <li>“<a href="https://journal.transformativeworks.org/index.php/twc/article/view/258/242">Outside oneself in "World of Warcraft": Gamers' perception of the racial self-other</a>” by Thomas D. Rowland and Amanda Barton</li>
</ul>

<p>Survey Lab</p>
<ul>
  <li><strong>LAB: Survey Design and Collection</strong>. Using Google Forms, create group surveys to pass around to your colleagues. Then, analyze your results by close reading and using visualizations.</li>
  <li><strong><a href="#ass2">Assignment 2 Final Draft Due</a></strong>.</li>
</ul>

<p><strong>Week 8</strong></p>
<p>Method: Interviews</p>
<ul>
  <li>“<a href="https://journal.transformativeworks.org/index.php/twc/article/view/207">When normal and deviant identities collide: Methodological considerations of the pregnant acafan</a>” by Mary Ingram-Waters</li>
  <li><strong>Homework</strong>: You will create short interviews to interview your peers (5 mins or less). Then, you will interview one peer and use an audio-recorder. Transcribe this interview and bring it to class.</li>
</ul>

<p>Interviews Lab</p>
<ul>
  <li><strong>LAB: NVivo for Qualitative Analysis</strong>. You will learn how to use NVivo for qualitative coding, specifically the interview you transcribed for homework.</li>
</ul>

<p><strong>Week 9</strong></p>
<p>Method: Data Analytics</p>
<ul>
  <li>“<a href="http://gamestudies.org/1803/articles/brubaker_dym_fiesler">theyre all trans sharon”: Authoring Gender in Video Game Fan Fiction</a> by Brianna Dym, Jed Brubaker, Casey Fiesler</li>
</ul>

<p>Data Analytics Lab</p>
<ul>
  <li><a href="https://destinationtoast.tumblr.com/">Destination: Toast!</a> On fandom stats and how <a href="https://destinationtoast.tumblr.com/post/137065429834/how-do-i-findgather-data-about-the-ships-in-my">they collect and analyze their statistics</a>.
  <li><strong>LAB: Analyze AO3 Fandom Using Toast’s Approach and FandomStats.Org</strong>. Using Google Sheets or Excel, we will do the activity “<a href="{{url_for('cfp_activity_fanstats')}}">Compare Fandom Data</a>.”</li>
</ul>

<p><strong>Week 10</strong></p>
<p>Method: Computational Text Analysis</p>
<ul>
  <li>“<a href="https://wac.colostate.edu/docs/jwa/vol3/messina.pdf">Tracing Fan Uptakes: Tagging, Language, and Ideological Practices in The Legend of Korra Fanfictions</a>” by Cara Marta Messina</li>
  <li><strong><a href="#ass3">Assignment 3 First Draft Due</a>.</strong></li>
</ul>

<p>Computational Text Analysis Lab</p>
<ul>
  <li><strong>LAB: Computational Text Analysis</strong>. LAB: Computational Text Analysis
Using Voyant and Lexos, we will practice computational text analysis methods, including word frequencies, collocation, and more.</li>
<li><strong><a href="#ass3">Assignment 3 Final Draft Due</a>.</strong></li>
</ul>

<p><strong>Week 11</strong></p>
<p>Writing Lab: This last week will focus on going back through the methodologies and methods we learned this semester; you will also have time to work on your final projects in class.</p>

<p>Writing Lab</p>
<ul>
  <li><strong>LAB: Computational Text Analysis</strong>. LAB: Computational Text Analysis
Using Voyant and Lexos, we will practice computational text analysis methods, including word frequencies, collocation, and more.</li>
</ul>

<p><strong>Week 12</strong></p>
<p>Final Assignment Presentations.</p>

<p>Final Assignment Presentations. <strong><a href="#ass4">Final Assignment Due on (date)</a></strong>.</p>


{% endblock %}
