{% extends 'layout.html' %}
{% block body %}
<h1>Critical Fan Research Project</h1>
<p>This semester-long project, which has three arcs, asks students to step into the role of researchers and conduct their own research of critical fan genres and practices. They will develop qualitative and quantitative methods and a better understanding for online research ethics.</p>
<p>While this project is a three-assignment arc, students may also want to write journal entries along the way to keep track of their progress and describe what they have done/found so far.</p>

<h2>Assignment 1: Critical Fan Research Proposal</h2>
<p>Based on some of the forms of research we have learned so far as well as upcoming methods, write a proposal about the type of fandom research you hope to conduct for your third assignment. Specifically, how do the fan practices/communities/texts/genres you are researching reinforce or resist hegemonic cultures?</p>
<ul>
  <li>What research question do you want to answer?</li>
  <li>Which scholars do you plan on engaging with?</li>
  <li>What theoretical frameworks (either fan studies or other disciplines) will you incorporate and how?</li>
  <li>What research ethics will you commit to for your project?</li>
  <li>Which research methods will you use to answer your questions? You can use multiple methods!</li>
  <li>What type of data will you collect? Why did you choose this data? How will you collect this data? How will you analyze your data, using your theories to drive your analysis?</li>
</ul>

<p><strong>If you are interested in conducting a qualitative/quantitative mixed methods study,</strong> we will be learning some tips for data collection as well as how this data does or does not represent community norms. You can explore larger patterns in the community, which you may find in the analytics or through forms of data scraping or large data collection. How do these patterns reify or resist hegemonic cultures? Then, you will use more qualitative-based research methods, such as conducting a survey or interview, to examine particular textual choices made by critical fans that may conform or resist these patterns in the larger community. We will learn ways to collect data from Archive of Our Own and Twitter (using TAGs). We will also discuss ethical forms of data collection and analysis. Since we may be outsiders going into communities, we must take extra care when interacting with or speaking with different fans.</p>

<h2>Assignment 2: Critical Fan Research Progress Update</h2>
<p>Because research is a long and often difficult process, your third assignment will provide you with an opportunity to update me with what you have done so far. This way, you can be sure to start your data collection and potentially do some preliminary analysis. This genre is a bit strange, as updates and progress genres are not usually what we see when we read research articles. For this update, though, I want you to:</p>
<ul>
  <li>Describe what you have done so far. What data have you collected? How have you collected it?</li>
  <li>Point to some specific data: What are some interesting pieces of data you have already collected?</li>
  <li>Share preliminary results: What are some interesting findings that are already popping up? This is your chance to begin coming up with larger themes that your final paper will tackle.</li>
  <li>Reflect on the process so far: What are some challenges you are facing? What is becoming easier?</li>
  <li>Technologies: What technologies have you decided to incorporate? If it is not something we have learned yet, what have you been using in the meantime?</li>
</ul>

<h2>Final Assignment: Critical Fan Research Presentation and Paper</h2>
<p>Based on your proposal, you will conduct your own research! Because it will take time to do ethical data collection, this will be your final assignment. Your final assignment will be both a presentation that you will present in the last week of class as well as a shorter written paper/textual artifact. This may include a small digital application you designed or built!</p>

{% endblock %}
