{% extends 'layout.html' %}

{% block body %}

<h1>Dissertation Acknowledgements</h1>
<p>Typically, dissertation acknowledgements usually come <em>after</em> a dissertation is produced, but this on-going project could not have been done without the help of or inspiration from so many. This list will continue to grow for a long time.</p>

<ul>
  <li>Dr. William Reed Quinn</li>
  <li>Mya Poe</li>
  <li>Ellen Cushman</li>
  <li>Neal Lerner</li>
  <li>Laura Nelson</li>
  <li>Ash Clarke</li>
  <li>Abbie Levesque</li>
  <li>Alanna Prince</li>
  <li>Avery Blankenship</li>
  <li>Amanda Visconti</li>
  <li>Ebony Elizabeth Thomas</li>
  <li>Avey Nelson</li>
  <li>Aria</li>
  <li>Dialux</li>
  <li>Gillywulf</li>
  <li>Kittya Cullen</li>
  <li>Valk</li>
  <li>WriteGirl</li>
  <li>Norbert Eliot</li>
  <li><a href="https://www.youtube.com/playlist?list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH">Corey Schafer's Flask Tutorial</a></li>
  <li><a href="https://www.youtube.com/watch?v=FKy21FnjKS0&t=741s">Pretty Printed for MySQL instructions and remote servers</a></li>
  <li><a href="https://www.youtube.com/watch?v=zRwy8gtgJ1A&t=494s">Traversy Media for creating a Flask app</a></li>
</ul>

{% endblock %}
