{% extends 'layout.html' %}

{% block body %}

<h1>About Cara Marta Messina</h1>
<p>Cara Marta Messina [she/her] is a fourth year doctoral candidate focusing on Writing and Rhetoric in Northeastern University’s English Department. Her focus is Writing Studies and New Media, particularly fan genres and publics. Her research interests include–but are not limited to–fan studies, critical digital pedagogy, digital humanities, digital rhetoric, and representations of counternormative narratives.</p>

<p>Outside of her work, Cara watches a bit too much Sailor Moon and brings her pup, Efi, everywhere. Her hobbies revolve around reading, gaming, falling into coding holes, boxing, and imagining that she will someday make her own cosplays. She loves her friends dearly and believes professional and academic settings should celebrate friendships and kinships.</p>

<p>Fandoms she currently or previously belonged to:
  <ul>
    <li>Sailor Moon</li>
    <li>The Legend of Korra</li>
    <li>Avatar: The Last Airbender</li>
    <li>The Marvel Cinematic Universe</li>
    <li>Game of Thrones</li>
    <li>The Witcher (Netflix series)</li>
    <li>The Dragon Prince</li>
    <li>Death Note</li>
    <li>Yu Yu Hakusho</li>
    <li>Overwatch</li>
    <li>Buffy the Vampire Slayer</li>
    <li>Angel</li>
    <li>To be continued</li>
    </ul>

{% endblock %}
