{% extends 'layout.html' %}

{% block body %}
<h1>Computational Essays</h1>

<p>The computational essay is usually a markdown notebook that explains coders' particular choices while working with data, as well as describes some of the results. The computational essays created for this dissertation are made available for transparency purposes. This way, you can follow along with the choices made while preparing, analyzing data and interpreting results.</p>
<p>All computational essays available for download on my <a href="https://github.com/caramessina/CriticalFanToolkit_DataAnalysis">"Critical Fan Toolkit Data Analysis" GitHub repository</a>.</p>

<h2><a href="{{url_for('dis_computational_essays_dataPrep')}}">Preparing Fanfiction Data</a></h2>
<p>This computational essay demonstrates how to transform data collected from <cite>Archive of Our Own</cite>.

<h2><a href={{url_for('dis_computational_essays_metadata')}}>Character and Shipping Analytics</a></h2>
<p>This computational essay demonstrates how to play with some of the metadata from AO3, especially most used characters and relationships at different points. For example, which characters were most popular in <cite>The Legend of Korra</cite> before and after Korra and Asami's romantic relationship became canon?

<h2><a href={{url_for('dis_computational_essays_tagExploration')}}>Exploring Additional Tags</a></h2>
<p>This computational essay builds off the previous computational essay and examines the "Additional Tags," which are author-selected tags. There are several Additional Tags that are widely used, while there are some that are unique to particular stories. Additional Tags help authors to reach their potential audience and help readers to find their ideal fanfics.</p>

<h2><a href={{url_for('dis_computational_essays_textualData')}}>Preparing Textual Data</a></h2>
<p>This computational essay demonstrates how to prepare textual data using stemming and tokenizing in order to prepare it to be analyzed.</p>

<h2><a href={{url_for('dis_computational_essays_network')}}>Network Analysis of Additional Tags</a></h2>
<p>This computational essay shows step by step how I used the "Additional Tags" metadata to create a network analysis of tags that are often use together. I transform the data into a matrix, which shows how often particular additional tags co-occur, and then transform that into nodes and edges data. This method can be used on much of the metadata from AO3, including characters and relationships.</p>

<h2><a href={{url_for('dis_computational_essays_missandei')}}>Missandei Deserves Better</a></h2>
<p>This computational essay demonstrates and explains how I analyzed data for the "<a href="{{ url_for('bp_missandei') }}">Missandei Deserves Better</a>" case study.</p>

<h2><a href={{url_for('dis_computational_essays_w2v')}}>Word Embedding Model</a></h2>
<p>This computational essay shows how I used the textual data from <cite>The Legend of Korra</cite> fanfictions to create a word embedding model for the "<a href="{{ url_for('bp_korrasami') }}">Ship is canon!</a>" case study.</p>

<h2><a href={{url_for('dis_computational_essays_XML')}}>XML Parser</a></h2>
<p>This computational essay demonstrates and explains how I parsed the XML data from the interviews that I qualitatively coded. It describes step by step how to pull XML data and transform that data, especially attribute values, into a dictionary and then a dataframe. Using this dataframe, I create a co-occurrence matrix and a correlation matrix, which can be found in "<a href="{{ url_for('interview_viz') }}">Qualitative Coding Visualizations".</a></p>

{% endblock %}
