{% extends 'layout.html' %}

{% block body %}
<h1>Dissertation Materials</h1>
<p>This portion of the CFT describes the meta-work of creating this project. The more expected dissertation writing can be found here.</p>

<div class="interview-grid">
  <section>
    <h2><a href="{{ url_for('dis_abstract') }}">Abstract</a></h2>
  <p>The abstract of this dissertation that describes the overall approach, intervention, and implications of this project. This is also the abstract avaialable on ProQuest.</p>
  </section>

  <section>
    <h2><a href="{{ url_for('dis_framework') }}">Framework</a></h2>
  <p>The overall theoretical frameworks I employ and how these theories work together. These theoretical frameworks I use are critical fan studies, rhetorical genre studies, and feminism/anti-racism.</p>
  </section>

  <section>
    <h2><a href="{{ url_for('dis_lit_review') }}">Literature Review</a></h2>
  <p>I review the literature, specifically as it pertains to this project's frameworks. I trace the history of fan studies, critical fan studies, and rhetorical genre studies. (coming soon)</p>
  </section>

  <section>
    <h2><a href="{{ url_for('dis_ethics') }}">Ethics and Commitments</a></h2>
  <p>I commit to feminist research praxis, specifically feminist ethics in regards to online research. I engage with scholars who try to ensure they benefit the communities we research.</p>
  </section>

  <section>
    <h2><a href="{{ url_for('dis_methods') }}">Methods</a></h2>
  <p>I describe my methodologies — feminism and multiple-case studies — and process for data collection and analysis. I use qualitative and quantiative data and employ mixed methods. (more to come!)</p>
  </section>

  <section>
    <h2><a href="{{ url_for('dis_implications') }}">Implications</a></h2>
  <p>I describe the implications of this dissertation, especially for writing studies and rhetorical genre studies. I frame "critical uptake" as an important RGS intervention to de-mystify the writing process and ideologies embedded in our genres and uptakes.</p>
  </section>

  <section>
    <h2><a href="{{ url_for('dis_computational_essays') }}">Computational Essays</a></h2>
  <p>This series of computational essays show and document the Python coding used to transform, analyze, and visualize data. I invite others to use and follow my code.</p>
  </section>

  <section>
    <h2><a href="{{ url_for('dis_acknowledgements') }}">Acknowledgements</a></h2>
  <p>I take time to acknowledge the collective labor that helped make the CFT possible. The acknowledgements are always the most fun part to write!</p>
  </section>

  <section>
    <h2><a href="{{ url_for('dis_about_cara') }}">About Cara</a></h2>
  <p>I provide a brief bio about myself and my positionality as a scholar and fan.</p>
  </section>
</div>

{% endblock %}
