{% extends 'layout.html' %}

{% block body %}
<h1>About This Dissertation</h1>
<p>This portion of the CFT describes the meta-work of creating this project. The more expected dissertation writing can be found here.</p>

<div class="interview-grid">
  <section>
    <h2>Framework</h2>
  <p>The overall theoretical frameworks I employ and how these theories work together. These theoretical frameworks I use are critical fan studies and rhetorical genre studies.</p>
  <a class="button" href="{{ url_for('dis_framework') }}">Framework</a>
  </section>

  <section>
    <h2>Literature Review</h2>
  <p>I review the literature, specifically as it pertains to this project's frameworks. I trace the history of fan studies, critical fan studies, and rhetorical genre studies. (coming soon)</p>
  <a class="button" href="{{ url_for('dis_lit_review') }}">Lit Review</a>
  </section>

  <section>
    <h2>Ethics and Commitments</h2>
  <p>I commit to feminist research praxis, specifically feminist ethics in regards to online research. I engage with scholars who try to ensure they benefit the communities we research.</p>
  <a class="button" href="{{ url_for('dis_ethics') }}">Research Ethics</a>
  </section>

  <section>
    <h2>Methods</h2>
  <p>I describe my methodology — multiple-case studies — and process for data collection and analysis. I use qualitative and quantiative data and employ mixed methods. (more to come!)</p>
  <a class="button" href="{{ url_for('dis_methods') }}">Methods</a>
  </section>

  <section>
    <h2>Computational Essays</h2>
  <p>This series of computational essays show and document the Python coding used to transform, analyze, and visualize data. I invite others to use and follow my code.</p>
  <a class="button" href="{{ url_for('dis_computational_essays') }}">Computational Essays</a>
  </section>

  <section>
    <h2>Acknowledgements</h2>
  <p>I take time to acknowledge the collective labor that helped make the CFT possible. The acknowledgements are always the most fun part to write! (More coming soon)</p>
  <a class="button" href="{{ url_for('dis_acknowledgements') }}">Acknowledgements</a>
  </section>
</div>

{% endblock %}
