{% extends 'layout.html' %}

{% block body %}
  <h1>Critical Fan Pedagogy Resources for Instructors</h1>

  <section>
  <h2>Teaching Materials</h2>
  <ul>
    <li><a href="{{ url_for('cfp_syllabus01') }}"><strong>Syllabus: Critical Fan Research Methods</strong></a> This syllabus is an introduction to fan studies and critical fan studies. In this course, students will learn how fans are always-already resisting systems of oppression. They will first learn the basic history of fan studies, and then use this disciplinary space to engage with empirical research methods (case studies, data analytics, computational text analysis, etc.). This course may be repurposed across multiple fields: Fan Studies, New Media, Rhetoric, Composition, Digital Humanities, Sociology, and Communication.</li>
    <li><strong>Assignment: Critical Fan Research Project</strong> Based on the assignment provided in the above syllabus, this assignment asks students to step into the role of researchers and conduct their own research of critical fan genres and practies (COMING SOON).</li>
    <li><strong>Assignment: Restorying for Justice</strong> Based on Thomas and Stornaiolou’s  “Restorying the Self: Bending Towards Textual Justice.” this assignment asks students to write a fanfiction that restories a cultural material towards textual justice (COMING SOON). </li>
    <li><strong>Assignment: remiXML: Restorying as Data Structures</strong> This longer assignment asks students to learn how to annotate and encode a document using an XML schema called remiXML. Students learn the basics of XML grammar, theories around data modeling and coding practices, and engage with important coding technologies like Oxygen and GitHub. This assignment is a method for teaching technical writing, while also encouraging critically analyzing and restorying texts through play (COMING SOON).</li>
    <li><strong>Activity: Space, Place, and Movement</strong> In this activity, students first watch or read a text that heavily centers the relationship between place, politics, and movement; then, together map out the different spaces to where the characters travel and how their politics/relationships/ideologies shift. The example provided is <em>Mad Max: Fury Road</em> (COMING SOON).</li>
  </ul>

  </section>


  <section>

<h2>About these material</h2>
<p>This list of teaching materials has been created for the purposes of being used across classrooms and grades. Most of these assignments and activities were used in First Year Writing classrooms, and the syllabus was created with the intention of one day teaching a  course on critical fans. Each teaching material addresses potential concerns and issues, especially around digital ethics, that may arise.</p>

<h2>Why Critical Pedaoggy?</h2>

<p>Integrating critical fan pedagogy in traditional classroom spaces is one way to engage students' critical thinking skills, demonstrating how what they consume everyday impacts their perspective on the world. Critical fan pedagogies can also be a vehicle for getting students to engage with research methods in online spaces that they may be more familiar with. Finally, critical fan pedagogy centers student agency, showing students that resisting systems of oppression is something <em>anyone</em> can do and, as Thomas and Stornaiuolo say, "they engage in new forms of becoming."</p>

<h2>Context of Materials</h2>

<p>While these materials were initially created to be used in college and university classrooms, they may be adapted to different contexts. The syllabus is designed for an upper-level undergraduate Research Methods course in Rhetoric and Composition. Aspects of the syllabus, however, may be redesigned depending on the discipline or student level. The syllabus has different modules and labs that may be appropriated for other spaces. The assignments and activities provided are also fairly flexible and easy to remake for different contexts.</p>

<p>I do want to reiterate the importance of critical fan pedagogy in K-12 settings, especially when working with children. I am not a K-12 educator, so I cannot say exactly what critical fan pedagogy may look like in K-12 classrooms, so instead will look to other experts. As Ebony Elizabeth Thomas and Amy Stornaiuolo (2016) point out, fan literacies and  pedagogies are integral for K-12 teaching. They argue:</p>
<blockquote>
  “We submit that attending to young people’s digital practices, especially their imaginative play with new tools and audiences as they restory themselves, can help push schools and educators to imagine new possibilities. These possibilities extend beyond textuality, and the struggle over whose stories are told and circulated, to the positions that educators take up in relation to authors and narratives. When youth are invited to push back, to reimagine, and to restory the world from their own perspectives, they engage in new forms of becoming.”
</blockquote>
<p>In her book <em>The Dark Fantastic</em>, Thomas reiterated the importance representation plays in childhood development. She specifically points the "imagination gap" in hegemonic cultures, in which particular groups of people-- usually Black, Indigenous, People of Color (BIPOC)--are represented in only a handful of ways. This imagination gap reifies to young BIPOC children that there are limitations for what they can do. For Thomas, representation is critical for addressing this imagination gap and resisting the systems that may attempt to silence or hinder BIPOC children. Critical fan pedagogy is one method to have students think through hegemonic representations, but also actively resist the imagination gaps themselves. </p>
</section>


{% endblock %}
