{% extends 'layout.html' %}

{% block body %}

  <h1>Teaching & Learning Resources</h1>
  <p>Much of this dissertation has defined critical fan practices and uptakes, examining overall trends in two fandoms as well as speaking with fans who incorporate critical fan practices in their work. For instructors working with students every day, how can we bring these themes and ideas into traditional classroom? What is critical fan pedagogy? What may some assignments or a syllabus look like? How can we assess writers’ critical fan practices in the classroom? What challenges may we run into?</p>
  <p>While critical fan pedagogy’s theoretical and content framework focuses on critical fan practices, writers can also use this pedagogy to learn data literacies and research using fandom communities they either belong to or are invested in. The approach on methods in this pedagogy can be applied in traditional classroom settings or by fans invested in critical practices.</p>
  <hr>
  <div class="teaching-grid">
    <section>
      <h3>Defining Critical Fan Pedaogy</h3>
      <p>This section introduces critical fan pedagogy, which can be incorporated in both traditional classroom settings or as a “self-pedagogy” (Pritchard, 2018) Specifically, this section will look at fan and pedagogy scholars who discuss forms of fan and critical pedagogy to merge the different approaches.</p>
      <a class="button" href="{{ url_for('about_cfp') }}">Defining Critical Fan Pedagogy</a>
        </section>
    <section>
      <h3>CFP Resources For Instructors</h3>
      <p>This section shares a list of teaching materials, from a critical fan syllabus, to assignments, to hands-on activities, that can be incorporated in the classroom or beyond. Because these resources are published, you are welcome to use them (with citations, of course) and scale them as needed based on classroom context.</p>
      <a class="button" href="{{ url_for('cfp_resources_instructors') }}">Instructor Resources</a>
      </section>
  </div>
<h2>Critical Fan Pedagogy Definition</h2>
<p><strong>Critical fan pedagogy</strong> cultivates and strengthens critical awareness through fans' participation in fan genres and communities. This participation is a form of praxis, or the embodiment of theory in practice; praxis is central to fan communities, as there are fan politics and theories that shape community building and participation. Through these critical social actions, fans can actively resist dominant ideologies that appear across mainstream cultural materials as well as the very communities in which they participate. In other words, we look to fan practices to define critical fan pedagogy; we look to the work they are always-already creating to better understand how these practices are, in fact, pedagogical.</p>
<p>Pedagogy, in its simplest definition, are the methods and theory that drive teaching and learning. Every teacher has their own pedagogy, some which are explicit and some which are implicit. While pedagogy is mainly discussed in the context of a classroom, teaching and learning does not need to stop there. To read more about critical fan pedagogy, see the <a href="{{ url_for('about_cfp') }}">"Defining Critical Fan Pedagogy"</a> section. </p>



{% endblock %}
